Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*

Testing: mark flaky torsiondrive test as xfail
  qcfractal/queue/managers.py
  qcfractal/tests/test_collections.py
Labels: Compute

Testing: Adds Issue #427 to torsiondrive xfail marker
  qcfractal/tests/test_collections.py
Labels: none

Improved documentation and code comments
  docs/qcfractal/source/managers_samples.rst
  qcfractal/cli/qcfractal_manager.py
  qcfractal/cli/tests/test_cli.py
Labels: Documentation

Fixed tests: nodes_per_task was renamed to nnodes
  qcfractal/tests/test_adapters.py
Labels: none

devtools: sync dockerfiles and prod_envs
  devtools/docker/qcarchive_worker_openff/Dockerfile
  devtools/docker/qcfractal/Dockerfile
  devtools/prod-envs/qcf-manager-openff.yaml
  devtools/prod-envs/qcf-snowflake.yaml
  devtools/prod-envs/qcfractal.yaml
Labels: none

devtools: rename prod-envs to match docker
  devtools/prod-envs/qcarchive_worker_openff.yaml
  devtools/prod-envs/qcfractal_snowflake.yaml
  docs/qcfractal/source/quickstart.ipynb
Labels: Documentation

devtools: change dockerfiles to use prod-envs and fix names of prod-envs
  devtools/docker/qcarchive_worker_openff/Dockerfile
  devtools/docker/qcfractal_snowflake/Dockerfile
  devtools/prod-envs/qcarchive_worker_openff.yaml
  devtools/prod-envs/qcfractal_snowflake.yaml
Labels: none

docs: fix typo
  docs/qcfractal/source/quickstart.ipynb
Labels: Documentation

devtools: fixes to dockerfiles
  devtools/README.md
  devtools/docker/qcarchive_worker_openff/Dockerfile
  devtools/docker/qcfractal_snowflake/Dockerfile
Labels: none

devtools: pin python version and add dashboard to fractal
  devtools/prod-envs/qcarchive_worker_openff.yaml
  devtools/prod-envs/qcfractal.yaml
  devtools/prod-envs/qcfractal_snowflake.yaml
Labels: none

make format
  qcfractal/cli/qcfractal_manager.py
  qcfractal/cli/tests/test_cli.py
  qcfractal/queue/managers.py
  qcfractal/tests/test_adapters.py
Labels: Compute

Collections: Allows subset status queries, fixes #514
  qcfractal/interface/collections/collection.py
  qcfractal/tests/test_collections.py
Labels: Interface

Client: delete collection
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_collections.py
  qcfractal/web_handlers.py
Labels: Database, Interface

Client: fix list_collections for 0 results
  qcfractal/interface/client.py
  qcfractal/tests/test_collections.py
  qcfractal/web_handlers.py
Labels: Interface

Lint and docs
  qcfractal/interface/client.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database, Interface

Unshadow filter
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Update CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: none

Added ability to specify cores per MPI rank
  docs/qcfractal/source/managers_samples.rst
  qcfractal/cli/qcfractal_manager.py
  qcfractal/cli/tests/test_cli.py
  qcfractal/queue/base_adapter.py
  qcfractal/queue/managers.py
  qcfractal/tests/test_adapters.py
  qcfractal/tests/test_managers.py
Labels: Compute, Documentation

Fixed a broken test
  qcfractal/tests/test_managers.py
Labels: none

Testing: Updates for coverage 5.0 SQL database file
  qcfractal/testing.py
Labels: none

Examples: Removes folder, examples are out of date and not tested. Duplicates in other documentation sections
  devtools/old_migrations/SQLAlchemy_Setup.md
  examples/local_dataset/README.md
  examples/local_dataset/build_database.py
  examples/local_dataset/compute_database.py
  examples/local_dataset/query_database.py
  examples/local_dataset/reset_server.py
  examples/parsl_torsiondrive/README.md
  examples/parsl_torsiondrive/compute_torsion.py
  examples/parsl_torsiondrive/parsl_manager.py
  examples/parsl_torsiondrive/query_torsion.py
  examples/parsl_torsiondrive/reset_server.py
  examples/test_examples.py
Labels: none

Adds a linting setup.py install and blacks the file.
  setup.py
Labels: none

CI: Adds a lint checker to PRs
  .github/workflows/Lint.yml
  Makefile
Labels: none

Collections: Better testing of subset queries and more accurate optimization counts
  qcfractal/interface/collections/collection.py
  qcfractal/interface/collections/optimization_dataset.py
  qcfractal/tests/test_collections.py
Labels: Interface

Docker: fix entrypoint of openff worker
  devtools/docker/qcarchive_worker_openff/Dockerfile
Labels: none

Makefile: enable isort
  Makefile
  qcfractal/cli/tests/test_cli.py
  qcfractal/dashboard/pages/landing.py
  qcfractal/interface/collections/dataset_view.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_adapters.py
Labels: Database, Interface

cli: remove commented code and unused import that upset isort/black
  qcfractal/cli/tests/test_cli.py
Labels: none

make format
  qcfractal/interface/collections/optimization_dataset.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_managers.py
Labels: Interface

Queue: ProcessPoolExecutor now correctly counts running tasks
  qcfractal/queue/executor_adapter.py
  qcfractal/tests/test_adapters.py
Labels: Compute

Queue: Updates client running task count to be parametrizable locally
  qcfractal/queue/parsl_adapter.py
  qcfractal/tests/test_adapters.py
Labels: Compute

Testing: Client count now allows a variable amount of time to pass
  qcfractal/tests/test_adapters.py
Labels: none

Queue: Makes a stated change between workers, task_slots, and active tasks
  manager_config.yaml
  qcfractal/cli/qcfractal_manager.py
  qcfractal/dashboard/dash_models.py
  qcfractal/dashboard/pages/landing.py
  qcfractal/procedures/procedures.py
  qcfractal/queue/base_adapter.py
  qcfractal/queue/executor_adapter.py
  qcfractal/queue/managers.py
  qcfractal/queue/parsl_adapter.py
  qcfractal/testing.py
  qcfractal/tests/test_adapters.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_procedures.py
Labels: Compute

Collections: RDS test needs to call use view, otherwise always skipped
  qcfractal/tests/test_collections.py
Labels: none

Lint: Removes isort from the automated formatting
  Makefile
Labels: none

Collections: RDS patch for cp interaction energies
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/collections/reaction_dataset.py
  qcfractal/tests/test_collections.py
Labels: Interface

Collections: Fixes stoich with rds views
  qcfractal/interface/collections/reaction_dataset.py
Labels: Interface

Collections: Fixes the reaction dataset get_values case where there are no found queries
  qcfractal/interface/collections/reaction_dataset.py
  qcfractal/tests/test_collections.py
Labels: Interface

Queue: Removes the ability to check executor active tasks, very flakey
  qcfractal/queue/executor_adapter.py
  qcfractal/tests/test_adapters.py
Labels: Compute

Dashboard: Minor tweaks to import interfaace and task display
  qcfractal/dashboard/__init__.py
  qcfractal/dashboard/dash_models.py
Labels: none

Scripts: Adds logs and managers to staging generation
  devtools/scripts/create_staging.py
Labels: none
