Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

More flask integration with APscheduler and mocks in tests
  devtools/conda-envs/generate_envs.py
  qcfractal/app/config.py
  qcfractal/app/exceptions.py
  qcfractal/app/routes.py
  qcfractal/server.py
  qcfractal/snowflake.py
  qcfractal/testing.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_storage.py
  setup.py
Labels: none

test_server passing, change to responses mock package
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/testing.py
  qcfractal/tests/test_server.py
Labels: Interface

Remove db_type from socket factory (one DB type only)
  qcfractal/tests/test_server.py
Labels: none

Make JWT tokens optional using JWT_DISABLED env variable (for testing)
  qcfractal/server.py
Labels: none

tests_storage pass, add lib responses instead on requets_mock
  devtools/conda-envs/base.yaml
  devtools/old_migrations/drop_procedures.py
  devtools/scripts/create_staging.py
  qcfractal/app/routes.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/storage_socket.py
  qcfractal/testing.py
  qcfractal/tests/test_storage.py
  qcfractal/try.py
  setup.py
Labels: Database

Pin gau2grid to 2.0.3
  devtools/conda-envs/openff.yaml
Labels: none

Use custom decorator check_access in JWT to allow security and allow_read
  qcfractal/app/__init__.py
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/server.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface

Add JWT token to client, test_auth passing
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/tests/test_authentication.py
Labels: Interface

Test_client passing - flask to handle python exceptions
  qcfractal/app/routes.py
  qcfractal/tests/test_client.py
Labels: none

Python Error handling as JSON
  qcfractal/app/routes.py
  qcfractal/server.py
  qcfractal/tests/test_client.py
Labels: none

Implement JWT token refresh with tests
  qcfractal/app/config.py
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_authentication.py
Labels: Database, Interface

Code linting
  qcfractal/app/__init__.py
  qcfractal/app/config.py
  qcfractal/app/exceptions.py
  qcfractal/app/routes.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/interface/client.py
  qcfractal/policyuniverse/policy.py
  qcfractal/policyuniverse/statement.py
  qcfractal/server.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
  qcfractal/tests/authorization/test_policy.py
  qcfractal/tests/authorization/test_statement.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_storage.py
  qcfractal/try.py
Labels: Database, Interface

Force newer version of pyarrow
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  setup.py
Labels: none

starts improving the documentation
  docs/qcportal/source/collection-dataset.rst
  docs/qcportal/source/collection-optimization.rst
  docs/qcportal/source/collection-reactiondataset.rst
  docs/qcportal/source/collections.rst
  docs/qcportal/source/install.rst
Labels: Documentation

Allow setting id in KVStore.compress
  qcfractal/interface/models/common_models.py
Labels: Interface

Use _insert_general for keywords
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Add metadata dataclasses for storage functions
  qcfractal/storage_sockets/storage_meta.py
Labels: Database

Add ability to convert orm->pydantic via orm class
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/storage_utils.py
Labels: Database

Rework kvstore to use new functions
  qcfractal/procedures/base.py
  qcfractal/procedures/single.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/storage_utils.py
  qcfractal/tests/test_storage.py
Labels: Database

Add function do delete kvstore rows
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_storage.py
Labels: Database

Small cleanup in sqlalchemy socket
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Write common upsert/insert functions
  qcfractal/storage_sockets/sqlalchemy_common.py
Labels: Database

Add function to base ORM to get autoincrement pkeys
  qcfractal/storage_sockets/models/sql_base.py
Labels: Database

Use update_services inside services_completed
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Handle orphan kv_store better
  qcfractal/procedures/optimization.py
  qcfractal/procedures/procedures_util.py
  qcfractal/procedures/single.py
  qcfractal/services/gridoptimization_service.py
  qcfractal/services/service_util.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database, Service

Add unique indices to baseresult kv_store foreign keys
  qcfractal/alembic/versions/49dcbd2f3abd_add_unique_indices_to_stdout_stderr_.py
  qcfractal/storage_sockets/models/results_models.py
Labels: Database

Fix anonymous user access
  qcfractal/app/routes.py
Labels: none

edits up to the beginning of the Fractal Client section
  docs/qcportal/source/client-add-query.rst
  docs/qcportal/source/client.rst
  docs/qcportal/source/collection-dataset.rst
  docs/qcportal/source/collection-optimization.rst
  docs/qcportal/source/collection-tasks.rst
  docs/qcportal/source/collection-torsiondrive.rst
  docs/qcportal/source/record-optimization.rst
  docs/qcportal/source/record-overview.rst
  docs/qcportal/source/record-result.rst
Labels: Documentation

finishes the first draft of improved documentation
  docs/qcportal/source/collection-dataset.rst
  docs/qcportal/source/collection-optimization.rst
  docs/qcportal/source/collection-reactiondataset.rst
  docs/qcportal/source/collection-torsiondrive.rst
Labels: Documentation

Add flask SSL, add manager executor
  qcfractal/app/__init__.py
  qcfractal/app/config.py
  qcfractal/app/routes.py
  qcfractal/server.py
  qcfractal/snowflake.py
Labels: none

finalizes the document improvement
  docs/qcportal/source/client-add-query.rst
  docs/qcportal/source/client.rst
  docs/qcportal/source/collection-dataset.rst
  docs/qcportal/source/collection-optimization.rst
  docs/qcportal/source/collection-reactiondataset.rst
  docs/qcportal/source/collection-tasks.rst
  docs/qcportal/source/collection-torsiondrive.rst
  docs/qcportal/source/collections.rst
  docs/qcportal/source/install.rst
  docs/qcportal/source/record-optimization.rst
  docs/qcportal/source/record-overview.rst
Labels: Documentation

SSL and periodics calls working (except manager)
  qcfractal/interface/client.py
  qcfractal/server.py
  qcfractal/testing.py
Labels: Interface

Fix routers merge with master handlers
  qcfractal/app/routes.py
Labels: none

Export RecordStatusEnum in models
  qcfractal/interface/models/__init__.py
Labels: Interface

Improve error flow for errored calculations
  qcfractal/procedures/__init__.py
  qcfractal/procedures/failure.py
  qcfractal/procedures/optimization.py
  qcfractal/procedures/procedures_util.py
  qcfractal/procedures/single.py
  qcfractal/queue/handlers.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_storage.py
Labels: Compute, Database

First step in manager refactor: move out of server init
  qcfractal/app/config.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/config.py
  qcfractal/qc_queue/managers.py
  qcfractal/server.py
  qcfractal/snowflake.py
  qcfractal/testing.py
  qcfractal/tests/test_adapters.py
  qcfractal/tests/test_compute.py
Labels: none

Requiring python >=3.7, numpy >=1.17
  setup.py
Labels: none

PortalClient initial work
  qcfractal/__init__.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/rest_models.py
  qcfractal/portal/__init__.py
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/__init__.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/collection_utils.py
  qcfractal/portal/collections/optimization_dataset.py
Labels: Interface

Caching prototype in place, getitem access pattern for ProcedureDatasets
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/dataset.py
  qcfractal/portal/collections/optimization_dataset.py
Labels: none

Adjustments on advice from BP
  qcfractal/interface/models/records.py
  qcfractal/portal/cache.py
  qcfractal/portal/collections/collection.py
Labels: Interface

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*
