Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*

Fix most cli tests
  qcfractal/cli/qcfractal_manager.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/cli/tests/qcfractal_config.yaml.template1
  qcfractal/cli/tests/test_cli.py
  qcfractal/port_util.py
  qcfractal/postgres_harness.py
  qcfractal/snowflake.py
  qcfractal/testing.py
  qcfractal/tests/test_managers.py
Labels: none

Add read-only option to session_scope
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Add more dependencies to conda envs
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/openff.yaml
Labels: none

Authorization init version
  qcfractal/server_flask.py
Labels: none

Add JWT token to client, test_auth passing
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/tests/test_authentication.py
Labels: Interface

Add logging of response sizes
  qcfractal/alembic/versions/79604526d271_add_response_bytes_to_access_log.py
  qcfractal/app/routes.py
  qcfractal/storage_sockets/models/sql_models.py
Labels: Database

Remove warning about TestingSnowflake
  setup.cfg
Labels: none

Fix hang in snowflake
  qcfractal/snowflake.py
Labels: none

First step in manager refactor: move out of server init
  qcfractal/app/config.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/config.py
  qcfractal/qc_queue/managers.py
  qcfractal/server.py
  qcfractal/snowflake.py
  qcfractal/testing.py
  qcfractal/tests/test_adapters.py
  qcfractal/tests/test_compute.py
Labels: none

Fix confusing startup logging level stuff
  qcfractal/cli/qcfractal_server.py
Labels: none

Rework subsocket and sqlalchemy a bit more
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/models/sql_base.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_common.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/keywords.py
  qcfractal/storage_sockets/subsockets/manager.py
  qcfractal/storage_sockets/subsockets/molecule.py
  qcfractal/storage_sockets/subsockets/output_store.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/storage_sockets/subsockets/server_log.py
  qcfractal/storage_sockets/subsockets/user.py
  qcfractal/storage_sockets/subsockets/wavefunction.py
  qcfractal/tests/storage/test_keywords.py
  qcfractal/tests/storage/test_manager.py
Labels: Database

Handle malformed login requests
  qcfractal/app/routes.py
Labels: none

Fix a few more remaining tests
  qcfractal/testing.py
  qcfractal/tests/test_server.py
Labels: none

Fix some more flaky tests
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_services.py
Labels: none

update test_client
  qcfractal/snowflake.py
  qcfractal/tests/test_client.py
Labels: none

Add typing to api_logger
  qcfractal/storage_sockets/api_logger.py
Labels: Database

Only notify of completed tasks after committing results to prevent race conditions
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/result.py
Labels: Database

Rework manager deactivation slightly
  qcfractal/periodics.py
  qcfractal/storage_sockets/subsockets/manager.py
  qcfractal/storage_sockets/subsockets/task.py
Labels: Database

Modify add_user to accept rolename
  qcfractal/server_flask.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Minor fixes and additions for snowflake and postgres stuff
  qcfractal/app/flask_app.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/periodics.py
  qcfractal/postgres_harness.py
  qcfractal/services/service_util.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
  qcfractal/tests/test_storage.py
Labels: Database, Service

Fix logging in policyuniverse
  qcfractal/policyuniverse/policy.py
Labels: none

Test_client passing - flask to handle python exceptions
  qcfractal/app/routes.py
  qcfractal/tests/test_client.py
Labels: none

Rename updated_nested_dict
  qcfractal/config.py
  qcfractal/snowflake.py
Labels: none

Add more stuff to access log
  qcfractal/alembic/versions/9e817a4a5cec_add_user_and_duration_to_logs.py
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/subsockets/server_log.py
Labels: Database, Interface

Cleanup
  qcfractal/server_flask.py
Labels: none

Add authorization related methods.
  qcfractal/server_flask.py
Labels: none

Changed my mind about some options names choices
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/config.py
  qcfractal/postgres_harness.py
  qcfractal/snowflake.py
  qcfractal/testing.py
Labels: none

Improve postgres tools autodetect
  .github/workflows/CI.yml
  qcfractal/config.py
  qcfractal/postgres_harness.py
Labels: none

Fix other warnings
  qcfractal/config.py
  qcfractal/interface/models/records.py
  qcfractal/storage_sockets/models/results_models.py
Labels: Database, Interface

Remove unnecessary extras.py functions
  qcfractal/__init__.py
  qcfractal/app/routes.py
  qcfractal/extras.py
  qcfractal/interface/__init__.py
  qcfractal/interface/client.py
  qcfractal/qc_queue/managers.py
  qcfractal/services/gridoptimization_service.py
  qcfractal/services/torsiondrive_service.py
Labels: Interface, Service

Rework molecule subsocket
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/procedures/optimization.py
  qcfractal/procedures/procedures_util.py
  qcfractal/procedures/single.py
  qcfractal/services/gridoptimization_service.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/molecule.py
  qcfractal/storage_sockets/subsockets/result.py
  qcfractal/storage_sockets/subsockets/server_log.py
  qcfractal/tests/storage/test_molecules.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_sqlalchemy.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface, Service

User and role add methods
  qcfractal/app/routes.py
  qcfractal/policyuniverse/policy.py
  qcfractal/policyuniverse/statement.py
  qcfractal/server.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Enable using NullPool in SQLAlchemy create_engine
  qcfractal/config.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
Labels: Database

Rework server stats a little bit
  qcfractal/alembic/versions/00f7a74dcc37_change_server_stats_collected.py
  qcfractal/storage_sockets/db_queries.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/subsockets/server_log.py
Labels: Database

Add simplified dict() function to base orm
  qcfractal/storage_sockets/models/sql_base.py
Labels: Database

Fix API access logging
  qcfractal/storage_sockets/api_logger.py
Labels: Database

Rename max_compute_workers in snowflake
  qcfractal/snowflake.py
  qcfractal/testing.py
Labels: none

Fix yet another race condition
  qcfractal/procedures/failure.py
  qcfractal/procedures/single.py
Labels: none

Formatting with Black
  qcfractal/storage_sockets/view.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_storage_queries.py
Labels: Database

Remove tornado from manager cli
  qcfractal/cli/qcfractal_manager.py
Labels: none
