Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*

remove unused code
  qcfractal/qc_queue/__init__.py
  qcfractal/qc_queue/handlers.py
  qcfractal/server.py
  qcfractal/server_old.py
  qcfractal/server_old2.py
  qcfractal/try.py
  qcfractal/web_handlers.py
Labels: none

Slight cleanup of a few files
  .gitignore
  mypy.ini
  qcfractal/config.py
  qcfractal/periodics.py
  qcfractal/port_util.py
  qcfractal/postgres_harness.py
Labels: none

Cache conda environments for faster testing
  .github/workflows/CI.yml
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/openff.yaml
Labels: none

Add flask requirements
  setup.py
Labels: none

Initial semi-working flask-first version
  qcfractal/app/__init__.py
  qcfractal/app/config.py
  qcfractal/app/routes.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/common_models.py
  qcfractal/periodics.py
  qcfractal/procedures/optimization.py
  qcfractal/qc_queue/managers.py
  qcfractal/storage_sockets/__init__.py
  qcfractal/storage_sockets/api_logger.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/view.py
Labels: Database, Interface

Add JWT token to client, test_auth passing
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/tests/test_authentication.py
Labels: Interface

Use pydantic models throughout task handling
  qcfractal/app/routes.py
  qcfractal/interface/models/common_models.py
  qcfractal/interface/models/rest_models.py
  qcfractal/procedures/base.py
  qcfractal/procedures/failure.py
  qcfractal/procedures/optimization.py
  qcfractal/procedures/single.py
Labels: Interface

Rework some process and postgres stuff
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/config.py
  qcfractal/fractal_proc.py
  qcfractal/periodics.py
  qcfractal/postgres_harness.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Fix confusing startup logging level stuff
  qcfractal/cli/qcfractal_server.py
Labels: none

Allow setting JWT stuff via config
  qcfractal/app/config.py
  qcfractal/app/flask_app.py
  qcfractal/app/routes.py
  qcfractal/config.py
  qcfractal/tests/test_authentication.py
Labels: none

Update tests: procedures, sqlalchemy
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_sqlalchemy.py
Labels: none

Update GHA
  .github/workflows/CI.yml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/base.yaml
Labels: none

Fix some more flaky tests
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_services.py
Labels: none

update test_compute
  qcfractal/tests/test_compute.py
Labels: none

Clean up and update conda envs
  devtools/conda-envs/README.md
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  setup.py
Labels: none

Change default for manager tasks
  qcfractal/config.py
Labels: none

Finish updating tests
  devtools/conda-envs/adapter_fireworks.yaml
  qcfractal/testing.py
  qcfractal/tests/authorization/__init__.py
  qcfractal/tests/authorization/test_policy.py
  qcfractal/tests/authorization/test_statement.py
  qcfractal/tests/test_adapters.py
  qcfractal/tests/test_authentication.py
Labels: none

Code linting
  qcfractal/app/__init__.py
  qcfractal/app/config.py
  qcfractal/app/exceptions.py
  qcfractal/app/routes.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/interface/client.py
  qcfractal/policyuniverse/policy.py
  qcfractal/policyuniverse/statement.py
  qcfractal/server.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
  qcfractal/tests/authorization/test_policy.py
  qcfractal/tests/authorization/test_statement.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_storage.py
  qcfractal/try.py
Labels: Database, Interface

Fix detection of disabled views (since view_handler always exists)
  qcfractal/app/routes.py
  qcfractal/storage_sockets/view.py
Labels: Database

Add typing to api_logger
  qcfractal/storage_sockets/api_logger.py
Labels: Database

Finish moving storage socket stuff to subsocket
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/task.py
  qcfractal/storage_sockets/subsockets/user.py
Labels: Database

fix tests where returned data is encoded in non-json
  qcfractal/tests/test_server.py
Labels: none

Rework initialization of global flask stuff
  qcfractal/app/__init__.py
  qcfractal/app/flask_app.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/periodics.py
  qcfractal/storage_sockets/api_logger.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/view.py
  qcfractal/testing.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_storage_queries.py
Labels: Database

Update server_init
  qcfractal/cli/qcfractal_server.py
Labels: none

Add get_optimization
  qcfractal/server_flask.py
Labels: none

Clean up snowflake and process_runner
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/config.py
  qcfractal/fractal_proc.py
  qcfractal/periodics.py
  qcfractal/process_runner.py
  qcfractal/snowflake.py
  qcfractal/testing.py
Labels: none

Add get_result
  qcfractal/server_flask.py
Labels: none

Use finalizers to propery shut down subprocesses
  qcfractal/periodics.py
  qcfractal/postgres_harness.py
  qcfractal/process_runner.py
  qcfractal/snowflake.py
Labels: none

Remove db_type from socket factory (one DB type only)
  qcfractal/tests/test_server.py
Labels: none

Enhance verify_user
  qcfractal/requirements.txt
  qcfractal/server_flask.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Remove unused import
  qcfractal/app/routes.py
Labels: none

change module queue name to qc_queue
  docs/qcfractal/source/api.rst
  qcfractal/cli/qcfractal_manager.py
  qcfractal/testing.py
  qcfractal/tests/test_adapters.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_services.py
Labels: Documentation

Change priority for conda channels in test envs
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/openff.yaml
Labels: none

update test_storage_queries
  qcfractal/snowflake.py
  qcfractal/testing.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_storage_queries.py
Labels: none

Add get_wave_function
  qcfractal/server_flask.py
Labels: none

Modify add_user to accept rolename
  qcfractal/server_flask.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Use custom decorator check_access in JWT to allow security and allow_read
  qcfractal/app/__init__.py
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/server.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface

Add token_required method
  qcfractal/server_flask.py
Labels: none

Fix waiting for manager to come up in tests
  qcfractal/tests/test_compute.py
Labels: none

Flask with Authrization JWT working
  qcfractal/app/__init__.py
  qcfractal/app/config.py
  qcfractal/app/exceptions.py
  qcfractal/app/routes.py
  qcfractal/policyuniverse/policy.py
  qcfractal/server.py
  qcfractal/storage_sockets/models/sql_models.py
Labels: Database
