Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

Update/add queue limits in config
  qcfractal/config.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/task_queue.py
Labels: Database

Clean up services
  qcfractal/storage_sockets/subsockets/services/torsiondrive.py
Labels: Database

A little bit of renaming for consistency
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/procedures/base.py
  qcfractal/storage_sockets/subsockets/procedures/failure.py
  qcfractal/storage_sockets/subsockets/procedures/optimization.py
  qcfractal/storage_sockets/subsockets/procedures/single.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/services/base.py
  qcfractal/storage_sockets/subsockets/services/torsiondrive.py
Labels: Database

Add AllServiceSpecifications model list
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/task_models.py
Labels: Interface

Fix torsiondrive imports
  qcfractal/storage_sockets/subsockets/services/torsiondrive.py
Labels: Database

Allow for querying optimizations directly
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
Labels: Interface

Remove remnants of old services code
  qcfractal/app/routes.py
  qcfractal/periodics.py
  qcfractal/services/__init__.py
  qcfractal/services/gridoptimization_service.py
  qcfractal/services/service_util.py
  qcfractal/services/services.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/tests/test_sqlalchemy.py
  qcfractal/tests/test_storage.py
Labels: Service

Rework records, procedures, services
  qcfractal/app/routes.py
  qcfractal/config.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/procedures/optimization.py
  qcfractal/storage_sockets/subsockets/procedures/single.py
  qcfractal/storage_sockets/subsockets/record.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/service_queue.py
  qcfractal/storage_sockets/subsockets/services/torsiondrive.py
  qcfractal/storage_sockets/subsockets/task_queue.py
  qcfractal/tests/storage/test_procedure.py
  qcfractal/tests/test_compute.py
Labels: Database

Fix custom query in torsiondrive
  qcfractal/interface/models/torsiondrive.py
Labels: Interface

Merge queues with their parent record types
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
  qcfractal/storage_sockets/subsockets/manager.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/procedures/optimization.py
  qcfractal/storage_sockets/subsockets/procedures/single.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/service_queue.py
  qcfractal/storage_sockets/subsockets/services/torsiondrive.py
  qcfractal/storage_sockets/subsockets/task_queue.py
  qcfractal/tests/storage/test_procedure.py
  qcfractal/tests/storage/test_procedure_optimization.py
  qcfractal/tests/storage/test_procedure_single.py
  qcfractal/tests/storage/test_task_queue.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface

Fix error message in procedures
  qcfractal/storage_sockets/subsockets/procedures/optimization.py
  qcfractal/storage_sockets/subsockets/services/torsiondrive.py
Labels: Database

Fix service restarting
  qcfractal/app/routes.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/tests/test_services.py
Labels: Database

Fix what is queried in task_queue.claim
  qcfractal/storage_sockets/subsockets/task_queue.py
Labels: Database

Refactor torsiondrive service
  qcfractal/app/routes.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/periodics.py
  qcfractal/services/service_util.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/models/sql_base.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
  qcfractal/storage_sockets/subsockets/server_log.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/service_queue.py
  qcfractal/storage_sockets/subsockets/services/__init__.py
  qcfractal/storage_sockets/subsockets/services/base.py
  qcfractal/storage_sockets/subsockets/services/torsiondrive.py
  qcfractal/testing.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_sqlalchemy.py
Labels: Database, Interface, Service

Refactor grid optimization
  qcfractal/interface/models/gridoptimization.py
  qcfractal/services/gridoptimization_service.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/services/__init__.py
  qcfractal/storage_sockets/subsockets/services/gridoptimization.py
Labels: Database, Interface, Service

Clean up services even more
  qcfractal/interface/collections/gridoptimization_dataset.py
  qcfractal/interface/collections/torsiondrive_dataset.py
  qcfractal/interface/models/gridoptimization.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/storage_sockets/models/sql_base.py
  qcfractal/storage_sockets/subsockets/procedures/base.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/services/base.py
  qcfractal/storage_sockets/subsockets/services/gridoptimization.py
  qcfractal/storage_sockets/subsockets/services/torsiondrive.py
Labels: Database, Interface

Add session arg to procedure create
  qcfractal/storage_sockets/subsockets/procedure.py
Labels: Database

Add migration for tasks and statuses
  qcfractal/alembic/versions/98aea37d208d_migrate_status_and_tasks.py
Labels: none

Add table for service queue tasks
  qcfractal/storage_sockets/models/sql_base.py
  qcfractal/storage_sockets/models/sql_models.py
Labels: Database

formatting
  benchmarks/bench_copy.py
  benchmarks/bench_molecule_add.py
  benchmarks/bench_mongoengine.py
  benchmarks/bench_procedure.py
  benchmarks/bench_queue.py
  benchmarks/bench_queue_submit.py
  benchmarks/bench_result_add.py
  benchmarks/bench_task_get_next.py
  devtools/conda-envs/generate_envs.py
  devtools/old_migrations/drop_procedures.py
  devtools/old_migrations/mongo_to_SQL_v0.6.0_v0.7.0.py
  devtools/qcexport/create_staging.py
  devtools/qcexport/qcexport.py
  devtools/qcexport/qcexport_extra.py
  devtools/qcexport/qcexport_extra_collection.py
  devtools/scripts/conda_env.py
  docs/qcfractal/source/conf.py
  docs/qcportal/source/conf.py
  qcfractal/interface/collections/dataset.py
  versioneer.py
Labels: Documentation, Interface

Rename socket -> sockets.py
  qcfractal/components/keywords/sockets.py
  qcfractal/components/molecule/sockets.py
  qcfractal/components/outputstore/sockets.py
  qcfractal/components/wavefunction/sockets.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Fix deadlock in output handling
  qcfractal/storage_sockets/models/sql_base.py
  qcfractal/storage_sockets/subsockets/output_store.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/procedures/failure.py
  qcfractal/storage_sockets/subsockets/procedures/helpers.py
  qcfractal/storage_sockets/subsockets/procedures/single.py
  qcfractal/storage_sockets/subsockets/service.py
Labels: Database

PortalClient initial work
  qcfractal/__init__.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/rest_models.py
  qcfractal/portal/__init__.py
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/__init__.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/collection_utils.py
  qcfractal/portal/collections/optimization_dataset.py
Labels: Interface

Rename subsockets for consistency
  qcfractal/app/routes.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/components/datasets/routes.py
  qcfractal/components/managers/routes.py
  qcfractal/components/molecule/routes.py
  qcfractal/components/outputstore/routes.py
  qcfractal/components/permissions/routes.py
  qcfractal/components/permissions/user_socket.py
  qcfractal/components/records/gridoptimization/handlers.py
  qcfractal/components/records/helpers.py
  qcfractal/components/records/optimization/handlers.py
  qcfractal/components/records/routes.py
  qcfractal/components/records/singlepoint/handlers.py
  qcfractal/components/records/torsiondrive/handlers.py
  qcfractal/components/serverinfo/routes.py
  qcfractal/components/services/routes.py
  qcfractal/components/services/sockets.py
  qcfractal/components/tasks/sockets.py
  qcfractal/components/wavefunctions/routes.py
  qcfractal/db_socket/socket.py
  qcfractal/periodics.py
  qcfractal/tests/storage/test_manager.py
  qcfractal/tests/storage/test_molecules.py
  qcfractal/tests/storage/test_output_store.py
  qcfractal/tests/storage/test_procedure.py
  qcfractal/tests/storage/test_procedure_optimization.py
  qcfractal/tests/storage/test_procedure_single.py
  qcfractal/tests/storage/test_role.py
  qcfractal/tests/storage/test_server_log.py
  qcfractal/tests/storage/test_task_queue.py
  qcfractal/tests/storage/test_user.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_sqlalchemy.py
  qcfractal/tests/test_storage.py
Labels: none

Migrate services
  qcfractal/alembic/versions/651954cbdec6_migrate_services.py
  qcfractal/storage_sockets/models/sql_base.py
Labels: Database

Working on cache; adding LRU for memory, use of dbm
  qcfractal/portal/cache.py
Labels: none

Built out API points common to all Collections
  qcfractal/interface/models/rest_models.py
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/dataset.py
  qcfractal/portal/records/singleresult_record.py
Labels: Interface

Consolidate datasets
  devtools/qcexport/qcexport.py
  devtools/qcexport/qcexport_extra.py
  qcfractal/alembic/versions/129ff3ce9247_add_collection_tables_dataset_reaction_.py
  qcfractal/alembic/versions/159ba85908fd_add_contributed_values_table.py
  qcfractal/app/flask_app.py
  qcfractal/components/datasets/db_models.py
  qcfractal/components/datasets/reaction/__init__.py
  qcfractal/components/datasets/reaction/db_models.py
  qcfractal/components/datasets/routes.py
  qcfractal/components/datasets/singlepoint/__init__.py
  qcfractal/components/datasets/singlepoint/db_models.py
  qcfractal/components/datasets/sockets.py
  qcfractal/components/serverinfo/sockets.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/models/collections_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_collections.py
Labels: Database

Adding our own Record objects, with composition of pydantic data model
  qcfractal/portal/records/optimization_record.py
  qcfractal/portal/records/record_utils.py
Labels: none

Fixes to Dataset from ad-hoc testing; add_collection now takes Collection object
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/dataset.py
Labels: none

Move access logging into subsocket & routes
  qcfractal/__init__.py
  qcfractal/app/__init__.py
  qcfractal/app/flask_app.py
  qcfractal/app/new_routes/main.py
  qcfractal/storage_sockets/__init__.py
  qcfractal/storage_sockets/api_logger.py
  qcfractal/storage_sockets/storage_socket.py
  qcfractal/storage_sockets/subsockets/server_log.py
Labels: Database

SingleResultRecord -> SinglePointRecord
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/model_builder.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/rest_models.py
  qcfractal/portal/collections/dataset.py
  qcfractal/portal/records/__init__.py
  qcfractal/portal/records/singlepoint_record.py
Labels: Interface

Hacking on basic Dataset
  qcfractal/interface/models/__init__.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/__init__.py
  qcfractal/portal/collections/dataset.py
  setup.py
Labels: Interface

Fix small issue with get_records
  qcfractal/interface/models/rest_models.py
Labels: Interface

Changed ResultGetResponse to *only* give back a full model
  qcfractal/interface/models/rest_models.py
Labels: Interface

to_json, from_json, to_dict, from_dict methods on Records
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/collection_utils.py
  qcfractal/portal/records/optimization_record.py
  qcfractal/portal/records/record.py
  qcfractal/portal/records/record_utils.py
Labels: none

Fixup: restore deleted lines
  qcfractal/interface/models/torsiondrive.py
Labels: Interface

Consolidate managers
  devtools/qcexport/qcexport.py
  devtools/qcexport/qcexport_extra.py
  qcfractal/app/flask_app.py
  qcfractal/components/managers/__init__.py
  qcfractal/components/managers/db_models.py
  qcfractal/components/managers/routes.py
  qcfractal/components/managers/sockets.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
Labels: Database

Rename core_socket to root_socket
  qcfractal/components/datasets/sockets.py
  qcfractal/components/keywords/sockets.py
  qcfractal/components/managers/sockets.py
  qcfractal/components/molecule/sockets.py
  qcfractal/components/outputstore/sockets.py
  qcfractal/components/permissions/role_socket.py
  qcfractal/components/permissions/user_socket.py
  qcfractal/components/records/base_handlers.py
  qcfractal/components/records/failure.py
  qcfractal/components/records/gridoptimization/handlers.py
  qcfractal/components/records/optimization/handlers.py
  qcfractal/components/records/singlepoint/handlers.py
  qcfractal/components/records/sockets.py
  qcfractal/components/records/torsiondrive/handlers.py
  qcfractal/components/serverinfo/sockets.py
  qcfractal/components/services/sockets.py
  qcfractal/components/tasks/sockets.py
  qcfractal/components/wavefunctions/sockets.py
Labels: none

Fix waiting sorts
  qcfractal/components/services/db_models.py
  qcfractal/components/tasks/db_models.py
Labels: none

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*
