Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

Basic snowflake working
  qcfractal/__init__.py
  qcfractal/app/__init__.py
  qcfractal/app/config.py
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/app/routes.py
  qcfractal/config.py
  qcfractal/interface/models/__init__.py
  qcfractal/old_config.py
  qcfractal/periodics.py
  qcfractal/postgres_harness.py
  qcfractal/procedures/__init__.py
  qcfractal/procedures/base.py
  qcfractal/procedures/optimization.py
  qcfractal/qc_queue/handlers.py
  qcfractal/server.py
  qcfractal/server_old2.py
  qcfractal/services/gridoptimization_service.py
  qcfractal/services/service_util.py
  qcfractal/services/services.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/api_logger.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/server_logs.py
  qcfractal/storage_sockets/view.py
Labels: Database, Interface, Service

Change priority for conda channels in test envs
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/openff.yaml
Labels: none

Use pydantic models throughout task handling
  qcfractal/app/routes.py
  qcfractal/interface/models/common_models.py
  qcfractal/interface/models/rest_models.py
  qcfractal/procedures/base.py
  qcfractal/procedures/failure.py
  qcfractal/procedures/optimization.py
  qcfractal/procedures/single.py
Labels: Interface

First step in manager refactor: move out of server init
  qcfractal/app/config.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/config.py
  qcfractal/qc_queue/managers.py
  qcfractal/server.py
  qcfractal/snowflake.py
  qcfractal/testing.py
  qcfractal/tests/test_adapters.py
  qcfractal/tests/test_compute.py
Labels: none

Changed my mind about some options names choices
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/config.py
  qcfractal/postgres_harness.py
  qcfractal/snowflake.py
  qcfractal/testing.py
Labels: none

Change test hashes to use integer molecule IDs
  qcfractal/interface/models/tests/test_hashes.py
Labels: Interface

Rename max_compute_workers in snowflake
  qcfractal/snowflake.py
  qcfractal/testing.py
Labels: none

remove unused import
  qcfractal/app/routes.py
Labels: none

Fix waiting for manager to come up in tests
  qcfractal/tests/test_compute.py
Labels: none

update test_compute
  qcfractal/tests/test_compute.py
Labels: none

Cache conda environments for faster testing
  .github/workflows/CI.yml
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/openff.yaml
Labels: none

Update test_server
  qcfractal/snowflake.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_server.py
Labels: none

Snowflake constructor should block until the rest interface is ready
  qcfractal/snowflake.py
Labels: none

Improve graceful exits from subprocesses
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/openff.yaml
  mypy.ini
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/periodics.py
  qcfractal/process_runner.py
  qcfractal/qc_queue/managers.py
  qcfractal/snowflake.py
  setup.py
Labels: none

force option to basicConfig not available in python 3.7
  qcfractal/cli/qcfractal_server.py
Labels: none

Re-enable some commented-out stuff
  qcfractal/app/routes.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Fix most cli tests
  qcfractal/cli/qcfractal_manager.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/cli/tests/qcfractal_config.yaml.template1
  qcfractal/cli/tests/test_cli.py
  qcfractal/port_util.py
  qcfractal/postgres_harness.py
  qcfractal/snowflake.py
  qcfractal/testing.py
  qcfractal/tests/test_managers.py
Labels: none

Update test_managers
  qcfractal/app/flask_app.py
  qcfractal/periodics.py
  qcfractal/snowflake.py
  qcfractal/testing.py
  qcfractal/tests/test_managers.py
Labels: none

update test_storage_queries
  qcfractal/snowflake.py
  qcfractal/testing.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_storage_queries.py
Labels: none

Skip collections tests for now
  qcfractal/tests/test_collections.py
Labels: none

Change default for manager tasks
  qcfractal/config.py
Labels: none

Add simplified dict() function to base orm
  qcfractal/storage_sockets/models/sql_base.py
Labels: Database

Remove warning about TestingSnowflake
  setup.cfg
Labels: none

Only notify of completed tasks after committing results to prevent race conditions
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/result.py
Labels: Database

Fix anonymous user access
  qcfractal/app/routes.py
Labels: none

Format code using black
  qcfractal/__init__.py
  qcfractal/app/__init__.py
  qcfractal/app/config.py
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/app/routes.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/cli/tests/test_cli.py
  qcfractal/interface/client.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/common_models.py
  qcfractal/interface/models/model_utils.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/interface/tests/test_visualization.py
  qcfractal/old_config.py
  qcfractal/procedures/base.py
  qcfractal/procedures/failure.py
  qcfractal/procedures/optimization.py
  qcfractal/procedures/single.py
  qcfractal/qc_queue/managers.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/result.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/storage_sockets/subsockets/server_logs.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/task.py
  qcfractal/storage_sockets/subsockets/user.py
  qcfractal/storage_sockets/view.py
  qcfractal/testing.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_process_runner.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_sqlalchemy.py
  qcfractal/tests/test_storage.py
  qcfractal/tests/test_storage_queries.py
Labels: Database, Interface

Initial semi-working flask-first version
  qcfractal/app/__init__.py
  qcfractal/app/config.py
  qcfractal/app/routes.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/common_models.py
  qcfractal/periodics.py
  qcfractal/procedures/optimization.py
  qcfractal/qc_queue/managers.py
  qcfractal/storage_sockets/__init__.py
  qcfractal/storage_sockets/api_logger.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/view.py
Labels: Database, Interface

Migrate some functions to subsockets
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/collection.py
  qcfractal/storage_sockets/subsockets/keywords.py
  qcfractal/storage_sockets/subsockets/manager.py
  qcfractal/storage_sockets/subsockets/molecule.py
  qcfractal/storage_sockets/subsockets/output_store.py
  qcfractal/storage_sockets/subsockets/result.py
  qcfractal/storage_sockets/subsockets/server_logs.py
  qcfractal/storage_sockets/subsockets/wavefunction.py
Labels: Database

Rename updated_nested_dict
  qcfractal/config.py
  qcfractal/snowflake.py
Labels: none

Add more dependencies to conda envs
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/openff.yaml
Labels: none

Fix detection of disabled views (since view_handler always exists)
  qcfractal/app/routes.py
  qcfractal/storage_sockets/view.py
Labels: Database

Clean up snowflake and process_runner
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/config.py
  qcfractal/fractal_proc.py
  qcfractal/periodics.py
  qcfractal/process_runner.py
  qcfractal/snowflake.py
  qcfractal/testing.py
Labels: none

remove unused code
  qcfractal/qc_queue/__init__.py
  qcfractal/qc_queue/handlers.py
  qcfractal/server.py
  qcfractal/server_old.py
  qcfractal/server_old2.py
  qcfractal/try.py
  qcfractal/web_handlers.py
Labels: none

Fix yet another race condition
  qcfractal/procedures/failure.py
  qcfractal/procedures/single.py
Labels: none

Fix verification error message
  qcfractal/app/routes.py
Labels: none

add debug logging to tests
  .github/workflows/CI.yml
Labels: none

Some cleanup of imports
  qcfractal/app/routes.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/common_models.py
  qcfractal/interface/models/gridoptimization.py
  qcfractal/interface/models/model_utils.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/task_models.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/procedures/base.py
  qcfractal/procedures/failure.py
  qcfractal/procedures/optimization.py
  qcfractal/procedures/single.py
  qcfractal/services/service_util.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface, Service

Slight cleanup of snowflake
  qcfractal/snowflake.py
Labels: none

Add flask SSL, add manager executor
  qcfractal/app/__init__.py
  qcfractal/app/config.py
  qcfractal/app/routes.py
  qcfractal/server.py
  qcfractal/snowflake.py
Labels: none

Finish moving storage socket stuff to subsocket
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/task.py
  qcfractal/storage_sockets/subsockets/user.py
Labels: Database

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*
