Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

Modify add_user to accept rolename
  qcfractal/server_flask.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Add flask requirements
  setup.py
Labels: none

User and role add methods
  qcfractal/app/routes.py
  qcfractal/policyuniverse/policy.py
  qcfractal/policyuniverse/statement.py
  qcfractal/server.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Add get_procedure
  qcfractal/server_flask.py
Labels: none

Add get_optimization
  qcfractal/server_flask.py
Labels: none

Init Flask commit
  qcfractal/__init__.py
  qcfractal/alembic/ERD.png
  qcfractal/qc_queue/__init__.py
  qcfractal/qc_queue/adapters.py
  qcfractal/qc_queue/base_adapter.py
  qcfractal/qc_queue/compress.py
  qcfractal/qc_queue/executor_adapter.py
  qcfractal/qc_queue/fireworks_adapter.py
  qcfractal/qc_queue/handlers.py
  qcfractal/qc_queue/managers.py
  qcfractal/qc_queue/parsl_adapter.py
  qcfractal/requirements.txt
  qcfractal/server.py
  qcfractal/server_flask.py
  qcfractal/testing.py
Labels: none

Add handle_collection
  qcfractal/server_flask.py
Labels: none

Add handle_collection
  qcfractal/server_flask.py
Labels: none

Enhance verify_user
  qcfractal/requirements.txt
  qcfractal/server_flask.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

change module queue name to qc_queue
  docs/qcfractal/source/api.rst
  qcfractal/cli/qcfractal_manager.py
  qcfractal/testing.py
  qcfractal/tests/test_adapters.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_services.py
Labels: Documentation

Add typing to api_logger
  qcfractal/storage_sockets/api_logger.py
Labels: Database

Fix API access logging
  qcfractal/storage_sockets/api_logger.py
Labels: Database

Fix incorrect type in error handling
  qcfractal/app/routes.py
Labels: none

Improve postgres tools autodetect
  .github/workflows/CI.yml
  qcfractal/config.py
  qcfractal/postgres_harness.py
Labels: none

Remove db_type from socket factory (one DB type only)
  qcfractal/tests/test_server.py
Labels: none

Fix urllib import in config
  qcfractal/config.py
Labels: none

Remove erroneous setting of content type
  qcfractal/app/routes.py
Labels: none

Re-add authentication/authorization testing
  qcfractal/interface/client.py
  qcfractal/testing.py
  qcfractal/tests/authorization/__init__.py
  qcfractal/tests/authorization/test_policy.py
  qcfractal/tests/authorization/test_statement.py
  qcfractal/tests/test_authentication.py
Labels: Interface

fix tests where returned data is encoded in non-json
  qcfractal/tests/test_server.py
Labels: none

Use finalizers to propery shut down subprocesses
  qcfractal/periodics.py
  qcfractal/postgres_harness.py
  qcfractal/process_runner.py
  qcfractal/snowflake.py
Labels: none

improve handling of subprocess shutdown and completed task notification
  qcfractal/app/flask_app.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/fractal_proc.py
  qcfractal/periodics.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/result.py
Labels: Database

Python Error handling as JSON
  qcfractal/app/routes.py
  qcfractal/server.py
  qcfractal/tests/test_client.py
Labels: none

tests_storage pass, add lib responses instead on requets_mock
  devtools/conda-envs/base.yaml
  devtools/old_migrations/drop_procedures.py
  devtools/scripts/create_staging.py
  qcfractal/app/routes.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/storage_socket.py
  qcfractal/testing.py
  qcfractal/tests/test_storage.py
  qcfractal/try.py
  setup.py
Labels: Database

Improved handling of failed tasks
  qcfractal/app/routes.py
  qcfractal/procedures/__init__.py
  qcfractal/procedures/failure.py
  qcfractal/procedures/optimization.py
  qcfractal/procedures/procedures_util.py
  qcfractal/procedures/single.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Make some subprocesses obey log level better
  qcfractal/app/flask_app.py
  qcfractal/qc_queue/managers.py
Labels: none

Clean up and update conda envs
  devtools/conda-envs/README.md
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  setup.py
Labels: none

Fix issue with dask/lsf_units setting
  qcfractal/cli/qcfractal_manager.py
Labels: none

Better process management and testing for process_runner
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/cli/qcfractal_manager.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/periodics.py
  qcfractal/process_runner.py
  qcfractal/qc_queue/managers.py
  qcfractal/snowflake.py
  qcfractal/tests/test_process_runner.py
Labels: none

Update server_init
  qcfractal/cli/qcfractal_server.py
Labels: none

Update to v4 of flask_jwt_extended
  qcfractal/app/routes.py
Labels: none

Fix queue_manager_heartbeat test
  qcfractal/tests/test_managers.py
Labels: none

Implement JWT token refresh with tests
  qcfractal/app/config.py
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_authentication.py
Labels: Database, Interface

Rework some process and postgres stuff
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/config.py
  qcfractal/fractal_proc.py
  qcfractal/periodics.py
  qcfractal/postgres_harness.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Finish updating tests
  devtools/conda-envs/adapter_fireworks.yaml
  qcfractal/testing.py
  qcfractal/tests/authorization/__init__.py
  qcfractal/tests/authorization/test_policy.py
  qcfractal/tests/authorization/test_statement.py
  qcfractal/tests/test_adapters.py
  qcfractal/tests/test_authentication.py
Labels: none

Update GHA
  .github/workflows/CI.yml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/base.yaml
Labels: none

Update tests: procedures, sqlalchemy
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_sqlalchemy.py
Labels: none

Rework initialization of global flask stuff
  qcfractal/app/__init__.py
  qcfractal/app/flask_app.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/periodics.py
  qcfractal/storage_sockets/api_logger.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/view.py
  qcfractal/testing.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_storage_queries.py
Labels: Database

Fix hang in snowflake
  qcfractal/snowflake.py
Labels: none

Test_client passing - flask to handle python exceptions
  qcfractal/app/routes.py
  qcfractal/tests/test_client.py
Labels: none

Allow setting JWT stuff via config
  qcfractal/app/config.py
  qcfractal/app/flask_app.py
  qcfractal/app/routes.py
  qcfractal/config.py
  qcfractal/tests/test_authentication.py
Labels: none

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*
