Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*

Update to v4 of flask_jwt_extended
  qcfractal/app/routes.py
Labels: none

Update GHA
  .github/workflows/CI.yml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/base.yaml
Labels: none

fix tests where returned data is encoded in non-json
  qcfractal/tests/test_server.py
Labels: none

update test_compute
  qcfractal/tests/test_compute.py
Labels: none

Rework molecule subsocket
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/procedures/optimization.py
  qcfractal/procedures/procedures_util.py
  qcfractal/procedures/single.py
  qcfractal/services/gridoptimization_service.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/molecule.py
  qcfractal/storage_sockets/subsockets/result.py
  qcfractal/storage_sockets/subsockets/server_log.py
  qcfractal/tests/storage/test_molecules.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_sqlalchemy.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface, Service

Clean up and expand query limits
  qcfractal/app/routes.py
  qcfractal/config.py
  qcfractal/interface/client.py
  qcfractal/interface/collections/collection.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/interface/tests/test_visualization.py
  qcfractal/qc_queue/managers.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/collection.py
  qcfractal/storage_sockets/subsockets/keywords.py
  qcfractal/storage_sockets/subsockets/manager.py
  qcfractal/storage_sockets/subsockets/molecule.py
  qcfractal/storage_sockets/subsockets/output_store.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/result.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/storage_sockets/subsockets/server_logs.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/task.py
  qcfractal/storage_sockets/subsockets/user.py
  qcfractal/storage_sockets/subsockets/wavefunction.py
  qcfractal/testing.py
Labels: Database, Interface

Rename updated_nested_dict
  qcfractal/config.py
  qcfractal/snowflake.py
Labels: none

Slight cleanup of snowflake
  qcfractal/snowflake.py
Labels: none

Add migration of user permissions to roles
  qcfractal/alembic/versions/ace6189b4a68_update_users_and_roles.py
Labels: none

Migrate collection_type to be not nullable
  qcfractal/alembic/versions/b74cd7a31b69_collection_type_not_nullable.py
Labels: none

Some reworking of task subsocket
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/periodics.py
  qcfractal/procedures/failure.py
  qcfractal/procedures/optimization.py
  qcfractal/procedures/single.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/task.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface

force option to basicConfig not available in python 3.7
  qcfractal/cli/qcfractal_server.py
Labels: none

update test_storage_queries
  qcfractal/snowflake.py
  qcfractal/testing.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_storage_queries.py
Labels: none

Add percentiles to access log summary
  qcfractal/storage_sockets/subsockets/server_log.py
Labels: Database

update test_client
  qcfractal/snowflake.py
  qcfractal/tests/test_client.py
Labels: none

Add more stuff to access log
  qcfractal/alembic/versions/9e817a4a5cec_add_user_and_duration_to_logs.py
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/subsockets/server_log.py
Labels: Database, Interface

Allow setting JWT stuff via config
  qcfractal/app/config.py
  qcfractal/app/flask_app.py
  qcfractal/app/routes.py
  qcfractal/config.py
  qcfractal/tests/test_authentication.py
Labels: none

Add a better testing server fixture
  qcfractal/testing.py
Labels: none

Update test_server
  qcfractal/snowflake.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_server.py
Labels: none

Remove unused exceptions in flask app
  qcfractal/app/exceptions.py
Labels: none

Migrate to sqlalchemy v1.4
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/openff.yaml
  qcfractal/config.py
  qcfractal/postgres_harness.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  setup.py
Labels: Database

Update server_init
  qcfractal/cli/qcfractal_server.py
Labels: none

Add general insert, get, etc, function for sqlalchemy
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/query_meta.py
  qcfractal/storage_sockets/models/sql_base.py
  qcfractal/storage_sockets/sqlalchemy_common.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database, Interface

Cache conda environments for faster testing
  .github/workflows/CI.yml
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/openff.yaml
Labels: none

Add more dependencies to conda envs
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/openff.yaml
Labels: none

Remove unnecessary extras.py functions
  qcfractal/__init__.py
  qcfractal/app/routes.py
  qcfractal/extras.py
  qcfractal/interface/__init__.py
  qcfractal/interface/client.py
  qcfractal/qc_queue/managers.py
  qcfractal/services/gridoptimization_service.py
  qcfractal/services/torsiondrive_service.py
Labels: Interface, Service

Fix waiting for manager to come up in tests
  qcfractal/tests/test_compute.py
Labels: none

Changed my mind about some options names choices
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/config.py
  qcfractal/postgres_harness.py
  qcfractal/snowflake.py
  qcfractal/testing.py
Labels: none

Rename max_compute_workers in snowflake
  qcfractal/snowflake.py
  qcfractal/testing.py
Labels: none

Fix verification error message
  qcfractal/app/routes.py
Labels: none

Update server_upgrade
  qcfractal/cli/qcfractal_server.py
Labels: none

Add ability to set frequency of statistics periodics
  qcfractal/config.py
  qcfractal/periodics.py
Labels: none

Add more functions to subsockets
  qcfractal/storage_sockets/subsockets/output_store.py
  qcfractal/storage_sockets/subsockets/wavefunction.py
Labels: Database

Fix queue_manager_heartbeat test
  qcfractal/tests/test_managers.py
Labels: none

Improve graceful exits from subprocesses
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/openff.yaml
  mypy.ini
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/periodics.py
  qcfractal/process_runner.py
  qcfractal/qc_queue/managers.py
  qcfractal/snowflake.py
  setup.py
Labels: none

Skip collections tests for now
  qcfractal/tests/test_collections.py
Labels: none

Each subsocket gets its own logger
  qcfractal/storage_sockets/subsockets/collection.py
  qcfractal/storage_sockets/subsockets/keywords.py
  qcfractal/storage_sockets/subsockets/manager.py
  qcfractal/storage_sockets/subsockets/molecule.py
  qcfractal/storage_sockets/subsockets/output_store.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/result.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/storage_sockets/subsockets/server_logs.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/task.py
  qcfractal/storage_sockets/subsockets/user.py
  qcfractal/storage_sockets/subsockets/wavefunction.py
Labels: Database

Fix API access logging
  qcfractal/storage_sockets/api_logger.py
Labels: Database

Rework server stats a little bit
  qcfractal/alembic/versions/00f7a74dcc37_change_server_stats_collected.py
  qcfractal/storage_sockets/db_queries.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/subsockets/server_log.py
Labels: Database

Some cleanup of imports
  qcfractal/app/routes.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/common_models.py
  qcfractal/interface/models/gridoptimization.py
  qcfractal/interface/models/model_utils.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/task_models.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/procedures/base.py
  qcfractal/procedures/failure.py
  qcfractal/procedures/optimization.py
  qcfractal/procedures/single.py
  qcfractal/services/service_util.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface, Service
