Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

tests_storage pass, add lib responses instead on requets_mock
  devtools/conda-envs/base.yaml
  devtools/old_migrations/drop_procedures.py
  devtools/scripts/create_staging.py
  qcfractal/app/routes.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/storage_socket.py
  qcfractal/testing.py
  qcfractal/tests/test_storage.py
  qcfractal/try.py
  setup.py
Labels: Database

Add Roles endpoints
  qcfractal/server_flask.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Add get_result
  qcfractal/server_flask.py
Labels: none

Initial semi-working flask-first version
  qcfractal/app/__init__.py
  qcfractal/app/config.py
  qcfractal/app/routes.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/common_models.py
  qcfractal/periodics.py
  qcfractal/procedures/optimization.py
  qcfractal/qc_queue/managers.py
  qcfractal/storage_sockets/__init__.py
  qcfractal/storage_sockets/api_logger.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/view.py
Labels: Database, Interface

Add role table
  qcfractal/server_flask.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
Labels: Database

Add FractalServer class methods
  qcfractal/server_flask.py
Labels: none

Add authorization related methods.
  qcfractal/server_flask.py
Labels: none

Add token_required method
  qcfractal/server_flask.py
Labels: none

Add get_optimization
  qcfractal/server_flask.py
Labels: none

Add queue_manager methods
  qcfractal/server_flask.py
Labels: none

Add flask server
  qcfractal/flask_handlers.py
  qcfractal/policyuniverse/statement.py
  qcfractal/server.py
Labels: none

Python Error handling as JSON
  qcfractal/app/routes.py
  qcfractal/server.py
  qcfractal/tests/test_client.py
Labels: none

Remove db_type from socket factory (one DB type only)
  qcfractal/tests/test_server.py
Labels: none

Code linting
  qcfractal/app/__init__.py
  qcfractal/app/config.py
  qcfractal/app/exceptions.py
  qcfractal/app/routes.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/interface/client.py
  qcfractal/policyuniverse/policy.py
  qcfractal/policyuniverse/statement.py
  qcfractal/server.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
  qcfractal/tests/authorization/test_policy.py
  qcfractal/tests/authorization/test_statement.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_storage.py
  qcfractal/try.py
Labels: Database, Interface

Test_client passing - flask to handle python exceptions
  qcfractal/app/routes.py
  qcfractal/tests/test_client.py
Labels: none

Minor fixes and additions for snowflake and postgres stuff
  qcfractal/app/flask_app.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/periodics.py
  qcfractal/postgres_harness.py
  qcfractal/services/service_util.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
  qcfractal/tests/test_storage.py
Labels: Database, Service

Basic snowflake working
  qcfractal/__init__.py
  qcfractal/app/__init__.py
  qcfractal/app/config.py
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/app/routes.py
  qcfractal/config.py
  qcfractal/interface/models/__init__.py
  qcfractal/old_config.py
  qcfractal/periodics.py
  qcfractal/postgres_harness.py
  qcfractal/procedures/__init__.py
  qcfractal/procedures/base.py
  qcfractal/procedures/optimization.py
  qcfractal/qc_queue/handlers.py
  qcfractal/server.py
  qcfractal/server_old2.py
  qcfractal/services/gridoptimization_service.py
  qcfractal/services/service_util.py
  qcfractal/services/services.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/api_logger.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/server_logs.py
  qcfractal/storage_sockets/view.py
Labels: Database, Interface, Service

Enhance verify_user
  qcfractal/requirements.txt
  qcfractal/server_flask.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Fix routers merge with master handlers
  qcfractal/app/routes.py
Labels: none

Add flask requirements
  setup.py
Labels: none

SSL and periodics calls working (except manager)
  qcfractal/interface/client.py
  qcfractal/server.py
  qcfractal/testing.py
Labels: Interface

Use custom decorator check_access in JWT to allow security and allow_read
  qcfractal/app/__init__.py
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/server.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface

change module queue name to qc_queue
  docs/qcfractal/source/api.rst
  qcfractal/cli/qcfractal_manager.py
  qcfractal/testing.py
  qcfractal/tests/test_adapters.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_services.py
Labels: Documentation

Improved handling of failed tasks
  qcfractal/app/routes.py
  qcfractal/procedures/__init__.py
  qcfractal/procedures/failure.py
  qcfractal/procedures/optimization.py
  qcfractal/procedures/procedures_util.py
  qcfractal/procedures/single.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Init Flask commit
  qcfractal/__init__.py
  qcfractal/alembic/ERD.png
  qcfractal/qc_queue/__init__.py
  qcfractal/qc_queue/adapters.py
  qcfractal/qc_queue/base_adapter.py
  qcfractal/qc_queue/compress.py
  qcfractal/qc_queue/executor_adapter.py
  qcfractal/qc_queue/fireworks_adapter.py
  qcfractal/qc_queue/handlers.py
  qcfractal/qc_queue/managers.py
  qcfractal/qc_queue/parsl_adapter.py
  qcfractal/requirements.txt
  qcfractal/server.py
  qcfractal/server_flask.py
  qcfractal/testing.py
Labels: none

Implement JWT token refresh with tests
  qcfractal/app/config.py
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_authentication.py
Labels: Database, Interface

Update test_services
  qcfractal/tests/test_services.py
Labels: none

test_server passing, change to responses mock package
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/testing.py
  qcfractal/tests/test_server.py
Labels: Interface

Use flask server instead of tornado
  qcfractal/cli/qcfractal_server.py
  qcfractal/flask_handlers.py
  qcfractal/requirements.txt
  qcfractal/server_flask.py
  qcfractal/server_old.py
  qcfractal/testing.py
Labels: none

Enable using NullPool in SQLAlchemy create_engine
  qcfractal/config.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
Labels: Database

Add get_wave_function
  qcfractal/server_flask.py
Labels: none

Add register endpoint
  qcfractal/server_flask.py
Labels: none

Authorization init version
  qcfractal/server_flask.py
Labels: none

More flask integration with APscheduler and mocks in tests
  devtools/conda-envs/generate_envs.py
  qcfractal/app/config.py
  qcfractal/app/exceptions.py
  qcfractal/app/routes.py
  qcfractal/server.py
  qcfractal/snowflake.py
  qcfractal/testing.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_storage.py
  setup.py
Labels: none

Migrate some functions to subsockets
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/collection.py
  qcfractal/storage_sockets/subsockets/keywords.py
  qcfractal/storage_sockets/subsockets/manager.py
  qcfractal/storage_sockets/subsockets/molecule.py
  qcfractal/storage_sockets/subsockets/output_store.py
  qcfractal/storage_sockets/subsockets/result.py
  qcfractal/storage_sockets/subsockets/server_logs.py
  qcfractal/storage_sockets/subsockets/wavefunction.py
Labels: Database

Fix anonymous user access
  qcfractal/app/routes.py
Labels: none

Create FractalServer class
  qcfractal/server_flask.py
Labels: none

Add service_queue methods
  qcfractal/server_flask.py
Labels: none

User and role add methods
  qcfractal/app/routes.py
  qcfractal/policyuniverse/policy.py
  qcfractal/policyuniverse/statement.py
  qcfractal/server.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

improve handling of subprocess shutdown and completed task notification
  qcfractal/app/flask_app.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/fractal_proc.py
  qcfractal/periodics.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/result.py
Labels: Database

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*
