Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

fixed a bug in qc_spec
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Changing alembic logs
  qcfractal/alembic/versions/3ae67d9668c0_qcspec_migration.py
  qcfractal/alembic/versions/fb5bd88ae2f3_.py
Labels: none

added test for add_spec and some commenting
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_storage.py
Labels: Database

mend
  qcfractal/tests/test_storage.py
Labels: none

Make protocols optional
  qcfractal/interface/models/common_models.py
  qcfractal/interface/models/records.py
Labels: Interface

added temporary benchmark file
  benchmarks/bench_procedure.py
Labels: none

added benchmark file for procedure changes + changed get_procedure for speedup
  benchmarks/bench_procedure.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Updated psi4 requirements to 1.3.2 for prod conda envs
  devtools/prod-envs/qcarchive_worker_openff.yaml
  devtools/prod-envs/qcfractal_snowflake.yaml
Labels: none

alembic migration file + add_results updates
  qcfractal/alembic/versions/1aa18cf69a17_result_to_qc_spec_normalization.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

For openff conda envs, now using psi4 >1.4a2.dev700,<1.4a2
  devtools/conda-envs/openff.yaml
  devtools/prod-envs/qcarchive_worker_openff.yaml
Labels: none

updates to get_results + changes to some tests
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_sqlalchemy.py
Labels: Database

Changed torsion_init_mol to a mapping class
  qcfractal/alembic/versions/1604623c481a_id_pirmary_key_for_torsion_init_mol.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/models/sql_base.py
Labels: Database

formatted
  qcfractal/alembic/versions/1604623c481a_id_pirmary_key_for_torsion_init_mol.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/models/sql_base.py
Labels: Database

changed get_procedures + get_query_projection accordingly + fixed an explicit query in db_queries.py
  qcfractal/storage_sockets/db_queries.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

update_results added support for changing the result spec
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

updated bench_result_add with get_results call
  benchmarks/bench_result_add.py
Labels: none

formatted
  qcfractal/alembic/versions/1aa18cf69a17_result_to_qc_spec_normalization.py
  qcfractal/storage_sockets/db_queries.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_sqlalchemy.py
Labels: Database

Add protocols to dataset compute.
  qcfractal/interface/collections/dataset.py
  qcfractal/tests/test_collections.py
Labels: Interface

apply black
  qcfractal/interface/collections/dataset.py
Labels: Interface

update dataset name
  qcfractal/tests/test_collections.py
Labels: none

make unique entry
  qcfractal/tests/test_collections.py
Labels: none

move test geometry
  qcfractal/tests/test_collections.py
Labels: none

add testing decorator.
  qcfractal/tests/test_collections.py
Labels: none

Updated qcarchive_worker_openff environment
  devtools/prod-envs/qcarchive_worker_openff.yaml
Labels: none

Also updated the openff testing env
  devtools/conda-envs/openff.yaml
Labels: none

commented and cleaned
  qcfractal/alembic/versions/1aa18cf69a17_result_to_qc_spec_normalization.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

removed duplicate in torsion_init_mol and set a composite primary key
  qcfractal/alembic/versions/1604623c481a_id_pirmary_key_for_torsion_init_mol.py
  qcfractal/storage_sockets/models/results_models.py
Labels: Database

Fix missing table name in alter_table
  qcfractal/alembic/versions/1604623c481a_id_pirmary_key_for_torsion_init_mol.py
Labels: none

Fix task queue index migration
  qcfractal/alembic/versions/914724044e9a_fix_task_queue_migration.py
Labels: none

Remove .DS_Store files and add to gitignore
  .DS_Store
  .gitignore
Labels: none

Remove old dashboard code
  qcfractal/cli/qcfractal_server.py
  qcfractal/dashboard/__init__.py
  qcfractal/dashboard/app.py
  qcfractal/dashboard/assets/css/coreui-icons.min.css
  qcfractal/dashboard/assets/fonts/CoreUI-Icons-Linear-Free.eot
  qcfractal/dashboard/assets/fonts/CoreUI-Icons-Linear-Free.svg
  qcfractal/dashboard/assets/fonts/CoreUI-Icons-Linear-Free.ttf
  qcfractal/dashboard/assets/fonts/CoreUI-Icons-Linear-Free.woff
  qcfractal/dashboard/assets/images/logo.png
  qcfractal/dashboard/assets/images/sygnet.svg
  qcfractal/dashboard/assets/style.css
  qcfractal/dashboard/connection.py
  qcfractal/dashboard/dash_models.py
  qcfractal/dashboard/layout.py
  qcfractal/dashboard/pages/landing.py
Labels: none

Insert tasks in bulk rather than one-by-one
  qcfractal/procedures/procedures.py
Labels: none

Bug fix: Support molecules in non-ascending order
  qcfractal/procedures/procedures.py
  qcfractal/tests/test_procedures.py
Labels: none

Export results in same order as input molecules
  qcfractal/procedures/procedures.py
Labels: none

Fix running postgres on some systems
  qcfractal/postgres_harness.py
Labels: none

rename old alembic migration file
  qcfractal/alembic/versions/fb5bd88ae2f3_task_waiting_sort.py
Labels: none

Move to using KVStore model
  qcfractal/alembic/versions/30fd8253d87f_kvstore_compress.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/common_models.py
  qcfractal/procedures/procedures.py
  qcfractal/procedures/procedures_util.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_sqlalchemy.py
  qcfractal/tests/test_storage.py
  qcfractal/web_handlers.py
Labels: Database, Interface

Use KVStore objects in portal
  qcfractal/interface/models/records.py
  qcfractal/interface/models/rest_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/web_handlers.py
Labels: Database, Interface

Enable compression in KVStore
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/common_models.py
  qcfractal/tests/test_sqlalchemy.py
Labels: Interface

Fix creating KVStore from procedure results
  qcfractal/interface/models/common_models.py
  qcfractal/interface/models/records.py
  qcfractal/procedures/procedures.py
  qcfractal/procedures/procedures_util.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database, Interface

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*
