Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*

Reorganized PortalClient for FractalClient parity
  qcfractal/portal/client.py
Labels: none

Refactor flask routes into separate files
  qcfractal/app/flask_app.py
  qcfractal/app/new_routes/__init__.py
  qcfractal/app/new_routes/collections.py
  qcfractal/app/new_routes/helpers.py
  qcfractal/app/new_routes/keywords.py
  qcfractal/app/new_routes/main.py
  qcfractal/app/new_routes/manager.py
  qcfractal/app/new_routes/manager_info.py
  qcfractal/app/new_routes/molecule.py
  qcfractal/app/new_routes/optimization.py
  qcfractal/app/new_routes/output_store.py
  qcfractal/app/new_routes/permissions.py
  qcfractal/app/new_routes/records.py
  qcfractal/app/new_routes/server_info.py
  qcfractal/app/new_routes/service.py
  qcfractal/app/new_routes/singlepoint.py
  qcfractal/app/new_routes/tasks.py
  qcfractal/app/new_routes/users.py
  qcfractal/app/new_routes/wavefunction.py
  qcfractal/app/routes.py
  qcfractal/interface/models/rest_models.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_collections.py
Labels: Interface

Consolidate users/roles
  qcfractal/alembic/versions/ace6189b4a68_update_users_and_roles.py
  qcfractal/app/flask_app.py
  qcfractal/components/permissions/db_models.py
  qcfractal/components/permissions/role_socket.py
  qcfractal/components/permissions/routes.py
  qcfractal/components/permissions/sockets.py
  qcfractal/components/permissions/user_socket.py
  qcfractal/postgres_harness.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
  qcfractal/tests/storage/test_role.py
Labels: Database

Fixes to cache, getting from cache
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
Labels: none

Caching prototype in place, getitem access pattern for ProcedureDatasets
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/dataset.py
  qcfractal/portal/collections/optimization_dataset.py
Labels: none

More Collection harmonization work
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/dataset.py
  qcfractal/portal/collections/optimization_dataset.py
  qcfractal/portal/collections/torsiondrive_dataset.py
Labels: none

Additional changes to client interface, refining distinction between query, get
  qcfractal/interface/models/torsiondrive.py
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/dataset.py
  qcfractal/portal/records/optimization_record.py
  qcfractal/portal/records/record.py
  qcfractal/portal/records/record_utils.py
  qcfractal/portal/records/singleresult_record.py
Labels: Interface

Rename wavefunction -> wavefunctions
  devtools/qcexport/qcexport.py
  qcfractal/app/flask_app.py
  qcfractal/components/records/singlepoint/db_models.py
  qcfractal/components/wavefunctions/db_models.py
  qcfractal/components/wavefunctions/routes.py
  qcfractal/components/wavefunctions/sockets.py
  qcfractal/db_socket/socket.py
Labels: none

Consolidate molecule
  devtools/qcexport/qcexport.py
  qcfractal/app/flask_app.py
  qcfractal/components/__init__.py
  qcfractal/components/molecule/db_models.py
  qcfractal/components/molecule/routes.py
  qcfractal/components/molecule/socket.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
  qcfractal/storage_sockets/subsockets/server_log.py
  qcfractal/storage_sockets/subsockets/services/gridoptimization.py
  qcfractal/storage_sockets/subsockets/services/torsiondrive.py
  qcfractal/tests/test_sqlalchemy.py
Labels: Database

Redesigned `list_collections` client method
  qcfractal/portal/client.py
Labels: none

Change version handling for qcportal
  qcfractal/interface/__init__.py
  qcfractal/interface/_version.py
Labels: Interface

Query method additions (e.g. docstrings) to PortalClient
  qcfractal/portal/client.py
Labels: none

Getters and queryers on client, support in cache for molecules, records
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/records/record.py
Labels: none

Rework flask app structure slightly
  qcfractal/app/__init__.py
  qcfractal/app/flask_app.py
  qcfractal/app/helpers.py
  qcfractal/app/routes.py
  qcfractal/app/routes/__init__.py
  qcfractal/app/routes/main.py
  qcfractal/components/__init__.py
  qcfractal/components/all_routes.py
  qcfractal/components/datasets/routes.py
  qcfractal/components/keywords/routes.py
  qcfractal/components/managers/routes.py
  qcfractal/components/molecule/routes.py
  qcfractal/components/outputstore/routes.py
  qcfractal/components/permissions/routes.py
  qcfractal/components/records/gridoptimization/routes.py
  qcfractal/components/records/optimization/routes.py
  qcfractal/components/records/routes.py
  qcfractal/components/records/singlepoint/routes.py
  qcfractal/components/records/torsiondrive/routes.py
  qcfractal/components/serverinfo/routes.py
  qcfractal/components/services/routes.py
  qcfractal/components/tasks/routes.py
  qcfractal/components/wavefunctions/routes.py
Labels: none

Removed old methods from BaseProcedureDataset
  qcfractal/portal/collections/collection.py
Labels: none

Rename Base -> BaseORM
  qcfractal/alembic/env.py
  qcfractal/components/datasets/db_models.py
  qcfractal/components/datasets/reaction/db_models.py
  qcfractal/components/datasets/singlepoint/db_models.py
  qcfractal/components/keywords/db_models.py
  qcfractal/components/managers/db_models.py
  qcfractal/components/molecule/db_models.py
  qcfractal/components/outputstore/db_models.py
  qcfractal/components/permissions/db_models.py
  qcfractal/components/records/base_handlers.py
  qcfractal/components/records/db_models.py
  qcfractal/components/records/gridoptimization/db_models.py
  qcfractal/components/records/optimization/db_models.py
  qcfractal/components/records/singlepoint/db_models.py
  qcfractal/components/records/torsiondrive/db_models.py
  qcfractal/components/serverinfo/db_models.py
  qcfractal/components/services/db_models.py
  qcfractal/components/tasks/db_models.py
  qcfractal/components/wavefunction/db_models.py
  qcfractal/db_socket/__init__.py
  qcfractal/db_socket/base_orm.py
  qcfractal/db_socket/helpers.py
  qcfractal/postgres_harness.py
Labels: none

Consolidate keywords
  devtools/qcexport/qcexport.py
  qcfractal/app/flask_app.py
  qcfractal/components/keywords/db_models.py
  qcfractal/components/keywords/routes.py
  qcfractal/components/keywords/socket.py
  qcfractal/portal/client.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
Labels: Database

Change name of procedure socket
  qcfractal/components/managers/routes.py
  qcfractal/components/managers/sockets.py
  qcfractal/components/records/base_handlers.py
  qcfractal/components/records/failure.py
  qcfractal/components/records/helpers.py
  qcfractal/components/records/optimization/handlers.py
  qcfractal/components/records/optimization/routes.py
  qcfractal/components/records/singlepoint/handlers.py
  qcfractal/components/records/singlepoint/routes.py
  qcfractal/components/services/sockets.py
  qcfractal/components/tasks/routes.py
  qcfractal/db_socket/socket.py
  qcfractal/tests/storage/test_procedure.py
  qcfractal/tests/storage/test_procedure_optimization.py
  qcfractal/tests/storage/test_procedure_single.py
  qcfractal/tests/storage/test_server_log.py
  qcfractal/tests/storage/test_task_queue.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_storage.py
Labels: none

Switched caching to dbm, working well so far
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/records/record.py
Labels: none

Commit of existing changes
  qcfractal/interface/models/records.py
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/collection_utils.py
  qcfractal/portal/collections/optimization_dataset.py
Labels: Interface

Building out functionality in Collection, added TorsionDriveDataset
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/dataset.py
  qcfractal/portal/collections/optimization_dataset.py
  qcfractal/portal/collections/torsiondrive_dataset.py
Labels: none

Cleanup of socket
  qcfractal/app/new_routes/collections.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_storage.py
Labels: Database

Rename new_routes directory
  qcfractal/app/flask_app.py
  qcfractal/app/routes/__init__.py
  qcfractal/app/routes/collections.py
  qcfractal/app/routes/helpers.py
  qcfractal/app/routes/keywords.py
  qcfractal/app/routes/main.py
  qcfractal/app/routes/manager.py
  qcfractal/app/routes/manager_info.py
  qcfractal/app/routes/molecule.py
  qcfractal/app/routes/optimization.py
  qcfractal/app/routes/output_store.py
  qcfractal/app/routes/permissions.py
  qcfractal/app/routes/records.py
  qcfractal/app/routes/server_info.py
  qcfractal/app/routes/service.py
  qcfractal/app/routes/singlepoint.py
  qcfractal/app/routes/tasks.py
  qcfractal/app/routes/users.py
  qcfractal/app/routes/wavefunction.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_collections.py
Labels: none

Consolidate wavefunction
  devtools/qcexport/qcexport.py
  qcfractal/app/flask_app.py
  qcfractal/components/wavefunction/db_models.py
  qcfractal/components/wavefunction/routes.py
  qcfractal/components/wavefunction/socket.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
Labels: Database

Adjustments on advice from BP
  qcfractal/interface/models/records.py
  qcfractal/portal/cache.py
  qcfractal/portal/collections/collection.py
Labels: Interface

Consistency fixes from ad-hoc full client method testing
  qcfractal/portal/records/__init__.py
Labels: none

Removed debug print statement
  qcfractal/portal/cache.py
Labels: none

Consolidate server stats/log
  devtools/qcexport/qcexport.py
  qcfractal/app/flask_app.py
  qcfractal/components/serverinfo/__init__.py
  qcfractal/components/serverinfo/db_models.py
  qcfractal/components/serverinfo/routes.py
  qcfractal/components/serverinfo/sockets.py
  qcfractal/postgres_harness.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
Labels: Database

Trying out lzma compression for cache
  qcfractal/portal/cache.py
Labels: none

Consolidate services
  devtools/qcexport/qcexport.py
  qcfractal/alembic/versions/651954cbdec6_migrate_services.py
  qcfractal/app/flask_app.py
  qcfractal/components/records/base_handlers.py
  qcfractal/components/records/gridoptimization/handlers.py
  qcfractal/components/records/torsiondrive/handlers.py
  qcfractal/components/serverinfo/sockets.py
  qcfractal/components/services/__init__.py
  qcfractal/components/services/db_models.py
  qcfractal/components/services/routes.py
  qcfractal/components/services/sockets.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
  qcfractal/tests/test_sqlalchemy.py
Labels: Database

Rough reconciliation with interface/client.py
  qcfractal/portal/__init__.py
  qcfractal/portal/client.py
Labels: none

`BaseProcedureDataset` now has refactored `status` method
  qcfractal/interface/collections/collection_utils.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/optimization_dataset.py
  setup.py
Labels: Interface

Consolidate outputstore
  devtools/qcexport/qcexport.py
  qcfractal/app/flask_app.py
  qcfractal/components/outputstore/db_models.py
  qcfractal/components/outputstore/routes.py
  qcfractal/components/outputstore/socket.py
  qcfractal/portal/client.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
  qcfractal/storage_sockets/subsockets/server_log.py
  qcfractal/tests/test_sqlalchemy.py
Labels: Database

Consolidate procedures/records/services
  devtools/qcexport/qcexport.py
  devtools/qcexport/qcexport_extra.py
  qcfractal/app/flask_app.py
  qcfractal/components/records/__init__.py
  qcfractal/components/records/base_handlers.py
  qcfractal/components/records/db_models.py
  qcfractal/components/records/failure.py
  qcfractal/components/records/gridoptimization/__init__.py
  qcfractal/components/records/gridoptimization/db_models.py
  qcfractal/components/records/gridoptimization/handlers.py
  qcfractal/components/records/helpers.py
  qcfractal/components/records/optimization/__init__.py
  qcfractal/components/records/optimization/db_models.py
  qcfractal/components/records/optimization/handlers.py
  qcfractal/components/records/optimization/routes.py
  qcfractal/components/records/routes.py
  qcfractal/components/records/singlepoint/__init__.py
  qcfractal/components/records/singlepoint/db_models.py
  qcfractal/components/records/singlepoint/handlers.py
  qcfractal/components/records/singlepoint/routes.py
  qcfractal/components/records/sockets.py
  qcfractal/components/records/torsiondrive/__init__.py
  qcfractal/components/records/torsiondrive/db_models.py
  qcfractal/components/records/torsiondrive/handlers.py
  qcfractal/components/serverinfo/sockets.py
  qcfractal/interface/models/rest_models.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/procedures/__init__.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/services/__init__.py
  qcfractal/storage_sockets/subsockets/services/base.py
  qcfractal/tests/storage/test_procedure.py
  qcfractal/tests/test_sqlalchemy.py
Labels: Database, Interface

Added all collections to registration; working on Dataset._query
  qcfractal/portal/client.py
  qcfractal/portal/collections/__init__.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/dataset.py
  qcfractal/portal/collections/gridoptimization_dataset.py
  qcfractal/portal/collections/reaction_dataset.py
  qcfractal/portal/collections/torsiondrive_dataset.py
Labels: none

get_ and query_ methods on client
  qcfractal/portal/client.py
Labels: none

Changes prior to rebase; mostly to accommodate ResultRecord > SingleResultRecord
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/model_builder.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/rest_models.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection_utils.py
  qcfractal/portal/records/__init__.py
  qcfractal/portal/records/optimization_record.py
  qcfractal/portal/records/record_utils.py
Labels: Interface

More consolidation of manager
  qcfractal/app/flask_app.py
  qcfractal/app/routes/manager.py
  qcfractal/components/managers/routes.py
Labels: none

Added include to get_record
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/records/record.py
  qcfractal/portal/records/singlepoint_record.py
Labels: none

Additional client get_ and query_ evolution, collection harmonization
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/dataset.py
  qcfractal/portal/collections/gridoptimization_dataset.py
  qcfractal/portal/collections/reaction_dataset.py
Labels: none
