Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

Service errors should always be compute errors
  qcfractal/server.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Add logging for finishing service update
  qcfractal/server.py
Labels: none

Use v2 of setup-miniconda
  .github/workflows/CI.yml
Labels: none

Add handle_collection
  qcfractal/server_flask.py
Labels: none

Add queue_manager methods
  qcfractal/server_flask.py
Labels: none

Add login endpoint
  qcfractal/server_flask.py
Labels: none

Create FractalServer class
  qcfractal/server_flask.py
Labels: none

Init Flask commit
  qcfractal/__init__.py
  qcfractal/alembic/ERD.png
  qcfractal/qc_queue/__init__.py
  qcfractal/qc_queue/adapters.py
  qcfractal/qc_queue/base_adapter.py
  qcfractal/qc_queue/compress.py
  qcfractal/qc_queue/executor_adapter.py
  qcfractal/qc_queue/fireworks_adapter.py
  qcfractal/qc_queue/handlers.py
  qcfractal/qc_queue/managers.py
  qcfractal/qc_queue/parsl_adapter.py
  qcfractal/requirements.txt
  qcfractal/server.py
  qcfractal/server_flask.py
  qcfractal/testing.py
Labels: none

Add handle_collection
  qcfractal/server_flask.py
Labels: none

Add service_queue methods
  qcfractal/server_flask.py
Labels: none

Modify add_user to accept rolename
  qcfractal/server_flask.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Use qc_policy for authorization
  qcfractal/requirements.txt
  qcfractal/server_flask.py
Labels: none

Add Roles endpoints
  qcfractal/server_flask.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

change module queue name to qc_queue
  docs/qcfractal/source/api.rst
  qcfractal/cli/qcfractal_manager.py
  qcfractal/testing.py
  qcfractal/tests/test_adapters.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_services.py
Labels: Documentation

Add docs
  qcfractal/server_flask.py
Labels: none

Add authorization related methods.
  qcfractal/server_flask.py
Labels: none

Add manager method
  qcfractal/server_flask.py
Labels: none

Add role table
  qcfractal/server_flask.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
Labels: Database

remove qc_policy.py test file
  qcfractal/qc_policy.py
Labels: none

Add FractalServer class methods
  qcfractal/server_flask.py
Labels: none

Cleanup
  qcfractal/server_flask.py
Labels: none

Add token_required method
  qcfractal/server_flask.py
Labels: none

Add policyuniverse module
  qcfractal/policyuniverse/__init__.py
  qcfractal/policyuniverse/policy.py
  qcfractal/policyuniverse/statement.py
  qcfractal/policyuniverse/tests/__init__.py
  qcfractal/policyuniverse/tests/test_policy.py
  qcfractal/policyuniverse/tests/test_statement.py
  qcfractal/qc_policy.py
  qcfractal/server_flask.py
Labels: none

Authorization init version
  qcfractal/server_flask.py
Labels: none

Protect some endpoints with JWT accessToken
  qcfractal/server_flask.py
Labels: none

Add register endpoint
  qcfractal/server_flask.py
Labels: none

Add task_queue routes
  qcfractal/server_flask.py
Labels: none

Add get_wave_function
  qcfractal/server_flask.py
Labels: none

Enhance verify_user
  qcfractal/requirements.txt
  qcfractal/server_flask.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Add get_optimization
  qcfractal/server_flask.py
Labels: none

Add get_result
  qcfractal/server_flask.py
Labels: none

Add refresh method
  qcfractal/server_flask.py
Labels: none

Add get_procedure
  qcfractal/server_flask.py
Labels: none

Use flask server instead of tornado
  qcfractal/cli/qcfractal_server.py
  qcfractal/flask_handlers.py
  qcfractal/requirements.txt
  qcfractal/server_flask.py
  qcfractal/server_old.py
  qcfractal/testing.py
Labels: none

Add flask requirements
  setup.py
Labels: none

Add flask server
  qcfractal/flask_handlers.py
  qcfractal/server.py
Labels: none

Add flask server
  qcfractal/flask_handlers.py
  qcfractal/policyuniverse/statement.py
  qcfractal/server.py
Labels: none

User and role add methods
  qcfractal/app/routes.py
  qcfractal/policyuniverse/policy.py
  qcfractal/policyuniverse/statement.py
  qcfractal/server.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Flask with Authrization JWT working
  qcfractal/app/__init__.py
  qcfractal/app/config.py
  qcfractal/app/exceptions.py
  qcfractal/app/routes.py
  qcfractal/policyuniverse/policy.py
  qcfractal/server.py
  qcfractal/storage_sockets/models/sql_models.py
Labels: Database

policyuniverse tests passing
  qcfractal/policyuniverse/policy.py
  qcfractal/policyuniverse/statement.py
  qcfractal/policyuniverse/tests/test_policy.py
  qcfractal/policyuniverse/tests/test_statement.py
  qcfractal/tests/authorization/__init__.py
  qcfractal/tests/authorization/test_policy.py
  qcfractal/tests/authorization/test_statement.py
Labels: none

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*
