Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

Consolidate tasks
  devtools/qcexport/qcexport.py
  qcfractal/app/flask_app.py
  qcfractal/components/records/base_handlers.py
  qcfractal/components/records/failure.py
  qcfractal/components/records/helpers.py
  qcfractal/components/records/optimization/handlers.py
  qcfractal/components/records/singlepoint/handlers.py
  qcfractal/components/serverinfo/sockets.py
  qcfractal/components/tasks/__init__.py
  qcfractal/components/tasks/db_models.py
  qcfractal/components/tasks/routes.py
  qcfractal/components/tasks/sockets.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_sqlalchemy.py
Labels: Database

Performance notes on cache implementation
  qcfractal/portal/cache.py
Labels: none

More cleanup of client merge issues
  qcfractal/interface/models/rest_models.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/gridoptimization_dataset.py
  qcfractal/portal/collections/torsiondrive_dataset.py
  qcfractal/portal/records/record.py
Labels: Interface

Remove old unused files
  benchmarks/bench_copy.py
  benchmarks/bench_molecule_add.py
  benchmarks/bench_mongoengine.py
  benchmarks/bench_procedure.py
  benchmarks/bench_queue.py
  benchmarks/bench_queue_submit.py
  benchmarks/bench_result_add.py
  benchmarks/bench_task_get_next.py
  devtools/README.md
  devtools/docker/README.md
  devtools/docker/qcarchive_worker_openff/Dockerfile
  devtools/docker/qcarchive_worker_openff/docker-compose.test.yml
  devtools/docker/qcfractal/Dockerfile
  devtools/docker/qcfractal/docker-compose.test.yml
  devtools/docker/qcfractal_snowflake/Dockerfile
  devtools/old_migrations/SQLAlchemy_Setup.md
  devtools/old_migrations/drop_procedures.py
  devtools/old_migrations/mongo_to_SQL_v0.6.0_v0.7.0.py
  devtools/prod-envs/README.md
  devtools/prod-envs/qcarchive_worker_openff.yaml
  devtools/prod-envs/qcfractal.yaml
  devtools/prod-envs/qcfractal_snowflake.yaml
  devtools/scripts/conda_env.py
  devtools/scripts/create_staging.py
  qcfractal/alembic/ERD.png
Labels: none

Removed cache use for include requests
  qcfractal/portal/client.py
Labels: none

Rename task subsocket to tasks
  qcfractal/components/managers/routes.py
  qcfractal/components/managers/sockets.py
  qcfractal/components/records/base_handlers.py
  qcfractal/components/records/failure.py
  qcfractal/components/records/helpers.py
  qcfractal/components/records/optimization/handlers.py
  qcfractal/components/records/optimization/routes.py
  qcfractal/components/records/singlepoint/handlers.py
  qcfractal/components/records/singlepoint/routes.py
  qcfractal/components/services/sockets.py
  qcfractal/components/tasks/routes.py
  qcfractal/db_socket/socket.py
  qcfractal/tests/storage/test_procedure.py
  qcfractal/tests/storage/test_procedure_optimization.py
  qcfractal/tests/storage/test_procedure_single.py
  qcfractal/tests/storage/test_server_log.py
  qcfractal/tests/storage/test_task_queue.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_storage.py
Labels: none

More work on new endpoints
  qcfractal/app/routes.py
  qcfractal/components/molecule/routes.py
  qcfractal/components/molecule/sockets.py
  qcfractal/components/outputstore/routes.py
  qcfractal/components/outputstore/sockets.py
  qcfractal/db_socket/__init__.py
  qcfractal/portal/client.py
  qcfractal/portal/rest_models/__init__.py
  qcfractal/portal/rest_models/common.py
  qcfractal/portal/serialization.py
Labels: none

Register all tables in alembic env
  qcfractal/alembic/env.py
Labels: none

move non-circular import
  qcfractal/db_socket/socket.py
Labels: none

Initial stab at new endpoint for molecule
  qcfractal/app/helpers.py
  qcfractal/app/routes.py
  qcfractal/components/molecule/routes.py
  qcfractal/components/molecule/sockets.py
  qcfractal/exceptions.py
  qcfractal/portal/client.py
  qcfractal/portal/rest_models/__init__.py
  qcfractal/portal/rest_models/common.py
Labels: none

Register base orm as well as routes
  qcfractal/app/flask_app.py
  qcfractal/components/all_routes.py
  qcfractal/components/datasets/register_all.py
  qcfractal/components/records/register_all.py
  qcfractal/components/register_all.py
  qcfractal/postgres_harness.py
Labels: none

Update snowflake and testing to new PortalClient
  qcfractal/snowflake.py
  qcfractal/testing.py
Labels: none

Fix qcelemental compatibility
  qcfractal/components/records/optimization/handlers.py
  qcfractal/components/records/singlepoint/handlers.py
Labels: none

New get_general function
  qcfractal/db_socket/helpers.py
Labels: none

Addresses #699
  qcfractal/cli/qcfractal_manager.py
  qcfractal/queue/adapters.py
  qcfractal/queue/executor_adapter.py
Labels: Compute

Attempting to run CI with QCEngine 0.21, QCElemental 0.24
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/openff.yaml
Labels: none

Create .gitattributes
  .gitattributes
Labels: none

Added example notebook for accessing singlepoint datasets
  docs/qcportal/source/collection-dataset-example.ipynb
Labels: Documentation

Added toctree link to singlepoint dataset example
  docs/qcportal/source/collection-dataset.rst
Labels: Documentation

Rename SinglePoint->Singlepoint and ResultORM
  devtools/qcexport/qcexport.py
  qcfractal/alembic/versions/cdd9f3dc10e3_rename_and_refactor_optimization.py
  qcfractal/components/records/db_models.py
  qcfractal/components/records/optimization/db_models.py
  qcfractal/components/records/optimization/sockets.py
  qcfractal/components/records/optimization/test_client.py
  qcfractal/components/records/optimization/test_sockets.py
  qcfractal/components/records/optimization/test_specification_socket.py
  qcfractal/components/records/singlepoint/db_models.py
  qcfractal/components/records/singlepoint/routes.py
  qcfractal/components/records/singlepoint/sockets.py
  qcfractal/components/records/singlepoint/test_client.py
  qcfractal/components/records/singlepoint/test_sockets.py
  qcfractal/components/records/singlepoint/test_specification_socket.py
  qcfractal/components/records/sockets.py
  qcfractal/components/tasks/db_models.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/model_builder.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/rest_models.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/dataset.py
  qcfractal/portal/records/__init__.py
  qcfractal/portal/records/optimization/__init__.py
  qcfractal/portal/records/optimization/models.py
  qcfractal/portal/records/singlepoint/__init__.py
  qcfractal/portal/records/singlepoint/models.py
  qcfractal/portal/records/singlepoint/test_models.py
  qcfractal/portal/records_ddotson/__init__.py
  qcfractal/portal/records_ddotson/singlepoint_record.py
  qcfractal/testing.py
Labels: Interface

Make github workflow for core tests
  .github/workflows/CI.yml
  .github/workflows/core_tests.yml
  setup.py
Labels: none

Change molecule empty query tests
  qcfractal/components/molecules/test_client.py
  qcfractal/components/molecules/test_sockets.py
Labels: none

Refactoring of serverinfo
  .gitignore
  qcfractal/alembic/versions/79604526d271_add_response_bytes_to_access_log.py
  qcfractal/alembic/versions/ae97b389022a_migrate_server_info_stats_access_tables.py
  qcfractal/app/routes.py
  qcfractal/components/serverinfo/db_models.py
  qcfractal/components/serverinfo/routes.py
  qcfractal/components/serverinfo/sockets.py
  qcfractal/components/serverinfo/test_access_client.py
  qcfractal/components/serverinfo/test_access_socket.py
  qcfractal/components/serverinfo/test_error_client.py
  qcfractal/components/serverinfo/test_error_socket.py
  qcfractal/components/serverinfo/test_stats_client.py
  qcfractal/components/serverinfo/test_stats_socket.py
  qcfractal/interface/models/rest_models.py
  qcfractal/periodics.py
  qcfractal/portal/client.py
  qcfractal/portal/components/serverinfo/__init__.py
  qcfractal/portal/components/serverinfo/rest_models.py
  qcfractal/testing.py
Labels: Interface

Move policyuniverse again
  qcfractal/app/policyuniverse/__init__.py
  qcfractal/app/policyuniverse/policy.py
  qcfractal/app/policyuniverse/statement.py
  qcfractal/app/policyuniverse/test_policy.py
  qcfractal/app/policyuniverse/test_statement.py
  qcfractal/app/routes.py
Labels: none

Clean up some dependencies & remove qcengine from versions in db
  .github/workflows/core_tests.yml
  qcfractal/alembic/versions/cabe9df168a5_remove_qcengine_from_versions.py
  qcfractal/components/serverinfo/db_models.py
  qcfractal/db_socket/socket.py
  qcfractal/interface/collections/dataset_view.py
  qcfractal/postgres_harness.py
  qcfractal/testing.py
  setup.py
Labels: Interface

Remove outputstore and wfn sockets
  qcfractal/components/outputstore/db_models.py
  qcfractal/components/outputstore/routes.py
  qcfractal/components/outputstore/sockets.py
  qcfractal/components/outputstore/test_client.py
  qcfractal/components/outputstore/test_db_models.py
  qcfractal/components/outputstore/test_sockets.py
  qcfractal/components/records/helpers.py
  qcfractal/components/register_all.py
  qcfractal/components/wavefunctions/db_models.py
  qcfractal/components/wavefunctions/routes.py
  qcfractal/components/wavefunctions/sockets.py
  qcfractal/components/wavefunctions/test_client.py
  qcfractal/components/wavefunctions/test_db_models.py
  qcfractal/components/wavefunctions/test_sockets.py
  qcfractal/db_socket/socket.py
  qcfractal/portal/client.py
Labels: none

More permissions work
  qcfractal/app/flask_app.py
  qcfractal/app/routes.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/components/permissions/policyuniverse/policy.py
  qcfractal/components/permissions/role_socket.py
  qcfractal/components/permissions/routes.py
  qcfractal/components/permissions/test_role_socket.py
  qcfractal/components/permissions/test_user_client.py
  qcfractal/components/permissions/test_user_socket.py
  qcfractal/components/permissions/user_socket.py
  qcfractal/portal/client.py
  qcfractal/portal/components/permissions/models.py
  qcfractal/testing.py
Labels: none

Refactoring of permissions component
  qcfractal/alembic/versions/ace6189b4a68_update_users_and_roles.py
  qcfractal/app/routes.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/components/permissions/db_models.py
  qcfractal/components/permissions/role_socket.py
  qcfractal/components/permissions/routes.py
  qcfractal/components/permissions/test_role_socket.py
  qcfractal/components/permissions/test_user_socket.py
  qcfractal/components/permissions/user_socket.py
  qcfractal/exceptions.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/common_models.py
  qcfractal/portal/client.py
  qcfractal/portal/models/__init__.py
  qcfractal/portal/models/permissions.py
  qcfractal/portal/rest_models/__init__.py
  qcfractal/portal/rest_models/permissions.py
  qcfractal/tests/storage/test_user.py
  qcfractal/tests/test_authentication.py
Labels: Interface

Refactoring of molecule component
  qcfractal/alembic/versions/fd76a1459fa3_migrate_molecule_table.py
  qcfractal/components/molecule/routes.py
  qcfractal/components/molecules/__init__.py
  qcfractal/components/molecules/db_models.py
  qcfractal/components/molecules/routes.py
  qcfractal/components/molecules/sockets.py
  qcfractal/components/molecules/test_client.py
  qcfractal/components/molecules/test_sockets.py
  qcfractal/components/records/gridoptimization/db_models.py
  qcfractal/components/records/gridoptimization/handlers.py
  qcfractal/components/records/optimization/db_models.py
  qcfractal/components/records/singlepoint/db_models.py
  qcfractal/components/records/torsiondrive/db_models.py
  qcfractal/components/records/torsiondrive/handlers.py
  qcfractal/components/register_all.py
  qcfractal/components/serverinfo/sockets.py
  qcfractal/db_socket/socket.py
  qcfractal/interface/models/rest_models.py
  qcfractal/portal/client.py
  qcfractal/portal/rest_models/__init__.py
  qcfractal/portal/rest_models/common.py
  qcfractal/portal/rest_models/molecules.py
  qcfractal/testing.py
  qcfractal/tests/molecule_data/hooh.json
  qcfractal/tests/molecule_data/neon_tetramer.json
  qcfractal/tests/molecule_data/water_dimer_minima.json
Labels: Interface

Better exception handling in portal client
  qcfractal/components/permissions/test_user_client.py
  qcfractal/portal/client.py
Labels: none

Store validated flask data in g
  qcfractal/app/routes.py
Labels: none

Fix/cleanup routes
  qcfractal/app/routes.py
  qcfractal/testing.py
Labels: none

Add undelete functionality
  qcfractal/alembic/versions/7fb1093c30ca_add_deletion_info_table.py
  qcfractal/components/records/db_models.py
  qcfractal/components/records/optimization/test_client.py
  qcfractal/components/records/optimization/test_sockets.py
  qcfractal/components/records/routes.py
  qcfractal/components/records/sockets.py
  qcfractal/components/records/test_client.py
  qcfractal/components/records/test_sockets.py
  qcfractal/portal/client.py
  qcfractal/portal/metadata_models.py
  qcfractal/portal/records/__init__.py
  qcfractal/portal/records/models.py
Labels: none

Add DeleteParameters to REST models
  qcfractal/portal/rest_models/__init__.py
  qcfractal/portal/rest_models/common.py
Labels: none

Rework common rest models and route helpers
  qcfractal/app/helpers.py
  qcfractal/components/keywords/routes.py
  qcfractal/components/managers/routes.py
  qcfractal/components/molecules/routes.py
  qcfractal/portal/common_rest.py
  qcfractal/portal/components/managers/rest_models.py
  qcfractal/portal/components/molecules/rest_models.py
  qcfractal/portal/components/serverinfo/rest_models.py
Labels: none

Better handling of relationships in get_general
  qcfractal/db_socket/helpers.py
Labels: none

Finish reworking of permissions component
  qcfractal/app/routes.py
  qcfractal/components/permissions/role_socket.py
  qcfractal/components/permissions/routes.py
  qcfractal/components/permissions/test_role_client.py
  qcfractal/components/permissions/test_user_client.py
  qcfractal/components/permissions/test_user_socket.py
  qcfractal/components/permissions/user_socket.py
  qcfractal/portal/client.py
  qcfractal/portal/components/permissions/__init__.py
  qcfractal/portal/components/permissions/models.py
  qcfractal/snowflake.py
  qcfractal/testing.py
Labels: none

Refactoring of outputstore component
  qcfractal/alembic/versions/2a334994fcb3_rename_kv_store_table.py
  qcfractal/components/outputstore/__init__.py
  qcfractal/components/outputstore/db_models.py
  qcfractal/components/outputstore/routes.py
  qcfractal/components/outputstore/sockets.py
  qcfractal/components/outputstore/test_client.py
  qcfractal/components/outputstore/test_sockets.py
  qcfractal/components/records/db_models.py
  qcfractal/components/records/helpers.py
  qcfractal/components/serverinfo/sockets.py
  qcfractal/components/tasks/sockets.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/common_models.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/tests/test_models.py
  qcfractal/portal/client.py
  qcfractal/portal/records/record.py
  qcfractal/qc_queue/compress.py
  qcfractal/tests/storage/test_output_store.py
  qcfractal/tests/test_sqlalchemy.py
Labels: Interface

Update procedure testing data for new spec
  qcfractal/tests/procedure_data/psi4_benzene_energy_1.json
  qcfractal/tests/procedure_data/psi4_benzene_energy_2.json
  qcfractal/tests/procedure_data/psi4_benzene_energy_3.json
  qcfractal/tests/procedure_data/psi4_benzene_opt.json
  qcfractal/tests/procedure_data/psi4_fluoroethane_opt_notraj.json
  qcfractal/tests/procedure_data/psi4_fluoroethane_wfn.json
  qcfractal/tests/procedure_data/psi4_methane_gradient_fail_iter.json
  qcfractal/tests/procedure_data/psi4_methane_opt_fail_qcmethod.json
  qcfractal/tests/procedure_data/psi4_methane_opt_sometraj.json
  qcfractal/tests/procedure_data/psi4_peroxide_energy_fail_basis.json
  qcfractal/tests/procedure_data/psi4_peroxide_energy_fail_kw.json
  qcfractal/tests/procedure_data/psi4_peroxide_energy_fail_method.json
  qcfractal/tests/procedure_data/psi4_peroxide_energy_wfn.json
  qcfractal/tests/procedure_data/psi4_peroxide_opt_fail_optiter.json
  qcfractal/tests/procedure_data/psi4_water_energy.json
  qcfractal/tests/procedure_data/psi4_water_gradient.json
  qcfractal/tests/procedure_data/psi4_water_hessian.json
  qcfractal/tests/procedure_data/psi4_water_opt_fail_scfiter.json
  qcfractal/tests/procedure_data/rdkit_benzene_energy.json
  qcfractal/tests/procedure_data/rdkit_water_energy.json
  qcfractal/tests/procedure_data/rdkit_water_gradient.json
Labels: none

Some helper functions for common routes
  qcfractal/app/helpers.py
Labels: none

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*
