Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*

Redesigned `list_collections` client method
  qcfractal/portal/client.py
Labels: none

`BaseProcedureDataset` now has refactored `status` method
  qcfractal/interface/collections/collection_utils.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/optimization_dataset.py
  setup.py
Labels: Interface

Blackified!
  qcfractal/portal/__init__.py
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/__init__.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/optimization_dataset.py
Labels: none

Improves QCPortal's Documentation (#657)
  docs/qcportal/source/client-add-query.rst
  docs/qcportal/source/client.rst
  docs/qcportal/source/collection-dataset.rst
  docs/qcportal/source/collection-optimization.rst
  docs/qcportal/source/collection-reactiondataset.rst
  docs/qcportal/source/collection-tasks.rst
  docs/qcportal/source/collection-torsiondrive.rst
  docs/qcportal/source/collections.rst
  docs/qcportal/source/install.rst
  docs/qcportal/source/record-optimization.rst
  docs/qcportal/source/record-overview.rst
  docs/qcportal/source/record-result.rst
Labels: Documentation

Add unique indices for base_result and molecule
  qcfractal/alembic/versions/c05d63683601_fix_indices_base_result_molecule.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/models/sql_models.py
Labels: Database

Add unique indices for base_result and molecule (#663)
  qcfractal/alembic/versions/c05d63683601_fix_indices_base_result_molecule.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/models/sql_models.py
Labels: Database

Adds indices to base_result and access_log
  qcfractal/alembic/versions/cd3d3e2915ce_add_indices_to_access_and_base_result.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/models/sql_models.py
Labels: Database

Update changelog for release
  docs/qcfractal/source/changelog.rst
  docs/qcportal/source/changelog.rst
Labels: Documentation

Update changelog for release (#666)
  docs/qcfractal/source/changelog.rst
  docs/qcportal/source/changelog.rst
Labels: Documentation

Restrict sqlalchemy versions to < 1.4
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/openff.yaml
  setup.py
Labels: none

Make molecules not unique by hash again
  qcfractal/alembic/versions/6b07e9a3589d_mol_hash_not_uniq.py
  qcfractal/alembic/versions/c05d63683601_fix_indices_base_result_molecule.py
  qcfractal/storage_sockets/models/sql_models.py
Labels: Database

Also make base_result.hash_index not unique
  qcfractal/alembic/versions/6b07e9a3589d_mol_hash_not_uniq.py
  qcfractal/alembic/versions/cd3d3e2915ce_add_indices_to_access_and_base_result.py
  qcfractal/storage_sockets/models/results_models.py
Labels: Database

Add FractalServer class methods
  qcfractal/server_flask.py
Labels: none

Add docs
  qcfractal/server_flask.py
Labels: none

Add task_queue routes
  qcfractal/server_flask.py
Labels: none

Protect some endpoints with JWT accessToken
  qcfractal/server_flask.py
Labels: none

Add refresh method
  qcfractal/server_flask.py
Labels: none

Add flask server
  qcfractal/flask_handlers.py
  qcfractal/server.py
Labels: none

policyuniverse tests passing
  qcfractal/policyuniverse/policy.py
  qcfractal/policyuniverse/statement.py
  qcfractal/policyuniverse/tests/test_policy.py
  qcfractal/policyuniverse/tests/test_statement.py
  qcfractal/tests/authorization/__init__.py
  qcfractal/tests/authorization/test_policy.py
  qcfractal/tests/authorization/test_statement.py
Labels: none

Add token_required method
  qcfractal/server_flask.py
Labels: none

Create FractalServer class
  qcfractal/server_flask.py
Labels: none

Use flask server instead of tornado
  qcfractal/cli/qcfractal_server.py
  qcfractal/flask_handlers.py
  qcfractal/requirements.txt
  qcfractal/server_flask.py
  qcfractal/server_old.py
  qcfractal/testing.py
Labels: none

Add login endpoint
  qcfractal/server_flask.py
Labels: none

Authorization init version
  qcfractal/server_flask.py
Labels: none

Cleanup
  qcfractal/server_flask.py
Labels: none

Add manager method
  qcfractal/server_flask.py
Labels: none

Add policyuniverse module
  qcfractal/policyuniverse/__init__.py
  qcfractal/policyuniverse/policy.py
  qcfractal/policyuniverse/statement.py
  qcfractal/policyuniverse/tests/__init__.py
  qcfractal/policyuniverse/tests/test_policy.py
  qcfractal/policyuniverse/tests/test_statement.py
  qcfractal/qc_policy.py
  qcfractal/server_flask.py
Labels: none

Add get_wave_function
  qcfractal/server_flask.py
Labels: none

Add queue_manager methods
  qcfractal/server_flask.py
Labels: none

Add register endpoint
  qcfractal/server_flask.py
Labels: none

Add flask server
  qcfractal/flask_handlers.py
  qcfractal/policyuniverse/statement.py
  qcfractal/server.py
Labels: none

Add get_result
  qcfractal/server_flask.py
Labels: none

More flask integration with APscheduler and mocks in tests
  devtools/conda-envs/generate_envs.py
  qcfractal/app/config.py
  qcfractal/app/exceptions.py
  qcfractal/app/routes.py
  qcfractal/server.py
  qcfractal/snowflake.py
  qcfractal/testing.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_storage.py
  setup.py
Labels: none

remove qc_policy.py test file
  qcfractal/qc_policy.py
Labels: none

Use qc_policy for authorization
  qcfractal/requirements.txt
  qcfractal/server_flask.py
Labels: none

Add role table
  qcfractal/server_flask.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
Labels: Database

Add authorization related methods.
  qcfractal/server_flask.py
Labels: none

Add Roles endpoints
  qcfractal/server_flask.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Add service_queue methods
  qcfractal/server_flask.py
Labels: none

Flask with Authrization JWT working
  qcfractal/app/__init__.py
  qcfractal/app/config.py
  qcfractal/app/exceptions.py
  qcfractal/app/routes.py
  qcfractal/policyuniverse/policy.py
  qcfractal/server.py
  qcfractal/storage_sockets/models/sql_models.py
Labels: Database
