Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

Add task_queue routes
  qcfractal/server_flask.py
Labels: none

Remove warning about TestingSnowflake
  setup.cfg
Labels: none

SSL and periodics calls working (except manager)
  qcfractal/interface/client.py
  qcfractal/server.py
  qcfractal/testing.py
Labels: Interface

Use flask server instead of tornado
  qcfractal/cli/qcfractal_server.py
  qcfractal/flask_handlers.py
  qcfractal/requirements.txt
  qcfractal/server_flask.py
  qcfractal/server_old.py
  qcfractal/testing.py
Labels: none

test_server passing, change to responses mock package
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/testing.py
  qcfractal/tests/test_server.py
Labels: Interface

Fix hang in snowflake
  qcfractal/snowflake.py
Labels: none

Fix a few more remaining tests
  qcfractal/testing.py
  qcfractal/tests/test_server.py
Labels: none

Only notify of completed tasks after committing results to prevent race conditions
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/result.py
Labels: Database

Make some subprocesses obey log level better
  qcfractal/app/flask_app.py
  qcfractal/qc_queue/managers.py
Labels: none

tests_storage pass, add lib responses instead on requets_mock
  devtools/conda-envs/base.yaml
  devtools/old_migrations/drop_procedures.py
  devtools/scripts/create_staging.py
  qcfractal/app/routes.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/storage_socket.py
  qcfractal/testing.py
  qcfractal/tests/test_storage.py
  qcfractal/try.py
  setup.py
Labels: Database

Some cleanup of imports
  qcfractal/app/routes.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/common_models.py
  qcfractal/interface/models/gridoptimization.py
  qcfractal/interface/models/model_utils.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/task_models.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/procedures/base.py
  qcfractal/procedures/failure.py
  qcfractal/procedures/optimization.py
  qcfractal/procedures/single.py
  qcfractal/services/service_util.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface, Service

Test_client passing - flask to handle python exceptions
  qcfractal/app/routes.py
  qcfractal/tests/test_client.py
Labels: none

Add service_queue methods
  qcfractal/server_flask.py
Labels: none

Update test_services
  qcfractal/tests/test_services.py
Labels: none

Python Error handling as JSON
  qcfractal/app/routes.py
  qcfractal/server.py
  qcfractal/tests/test_client.py
Labels: none

Rename updated_nested_dict
  qcfractal/config.py
  qcfractal/snowflake.py
Labels: none

Fix most cli tests
  qcfractal/cli/qcfractal_manager.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/cli/tests/qcfractal_config.yaml.template1
  qcfractal/cli/tests/test_cli.py
  qcfractal/port_util.py
  qcfractal/postgres_harness.py
  qcfractal/snowflake.py
  qcfractal/testing.py
  qcfractal/tests/test_managers.py
Labels: none

Fix logging in policyuniverse
  qcfractal/policyuniverse/policy.py
Labels: none

Add ability to set frequency of statistics periodics
  qcfractal/config.py
  qcfractal/periodics.py
Labels: none

Rework output_store subsocket
  qcfractal/app/routes.py
  qcfractal/procedures/base.py
  qcfractal/procedures/failure.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/output_store.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/tests/storage/test_output_store.py
  qcfractal/tests/test_sqlalchemy.py
Labels: Database

Fix other warnings
  qcfractal/config.py
  qcfractal/interface/models/records.py
  qcfractal/storage_sockets/models/results_models.py
Labels: Database, Interface

Rework server log subsocket
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/periodics.py
  qcfractal/storage_sockets/api_logger.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/storage_sockets/subsockets/server_log.py
  qcfractal/tests/storage/test_server_log.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface

Add logging of response sizes
  qcfractal/alembic/versions/79604526d271_add_response_bytes_to_access_log.py
  qcfractal/app/routes.py
  qcfractal/storage_sockets/models/sql_models.py
Labels: Database

Remove unused exceptions in flask app
  qcfractal/app/exceptions.py
Labels: none

Rework manager socket
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/periodics.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/manager.py
  qcfractal/tests/storage/test_manager.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface

Add ability to reset roles, and add role CLI
  qcfractal/cli/qcfractal_server.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/tests/storage/test_role.py
Labels: Database

Add general insert, get, etc, function for sqlalchemy
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/query_meta.py
  qcfractal/storage_sockets/models/sql_base.py
  qcfractal/storage_sockets/sqlalchemy_common.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database, Interface

Change version of parsl in conda envs
  devtools/conda-envs/adapter_parsl.yaml
Labels: none

Migrate collection_type to be not nullable
  qcfractal/alembic/versions/b74cd7a31b69_collection_type_not_nullable.py
Labels: none

Add more stuff to access log
  qcfractal/alembic/versions/9e817a4a5cec_add_user_and_duration_to_logs.py
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/subsockets/server_log.py
Labels: Database, Interface

Rework error handling, and add error log table
  qcfractal/alembic/versions/e1bfb46d1055_add_internal_error_log_table.py
  qcfractal/app/config.py
  qcfractal/app/routes.py
  qcfractal/exceptions.py
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/storage_sockets/subsockets/server_log.py
  qcfractal/storage_sockets/subsockets/user.py
  qcfractal/tests/storage/test_role.py
  qcfractal/tests/storage/test_user.py
  qcfractal/tests/test_client.py
Labels: Database, Interface

Remove unnecessary extras.py functions
  qcfractal/__init__.py
  qcfractal/app/routes.py
  qcfractal/extras.py
  qcfractal/interface/__init__.py
  qcfractal/interface/client.py
  qcfractal/qc_queue/managers.py
  qcfractal/services/gridoptimization_service.py
  qcfractal/services/torsiondrive_service.py
Labels: Interface, Service

Rework server stats a little bit
  qcfractal/alembic/versions/00f7a74dcc37_change_server_stats_collected.py
  qcfractal/storage_sockets/db_queries.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/subsockets/server_log.py
Labels: Database

Rework molecule subsocket
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/procedures/optimization.py
  qcfractal/procedures/procedures_util.py
  qcfractal/procedures/single.py
  qcfractal/services/gridoptimization_service.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/molecule.py
  qcfractal/storage_sockets/subsockets/result.py
  qcfractal/storage_sockets/subsockets/server_log.py
  qcfractal/tests/storage/test_molecules.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_sqlalchemy.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface, Service

Rework wavefunction store subsocket
  qcfractal/app/routes.py
  qcfractal/procedures/single.py
  qcfractal/storage_sockets/subsockets/wavefunction.py
Labels: Database

Migrate to sqlalchemy v1.4
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/openff.yaml
  qcfractal/config.py
  qcfractal/postgres_harness.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  setup.py
Labels: Database

Fix sqlalchemy 1.4 migration errors
  qcfractal/procedures/failure.py
  qcfractal/storage_sockets/db_queries.py
  qcfractal/storage_sockets/models/collections_models.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/models/sql_base.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/procedure.py
Labels: Database

Formatting with Black
  qcfractal/storage_sockets/view.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_storage_queries.py
Labels: Database

Run apt update in CI
  .github/workflows/CI.yml
Labels: none

Rework keywords socket
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/procedures/optimization.py
  qcfractal/procedures/single.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/keywords.py
  qcfractal/tests/storage/test_keywords.py
  qcfractal/tests/storage/test_server_log.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_sqlalchemy.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*
