Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

Add handle_collection
  qcfractal/server_flask.py
Labels: none

Add handle_collection
  qcfractal/server_flask.py
Labels: none

Add manager method
  qcfractal/server_flask.py
Labels: none

Add JWT token to client, test_auth passing
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/tests/test_authentication.py
Labels: Interface

Change type annotations for multiprocessing
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/periodics.py
  qcfractal/snowflake.py
Labels: none

remove qc_policy.py test file
  qcfractal/qc_policy.py
Labels: none

Update tests: procedures, sqlalchemy
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_sqlalchemy.py
Labels: none

Make JWT tokens optional using JWT_DISABLED env variable (for testing)
  qcfractal/server.py
Labels: none

more work on testing and snowflake
  qcfractal/fractal_proc.py
  qcfractal/periodics.py
  qcfractal/postgres_harness.py
  qcfractal/services/service_util.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
Labels: Database, Service

Add policyuniverse module
  qcfractal/policyuniverse/__init__.py
  qcfractal/policyuniverse/policy.py
  qcfractal/policyuniverse/statement.py
  qcfractal/policyuniverse/tests/__init__.py
  qcfractal/policyuniverse/tests/test_policy.py
  qcfractal/policyuniverse/tests/test_statement.py
  qcfractal/qc_policy.py
  qcfractal/server_flask.py
Labels: none

Add flask SSL, add manager executor
  qcfractal/app/__init__.py
  qcfractal/app/config.py
  qcfractal/app/routes.py
  qcfractal/server.py
  qcfractal/snowflake.py
Labels: none

Add refresh method
  qcfractal/server_flask.py
Labels: none

Add flask server
  qcfractal/flask_handlers.py
  qcfractal/server.py
Labels: none

Add get_procedure
  qcfractal/server_flask.py
Labels: none

Rework some process and postgres stuff
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/config.py
  qcfractal/fractal_proc.py
  qcfractal/periodics.py
  qcfractal/postgres_harness.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Add docs
  qcfractal/server_flask.py
Labels: none

Use qc_policy for authorization
  qcfractal/requirements.txt
  qcfractal/server_flask.py
Labels: none

Fix detection of disabled views (since view_handler always exists)
  qcfractal/app/routes.py
  qcfractal/storage_sockets/view.py
Labels: Database

Formatting with Black
  qcfractal/storage_sockets/view.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_storage_queries.py
Labels: Database

Use pydantic models throughout task handling
  qcfractal/app/routes.py
  qcfractal/interface/models/common_models.py
  qcfractal/interface/models/rest_models.py
  qcfractal/procedures/base.py
  qcfractal/procedures/failure.py
  qcfractal/procedures/optimization.py
  qcfractal/procedures/single.py
Labels: Interface

Rework manager socket
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/periodics.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/manager.py
  qcfractal/tests/storage/test_manager.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface

rename wait_for_results back to await_results
  qcfractal/server.py
  qcfractal/snowflake.py
  qcfractal/testing.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_services.py
Labels: none

Make some subprocesses obey log level better
  qcfractal/app/flask_app.py
  qcfractal/qc_queue/managers.py
Labels: none

Improve postgres tools autodetect
  .github/workflows/CI.yml
  qcfractal/config.py
  qcfractal/postgres_harness.py
Labels: none

Rework keywords socket
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/procedures/optimization.py
  qcfractal/procedures/single.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/keywords.py
  qcfractal/tests/storage/test_keywords.py
  qcfractal/tests/storage/test_server_log.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_sqlalchemy.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface

Add option for worker timeout
  qcfractal/app/gunicorn_app.py
  qcfractal/config.py
Labels: none

Re-add authentication/authorization testing
  qcfractal/interface/client.py
  qcfractal/testing.py
  qcfractal/tests/authorization/__init__.py
  qcfractal/tests/authorization/test_policy.py
  qcfractal/tests/authorization/test_statement.py
  qcfractal/tests/test_authentication.py
Labels: Interface

Fix issue with dask/lsf_units setting
  qcfractal/cli/qcfractal_manager.py
Labels: none

Use finalizers to propery shut down subprocesses
  qcfractal/periodics.py
  qcfractal/postgres_harness.py
  qcfractal/process_runner.py
  qcfractal/snowflake.py
Labels: none

Remove unused import
  qcfractal/app/routes.py
Labels: none

Remove warning about TestingSnowflake
  setup.cfg
Labels: none

Fix incorrect type in error handling
  qcfractal/app/routes.py
Labels: none

Fix multiprocessing issues with sqlalchemy
  qcfractal/app/gunicorn_app.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Format code using black
  qcfractal/__init__.py
  qcfractal/app/__init__.py
  qcfractal/app/config.py
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/app/routes.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/cli/tests/test_cli.py
  qcfractal/interface/client.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/common_models.py
  qcfractal/interface/models/model_utils.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/interface/tests/test_visualization.py
  qcfractal/old_config.py
  qcfractal/procedures/base.py
  qcfractal/procedures/failure.py
  qcfractal/procedures/optimization.py
  qcfractal/procedures/single.py
  qcfractal/qc_queue/managers.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/result.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/storage_sockets/subsockets/server_logs.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/task.py
  qcfractal/storage_sockets/subsockets/user.py
  qcfractal/storage_sockets/view.py
  qcfractal/testing.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_process_runner.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_sqlalchemy.py
  qcfractal/tests/test_storage.py
  qcfractal/tests/test_storage_queries.py
Labels: Database, Interface

Re-enable some commented-out stuff
  qcfractal/app/routes.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Fix hang in snowflake
  qcfractal/snowflake.py
Labels: none

Snowflake constructor should block until the rest interface is ready
  qcfractal/snowflake.py
Labels: none

Add logging of response sizes
  qcfractal/alembic/versions/79604526d271_add_response_bytes_to_access_log.py
  qcfractal/app/routes.py
  qcfractal/storage_sockets/models/sql_models.py
Labels: Database

Rework error handling, and add error log table
  qcfractal/alembic/versions/e1bfb46d1055_add_internal_error_log_table.py
  qcfractal/app/config.py
  qcfractal/app/routes.py
  qcfractal/exceptions.py
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/storage_sockets/subsockets/server_log.py
  qcfractal/storage_sockets/subsockets/user.py
  qcfractal/tests/storage/test_role.py
  qcfractal/tests/storage/test_user.py
  qcfractal/tests/test_client.py
Labels: Database, Interface

Rework output_store subsocket
  qcfractal/app/routes.py
  qcfractal/procedures/base.py
  qcfractal/procedures/failure.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/output_store.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/tests/storage/test_output_store.py
  qcfractal/tests/test_sqlalchemy.py
Labels: Database

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*
