Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

Fix setting error status of services' procedures
  qcfractal/periodics.py
Labels: none

Remove db_type from socket factory (one DB type only)
  qcfractal/tests/test_server.py
Labels: none

Fix incorrect type in error handling
  qcfractal/app/routes.py
Labels: none

Snowflake constructor should block until the rest interface is ready
  qcfractal/snowflake.py
Labels: none

Fix server defaults on user table
  qcfractal/storage_sockets/models/sql_models.py
Labels: Database

Add ability to reset roles, and add role CLI
  qcfractal/cli/qcfractal_server.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/tests/storage/test_role.py
Labels: Database

update test_compute
  qcfractal/tests/test_compute.py
Labels: none

test_server passing, change to responses mock package
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/testing.py
  qcfractal/tests/test_server.py
Labels: Interface

Re-add authentication/authorization testing
  qcfractal/interface/client.py
  qcfractal/testing.py
  qcfractal/tests/authorization/__init__.py
  qcfractal/tests/authorization/test_policy.py
  qcfractal/tests/authorization/test_statement.py
  qcfractal/tests/test_authentication.py
Labels: Interface

Make statuses lowercase and case insensitive in REST models
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/interface/collections/collection.py
  qcfractal/interface/collections/optimization_dataset.py
  qcfractal/interface/collections/torsiondrive_dataset.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/gridoptimization.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/task_models.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/periodics.py
  qcfractal/services/gridoptimization_service.py
  qcfractal/services/service_util.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/task.py
  qcfractal/tests/storage/test_manager.py
  qcfractal/tests/storage/test_procedure.py
  qcfractal/tests/storage/test_procedure_optimization.py
  qcfractal/tests/storage/test_procedure_single.py
  qcfractal/tests/storage/test_task.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_sqlalchemy.py
Labels: Database, Interface, Service

add debug logging to tests
  .github/workflows/CI.yml
Labels: none

Allow setting JWT stuff via config
  qcfractal/app/config.py
  qcfractal/app/flask_app.py
  qcfractal/app/routes.py
  qcfractal/config.py
  qcfractal/tests/test_authentication.py
Labels: none

Rework output_store subsocket
  qcfractal/app/routes.py
  qcfractal/procedures/base.py
  qcfractal/procedures/failure.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/output_store.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/tests/storage/test_output_store.py
  qcfractal/tests/test_sqlalchemy.py
Labels: Database

Add flask server
  qcfractal/flask_handlers.py
  qcfractal/policyuniverse/statement.py
  qcfractal/server.py
Labels: none

Fix routers merge with master handlers
  qcfractal/app/routes.py
Labels: none

SSL and periodics calls working (except manager)
  qcfractal/interface/client.py
  qcfractal/server.py
  qcfractal/testing.py
Labels: Interface

Make some subprocesses obey log level better
  qcfractal/app/flask_app.py
  qcfractal/qc_queue/managers.py
Labels: none

Fix queue_manager_heartbeat test
  qcfractal/tests/test_managers.py
Labels: none

Implement JWT token refresh with tests
  qcfractal/app/config.py
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_authentication.py
Labels: Database, Interface

Use pydantic models throughout task handling
  qcfractal/app/routes.py
  qcfractal/interface/models/common_models.py
  qcfractal/interface/models/rest_models.py
  qcfractal/procedures/base.py
  qcfractal/procedures/failure.py
  qcfractal/procedures/optimization.py
  qcfractal/procedures/single.py
Labels: Interface

policyuniverse tests passing
  qcfractal/policyuniverse/policy.py
  qcfractal/policyuniverse/statement.py
  qcfractal/policyuniverse/tests/test_policy.py
  qcfractal/policyuniverse/tests/test_statement.py
  qcfractal/tests/authorization/__init__.py
  qcfractal/tests/authorization/test_policy.py
  qcfractal/tests/authorization/test_statement.py
Labels: none

Basic snowflake working
  qcfractal/__init__.py
  qcfractal/app/__init__.py
  qcfractal/app/config.py
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/app/routes.py
  qcfractal/config.py
  qcfractal/interface/models/__init__.py
  qcfractal/old_config.py
  qcfractal/periodics.py
  qcfractal/postgres_harness.py
  qcfractal/procedures/__init__.py
  qcfractal/procedures/base.py
  qcfractal/procedures/optimization.py
  qcfractal/qc_queue/handlers.py
  qcfractal/server.py
  qcfractal/server_old2.py
  qcfractal/services/gridoptimization_service.py
  qcfractal/services/service_util.py
  qcfractal/services/services.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/api_logger.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/server_logs.py
  qcfractal/storage_sockets/view.py
Labels: Database, Interface, Service

Add flask server
  qcfractal/flask_handlers.py
  qcfractal/server.py
Labels: none

Add option for worker timeout
  qcfractal/app/gunicorn_app.py
  qcfractal/config.py
Labels: none

Solidify REST models for task submission
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/openff.yaml
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/procedures/single.py
  qcfractal/storage_sockets/subsockets/keywords.py
  qcfractal/tests/test_compute.py
Labels: Database, Interface

Create FractalServer class
  qcfractal/server_flask.py
Labels: none

Change handling of relationships in subsockets
  qcfractal/storage_sockets/models/sql_base.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_common.py
  qcfractal/storage_sockets/subsockets/manager.py
  qcfractal/storage_sockets/subsockets/molecule.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/procedures/optimization.py
  qcfractal/storage_sockets/subsockets/procedures/single.py
  qcfractal/storage_sockets/subsockets/server_log.py
  qcfractal/storage_sockets/subsockets/task.py
  qcfractal/storage_sockets/subsockets/wavefunction.py
  qcfractal/tests/storage/test_manager.py
  qcfractal/tests/storage/test_procedure.py
Labels: Database

update test_storage_queries
  qcfractal/snowflake.py
  qcfractal/testing.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_storage_queries.py
Labels: none

Python Error handling as JSON
  qcfractal/app/routes.py
  qcfractal/server.py
  qcfractal/tests/test_client.py
Labels: none

Make JWT tokens optional using JWT_DISABLED env variable (for testing)
  qcfractal/server.py
Labels: none

Clean up and expand query limits
  qcfractal/app/routes.py
  qcfractal/config.py
  qcfractal/interface/client.py
  qcfractal/interface/collections/collection.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/interface/tests/test_visualization.py
  qcfractal/qc_queue/managers.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/collection.py
  qcfractal/storage_sockets/subsockets/keywords.py
  qcfractal/storage_sockets/subsockets/manager.py
  qcfractal/storage_sockets/subsockets/molecule.py
  qcfractal/storage_sockets/subsockets/output_store.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/result.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/storage_sockets/subsockets/server_logs.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/task.py
  qcfractal/storage_sockets/subsockets/user.py
  qcfractal/storage_sockets/subsockets/wavefunction.py
  qcfractal/testing.py
Labels: Database, Interface

Finish updating tests
  devtools/conda-envs/adapter_fireworks.yaml
  qcfractal/testing.py
  qcfractal/tests/authorization/__init__.py
  qcfractal/tests/authorization/test_policy.py
  qcfractal/tests/authorization/test_statement.py
  qcfractal/tests/test_adapters.py
  qcfractal/tests/test_authentication.py
Labels: none

remove unused import
  qcfractal/app/routes.py
Labels: none

Some reworking of task subsocket
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/periodics.py
  qcfractal/procedures/failure.py
  qcfractal/procedures/optimization.py
  qcfractal/procedures/single.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/task.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface

Fix typing of format_query
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Rework manager socket
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/periodics.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/manager.py
  qcfractal/tests/storage/test_manager.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface

Remove erroneous setting of content type
  qcfractal/app/routes.py
Labels: none

Add token_required method
  qcfractal/server_flask.py
Labels: none

Each subsocket gets its own logger
  qcfractal/storage_sockets/subsockets/collection.py
  qcfractal/storage_sockets/subsockets/keywords.py
  qcfractal/storage_sockets/subsockets/manager.py
  qcfractal/storage_sockets/subsockets/molecule.py
  qcfractal/storage_sockets/subsockets/output_store.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/result.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/storage_sockets/subsockets/server_logs.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/task.py
  qcfractal/storage_sockets/subsockets/user.py
  qcfractal/storage_sockets/subsockets/wavefunction.py
Labels: Database

Migrate some functions to subsockets
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/collection.py
  qcfractal/storage_sockets/subsockets/keywords.py
  qcfractal/storage_sockets/subsockets/manager.py
  qcfractal/storage_sockets/subsockets/molecule.py
  qcfractal/storage_sockets/subsockets/output_store.py
  qcfractal/storage_sockets/subsockets/result.py
  qcfractal/storage_sockets/subsockets/server_logs.py
  qcfractal/storage_sockets/subsockets/wavefunction.py
Labels: Database

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*
