Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*

to_json, from_json, to_dict, from_dict methods on Records
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/collection_utils.py
  qcfractal/portal/records/optimization_record.py
  qcfractal/portal/records/record.py
  qcfractal/portal/records/record_utils.py
Labels: none

Redesigned `list_collections` client method
  qcfractal/portal/client.py
Labels: none

Commit of existing changes
  qcfractal/interface/models/records.py
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/collection_utils.py
  qcfractal/portal/collections/optimization_dataset.py
Labels: Interface

Adjustments on advice from BP
  qcfractal/interface/models/records.py
  qcfractal/portal/cache.py
  qcfractal/portal/collections/collection.py
Labels: Interface

Blackified!
  qcfractal/portal/__init__.py
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/__init__.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/optimization_dataset.py
Labels: none

Caching prototype in place, getitem access pattern for ProcedureDatasets
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/dataset.py
  qcfractal/portal/collections/optimization_dataset.py
Labels: none

`BaseProcedureDataset` now has refactored `status` method
  qcfractal/interface/collections/collection_utils.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/optimization_dataset.py
  setup.py
Labels: Interface

Adding our own Record objects, with composition of pydantic data model
  qcfractal/portal/records/optimization_record.py
  qcfractal/portal/records/record_utils.py
Labels: none

PortalClient initial work
  qcfractal/__init__.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/rest_models.py
  qcfractal/portal/__init__.py
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/__init__.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/collection_utils.py
  qcfractal/portal/collections/optimization_dataset.py
Labels: Interface

Changes prior to rebase; mostly to accommodate ResultRecord > SingleResultRecord
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/model_builder.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/rest_models.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection_utils.py
  qcfractal/portal/records/__init__.py
  qcfractal/portal/records/optimization_record.py
  qcfractal/portal/records/record_utils.py
  qcfractal/procedures/optimization.py
  qcfractal/procedures/single.py
  qcfractal/storage_sockets/db_queries.py
Labels: Database, Interface

to_json, from_json, to_dict, from_dict methods on Records
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/collection_utils.py
  qcfractal/portal/records/optimization_record.py
  qcfractal/portal/records/record.py
  qcfractal/portal/records/record_utils.py
Labels: none

Hacking on basic Dataset
  qcfractal/interface/models/__init__.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/__init__.py
  qcfractal/portal/collections/dataset.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/result.py
  setup.py
Labels: Database, Interface

Added ability to add compute specs to only a subset of entries in Dataset
  qcfractal/interface/collections/dataset.py
Labels: Interface

Reordered kwargs
  qcfractal/interface/collections/dataset.py
Labels: Interface

Built out API points common to all Collections
  qcfractal/interface/models/rest_models.py
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/dataset.py
  qcfractal/portal/records/singleresult_record.py
Labels: Interface

Building out functionality in Collection, added TorsionDriveDataset
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/dataset.py
  qcfractal/portal/collections/optimization_dataset.py
  qcfractal/portal/collections/torsiondrive_dataset.py
Labels: none

Allow selecting by status in ds.get_records
  qcfractal/interface/collections/dataset.py
Labels: Interface

Constrain parsl version for now
  devtools/conda-envs/adapter_parsl.yaml
Labels: none

Make black happy
  qcfractal/interface/collections/dataset_view.py
  qcfractal/interface/models/common_models.py
  qcfractal/interface/tests/test_visualization.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/testing.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_storage_queries.py
  qcfractal/web_handlers.py
Labels: Database, Interface

More Collection harmonization work
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/dataset.py
  qcfractal/portal/collections/optimization_dataset.py
  qcfractal/portal/collections/torsiondrive_dataset.py
Labels: none

Small shim in `FractalClient.query_results`
  qcfractal/interface/client.py
Labels: Interface

Added note on temporary workaround in query_results docstring
  qcfractal/interface/client.py
Labels: Interface

Blackified
  qcfractal/interface/client.py
Labels: Interface

Make fields of provenance not null, and fix other validation issues
  qcfractal/alembic/versions/469ece903d76_migrate_provenance_to_not_null.py
Labels: none

Working on cache; adding LRU for memory, use of dbm
  qcfractal/portal/cache.py
Labels: none

Additional client get_ and query_ evolution, collection harmonization
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/dataset.py
  qcfractal/portal/collections/gridoptimization_dataset.py
  qcfractal/portal/collections/reaction_dataset.py
Labels: none

Adding in records components; working bottom-up
  qcfractal/portal/records/__init__.py
  qcfractal/portal/records/optimization_record.py
  qcfractal/portal/records/record.py
  qcfractal/portal/records/singleresult_record.py
Labels: none

Switched caching to dbm, working well so far
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/records/record.py
Labels: none

Removed debug print statement
  qcfractal/portal/cache.py
Labels: none

Performance notes on cache implementation
  qcfractal/portal/cache.py
Labels: none

Fix str/bytes errors in views
  qcfractal/interface/collections/dataset_view.py
Labels: Interface

Pin versions of dask in dev env
  devtools/conda-envs/adapter_dask.yaml
Labels: none

Fix typo utf=8 -> utf-8
  qcfractal/interface/collections/dataset_view.py
Labels: Interface

Fix incorrect reporting in collection status
  qcfractal/interface/collections/collection.py
Labels: Interface

Changelog for v0.15.6
  docs/qcfractal/source/changelog.rst
  docs/qcportal/source/changelog.rst
Labels: Documentation

Add login endpoint
  qcfractal/server_flask.py
Labels: none

Add handle_collection
  qcfractal/server_flask.py
Labels: none

Init Flask commit
  qcfractal/__init__.py
  qcfractal/alembic/ERD.png
  qcfractal/qc_queue/__init__.py
  qcfractal/qc_queue/adapters.py
  qcfractal/qc_queue/base_adapter.py
  qcfractal/qc_queue/compress.py
  qcfractal/qc_queue/executor_adapter.py
  qcfractal/qc_queue/fireworks_adapter.py
  qcfractal/qc_queue/handlers.py
  qcfractal/qc_queue/managers.py
  qcfractal/qc_queue/parsl_adapter.py
  qcfractal/requirements.txt
  qcfractal/server.py
  qcfractal/server_flask.py
  qcfractal/testing.py
Labels: none

Add handle_collection
  qcfractal/server_flask.py
Labels: none

Add register endpoint
  qcfractal/server_flask.py
Labels: none
