Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

Rework some process and postgres stuff
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/config.py
  qcfractal/fractal_proc.py
  qcfractal/periodics.py
  qcfractal/postgres_harness.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Add more functions to subsockets
  qcfractal/storage_sockets/subsockets/output_store.py
  qcfractal/storage_sockets/subsockets/wavefunction.py
Labels: Database

More flask integration with APscheduler and mocks in tests
  devtools/conda-envs/generate_envs.py
  qcfractal/app/config.py
  qcfractal/app/exceptions.py
  qcfractal/app/routes.py
  qcfractal/server.py
  qcfractal/snowflake.py
  qcfractal/testing.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_storage.py
  setup.py
Labels: none

Enhance verify_user
  qcfractal/requirements.txt
  qcfractal/server_flask.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Remove unused import
  qcfractal/app/routes.py
Labels: none

Add flask SSL, add manager executor
  qcfractal/app/__init__.py
  qcfractal/app/config.py
  qcfractal/app/routes.py
  qcfractal/server.py
  qcfractal/snowflake.py
Labels: none

Generalize requirements in task queue
  qcfractal/app/routes.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/task_models.py
  qcfractal/qc_queue/managers.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/procedures/optimization.py
  qcfractal/storage_sockets/subsockets/procedures/single.py
  qcfractal/storage_sockets/subsockets/server_log.py
  qcfractal/storage_sockets/subsockets/task_queue.py
  qcfractal/tests/storage/test_procedure.py
  qcfractal/tests/storage/test_procedure_optimization.py
  qcfractal/tests/storage/test_procedure_single.py
  qcfractal/tests/storage/test_task.py
  qcfractal/tests/storage/test_task_queue.py
  qcfractal/tests/test_compute.py
Labels: Database, Interface

Remove unused exceptions in flask app
  qcfractal/app/exceptions.py
Labels: none

Rework wavefunction store subsocket
  qcfractal/app/routes.py
  qcfractal/procedures/single.py
  qcfractal/storage_sockets/subsockets/wavefunction.py
Labels: Database

Fix detection of disabled views (since view_handler always exists)
  qcfractal/app/routes.py
  qcfractal/storage_sockets/view.py
Labels: Database

Fix verification error message
  qcfractal/app/routes.py
Labels: none

Add ability to set frequency of statistics periodics
  qcfractal/config.py
  qcfractal/periodics.py
Labels: none

Fix waiting for manager to come up in tests
  qcfractal/tests/test_compute.py
Labels: none

Add flask requirements
  setup.py
Labels: none

More procedure cleanup
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/common_models.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/procedures/base.py
  qcfractal/storage_sockets/subsockets/procedures/failure.py
  qcfractal/storage_sockets/subsockets/procedures/optimization.py
  qcfractal/storage_sockets/subsockets/procedures/single.py
  qcfractal/storage_sockets/subsockets/task_queue.py
  qcfractal/storage_sockets/subsockets/wavefunction.py
Labels: Database, Interface

Update test_services
  qcfractal/tests/test_services.py
Labels: none

Add gunicorn to dependencies
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/openff.yaml
  setup.py
Labels: none

Enable querying server stats from client
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
Labels: Interface

Add migration of user permissions to roles
  qcfractal/alembic/versions/ace6189b4a68_update_users_and_roles.py
Labels: none

Update to v4 of flask_jwt_extended
  qcfractal/app/routes.py
Labels: none

Fix urllib import in config
  qcfractal/config.py
Labels: none

Update test_managers
  qcfractal/app/flask_app.py
  qcfractal/periodics.py
  qcfractal/snowflake.py
  qcfractal/testing.py
  qcfractal/tests/test_managers.py
Labels: none

Fixes to keep user interface stable
  qcfractal/app/routes.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/subsockets/procedures/single.py
  qcfractal/storage_sockets/subsockets/task.py
  qcfractal/tests/storage/test_procedure.py
  qcfractal/tests/test_compute.py
Labels: Database

Rename task -> task_queue
  qcfractal/app/routes.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
  qcfractal/storage_sockets/subsockets/manager.py
  qcfractal/storage_sockets/subsockets/procedures/optimization.py
  qcfractal/storage_sockets/subsockets/procedures/single.py
  qcfractal/storage_sockets/subsockets/task_queue.py
  qcfractal/tests/storage/test_procedure.py
  qcfractal/tests/storage/test_procedure_optimization.py
  qcfractal/tests/storage/test_procedure_single.py
  qcfractal/tests/storage/test_task.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_storage.py
Labels: Database

More cleanup of REST and client
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/task_models.py
  qcfractal/services/service_util.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/tests/test_managers.py
Labels: Database, Interface, Service

Improve graceful exits from subprocesses
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/openff.yaml
  mypy.ini
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/periodics.py
  qcfractal/process_runner.py
  qcfractal/qc_queue/managers.py
  qcfractal/snowflake.py
  setup.py
Labels: none

Change priority for conda channels in test envs
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
Labels: none

Rework error handling, and add error log table
  qcfractal/alembic/versions/e1bfb46d1055_add_internal_error_log_table.py
  qcfractal/app/config.py
  qcfractal/app/routes.py
  qcfractal/exceptions.py
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/storage_sockets/subsockets/server_log.py
  qcfractal/storage_sockets/subsockets/user.py
  qcfractal/tests/storage/test_role.py
  qcfractal/tests/storage/test_user.py
  qcfractal/tests/test_client.py
Labels: Database, Interface

Add general insert, get, etc, function for sqlalchemy
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/query_meta.py
  qcfractal/storage_sockets/models/sql_base.py
  qcfractal/storage_sockets/sqlalchemy_common.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database, Interface

Use finalizers to propery shut down subprocesses
  qcfractal/periodics.py
  qcfractal/postgres_harness.py
  qcfractal/process_runner.py
  qcfractal/snowflake.py
Labels: none

rename wait_for_results back to await_results
  qcfractal/server.py
  qcfractal/snowflake.py
  qcfractal/testing.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_services.py
Labels: none

Improved handling of failed tasks
  qcfractal/app/routes.py
  qcfractal/procedures/__init__.py
  qcfractal/procedures/failure.py
  qcfractal/procedures/optimization.py
  qcfractal/procedures/procedures_util.py
  qcfractal/procedures/single.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Update server_init
  qcfractal/cli/qcfractal_server.py
Labels: none

Fix multiprocessing issues with sqlalchemy
  qcfractal/app/gunicorn_app.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Clean up snowflake and process_runner
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/config.py
  qcfractal/fractal_proc.py
  qcfractal/periodics.py
  qcfractal/process_runner.py
  qcfractal/snowflake.py
  qcfractal/testing.py
Labels: none

Add Roles endpoints
  qcfractal/server_flask.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

remove qc_policy.py test file
  qcfractal/qc_policy.py
Labels: none

Rework task queue
  qcfractal/app/routes.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/task_models.py
  qcfractal/qc_queue/managers.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/subsockets/manager.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/procedures/optimization.py
  qcfractal/storage_sockets/subsockets/procedures/single.py
  qcfractal/storage_sockets/subsockets/server_log.py
  qcfractal/storage_sockets/subsockets/task_queue.py
  qcfractal/tests/storage/test_procedure.py
  qcfractal/tests/storage/test_procedure_optimization.py
  qcfractal/tests/storage/test_procedure_single.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_sqlalchemy.py
Labels: Database, Interface

Remove all references to TaskStatusEnum
  qcfractal/interface/client.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/gridoptimization.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/task_models.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/periodics.py
  qcfractal/services/gridoptimization_service.py
  qcfractal/services/service_util.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/task_queue.py
  qcfractal/tests/storage/test_procedure.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_sqlalchemy.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface, Service

Add other statuses (cancelled, deleted)
  qcfractal/interface/models/records.py
Labels: Interface

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*
