Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*

Working on cache; adding LRU for memory, use of dbm
  qcfractal/portal/cache.py
Labels: none

Removed old methods from BaseProcedureDataset
  qcfractal/portal/collections/collection.py
Labels: none

Hacking on basic Dataset
  qcfractal/interface/models/__init__.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/__init__.py
  qcfractal/portal/collections/dataset.py
  setup.py
Labels: Interface

Rework flask app structure slightly
  qcfractal/app/__init__.py
  qcfractal/app/flask_app.py
  qcfractal/app/helpers.py
  qcfractal/app/routes.py
  qcfractal/app/routes/__init__.py
  qcfractal/app/routes/main.py
  qcfractal/components/__init__.py
  qcfractal/components/all_routes.py
  qcfractal/components/datasets/routes.py
  qcfractal/components/keywords/routes.py
  qcfractal/components/managers/routes.py
  qcfractal/components/molecule/routes.py
  qcfractal/components/outputstore/routes.py
  qcfractal/components/permissions/routes.py
  qcfractal/components/records/gridoptimization/routes.py
  qcfractal/components/records/optimization/routes.py
  qcfractal/components/records/routes.py
  qcfractal/components/records/singlepoint/routes.py
  qcfractal/components/records/torsiondrive/routes.py
  qcfractal/components/serverinfo/routes.py
  qcfractal/components/services/routes.py
  qcfractal/components/tasks/routes.py
  qcfractal/components/wavefunctions/routes.py
Labels: none

Refactor grid optimization
  qcfractal/interface/models/gridoptimization.py
  qcfractal/services/gridoptimization_service.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/services/__init__.py
  qcfractal/storage_sockets/subsockets/services/gridoptimization.py
Labels: Database, Interface, Service

Remove custom queries
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/storage_sockets/__init__.py
  qcfractal/storage_sockets/db_queries.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_storage_queries.py
Labels: Database, Interface

Add table for service queue tasks
  qcfractal/storage_sockets/models/sql_base.py
  qcfractal/storage_sockets/models/sql_models.py
Labels: Database

Change version handling for qcportal
  qcfractal/interface/__init__.py
  qcfractal/interface/_version.py
Labels: Interface

Allow for querying optimizations directly
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
Labels: Interface

Consolidate users/roles
  qcfractal/alembic/versions/ace6189b4a68_update_users_and_roles.py
  qcfractal/app/flask_app.py
  qcfractal/components/permissions/db_models.py
  qcfractal/components/permissions/role_socket.py
  qcfractal/components/permissions/routes.py
  qcfractal/components/permissions/sockets.py
  qcfractal/components/permissions/user_socket.py
  qcfractal/postgres_harness.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
  qcfractal/tests/storage/test_role.py
Labels: Database

Fix deadlock in output handling
  qcfractal/storage_sockets/models/sql_base.py
  qcfractal/storage_sockets/subsockets/output_store.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/procedures/failure.py
  qcfractal/storage_sockets/subsockets/procedures/helpers.py
  qcfractal/storage_sockets/subsockets/procedures/single.py
  qcfractal/storage_sockets/subsockets/service.py
Labels: Database

Built out API points common to all Collections
  qcfractal/interface/models/rest_models.py
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/dataset.py
  qcfractal/portal/records/singleresult_record.py
Labels: Interface

Rework records, procedures, services
  qcfractal/app/routes.py
  qcfractal/config.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/procedures/optimization.py
  qcfractal/storage_sockets/subsockets/procedures/single.py
  qcfractal/storage_sockets/subsockets/record.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/service_queue.py
  qcfractal/storage_sockets/subsockets/services/torsiondrive.py
  qcfractal/storage_sockets/subsockets/task_queue.py
  qcfractal/tests/storage/test_procedure.py
  qcfractal/tests/test_compute.py
Labels: Database

Trying out lzma compression for cache
  qcfractal/portal/cache.py
Labels: none

Added include to get_record
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/records/record.py
  qcfractal/portal/records/singlepoint_record.py
Labels: none

Consolidate procedures/records/services
  devtools/qcexport/qcexport.py
  devtools/qcexport/qcexport_extra.py
  qcfractal/app/flask_app.py
  qcfractal/components/records/__init__.py
  qcfractal/components/records/base_handlers.py
  qcfractal/components/records/db_models.py
  qcfractal/components/records/failure.py
  qcfractal/components/records/gridoptimization/__init__.py
  qcfractal/components/records/gridoptimization/db_models.py
  qcfractal/components/records/gridoptimization/handlers.py
  qcfractal/components/records/helpers.py
  qcfractal/components/records/optimization/__init__.py
  qcfractal/components/records/optimization/db_models.py
  qcfractal/components/records/optimization/handlers.py
  qcfractal/components/records/optimization/routes.py
  qcfractal/components/records/routes.py
  qcfractal/components/records/singlepoint/__init__.py
  qcfractal/components/records/singlepoint/db_models.py
  qcfractal/components/records/singlepoint/handlers.py
  qcfractal/components/records/singlepoint/routes.py
  qcfractal/components/records/sockets.py
  qcfractal/components/records/torsiondrive/__init__.py
  qcfractal/components/records/torsiondrive/db_models.py
  qcfractal/components/records/torsiondrive/handlers.py
  qcfractal/components/serverinfo/sockets.py
  qcfractal/interface/models/rest_models.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/procedures/__init__.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/services/__init__.py
  qcfractal/storage_sockets/subsockets/services/base.py
  qcfractal/tests/storage/test_procedure.py
  qcfractal/tests/test_sqlalchemy.py
Labels: Database, Interface

Fix torsiondrive imports
  qcfractal/storage_sockets/subsockets/services/torsiondrive.py
Labels: Database

Removed debug print statement
  qcfractal/portal/cache.py
Labels: none

More testing + procedure query
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/models/sql_base.py
  qcfractal/storage_sockets/sqlalchemy_common.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/procedures/optimization.py
  qcfractal/storage_sockets/subsockets/procedures/single.py
  qcfractal/storage_sockets/subsockets/result.py
  qcfractal/tests/storage/test_keywords.py
  qcfractal/tests/storage/test_molecules.py
  qcfractal/tests/storage/test_procedure.py
  qcfractal/tests/storage/test_procedure_optimization.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_storage.py
  qcfractal/tests/test_storage_queries.py
Labels: Database, Interface

Added all collections to registration; working on Dataset._query
  qcfractal/portal/client.py
  qcfractal/portal/collections/__init__.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/dataset.py
  qcfractal/portal/collections/gridoptimization_dataset.py
  qcfractal/portal/collections/reaction_dataset.py
  qcfractal/portal/collections/torsiondrive_dataset.py
Labels: none

Fix service restarting
  qcfractal/app/routes.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/tests/test_services.py
Labels: Database

Remove all references to TaskStatusEnum
  qcfractal/interface/client.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/gridoptimization.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/task_models.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/periodics.py
  qcfractal/services/gridoptimization_service.py
  qcfractal/services/service_util.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/task_queue.py
  qcfractal/tests/storage/test_procedure.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_sqlalchemy.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface, Service

Additional client get_ and query_ evolution, collection harmonization
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/dataset.py
  qcfractal/portal/collections/gridoptimization_dataset.py
  qcfractal/portal/collections/reaction_dataset.py
Labels: none

Cleanup of socket
  qcfractal/app/new_routes/collections.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_storage.py
Labels: Database

Change name of procedure socket
  qcfractal/components/managers/routes.py
  qcfractal/components/managers/sockets.py
  qcfractal/components/records/base_handlers.py
  qcfractal/components/records/failure.py
  qcfractal/components/records/helpers.py
  qcfractal/components/records/optimization/handlers.py
  qcfractal/components/records/optimization/routes.py
  qcfractal/components/records/singlepoint/handlers.py
  qcfractal/components/records/singlepoint/routes.py
  qcfractal/components/services/sockets.py
  qcfractal/components/tasks/routes.py
  qcfractal/db_socket/socket.py
  qcfractal/tests/storage/test_procedure.py
  qcfractal/tests/storage/test_procedure_optimization.py
  qcfractal/tests/storage/test_procedure_single.py
  qcfractal/tests/storage/test_server_log.py
  qcfractal/tests/storage/test_task_queue.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_storage.py
Labels: none

Parametrize the test client fixture
  qcfractal/testing.py
Labels: none

Allow showing internal errors to the user
  qcfractal/app/routes.py
  qcfractal/config.py
  qcfractal/portal/client.py
Labels: none

Add error for going over resource limits
  qcfractal/exceptions.py
Labels: none

Rename subsockets for consistency
  qcfractal/app/routes.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/components/datasets/routes.py
  qcfractal/components/managers/routes.py
  qcfractal/components/molecule/routes.py
  qcfractal/components/outputstore/routes.py
  qcfractal/components/permissions/routes.py
  qcfractal/components/permissions/user_socket.py
  qcfractal/components/records/gridoptimization/handlers.py
  qcfractal/components/records/helpers.py
  qcfractal/components/records/optimization/handlers.py
  qcfractal/components/records/routes.py
  qcfractal/components/records/singlepoint/handlers.py
  qcfractal/components/records/torsiondrive/handlers.py
  qcfractal/components/serverinfo/routes.py
  qcfractal/components/services/routes.py
  qcfractal/components/services/sockets.py
  qcfractal/components/tasks/sockets.py
  qcfractal/components/wavefunctions/routes.py
  qcfractal/db_socket/socket.py
  qcfractal/periodics.py
  qcfractal/tests/storage/test_manager.py
  qcfractal/tests/storage/test_molecules.py
  qcfractal/tests/storage/test_output_store.py
  qcfractal/tests/storage/test_procedure.py
  qcfractal/tests/storage/test_procedure_optimization.py
  qcfractal/tests/storage/test_procedure_single.py
  qcfractal/tests/storage/test_role.py
  qcfractal/tests/storage/test_server_log.py
  qcfractal/tests/storage/test_task_queue.py
  qcfractal/tests/storage/test_user.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_sqlalchemy.py
  qcfractal/tests/test_storage.py
Labels: none

Refactoring of permissions component
  qcfractal/alembic/versions/ace6189b4a68_update_users_and_roles.py
  qcfractal/app/routes.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/components/permissions/db_models.py
  qcfractal/components/permissions/role_socket.py
  qcfractal/components/permissions/routes.py
  qcfractal/components/permissions/test_role_socket.py
  qcfractal/components/permissions/test_user_socket.py
  qcfractal/components/permissions/user_socket.py
  qcfractal/exceptions.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/common_models.py
  qcfractal/portal/client.py
  qcfractal/portal/models/__init__.py
  qcfractal/portal/models/permissions.py
  qcfractal/portal/rest_models/__init__.py
  qcfractal/portal/rest_models/permissions.py
  qcfractal/tests/storage/test_user.py
  qcfractal/tests/test_authentication.py
Labels: Interface

Move interface tests to portal
  qcfractal/interface/models/tests/test_hashes.py
  qcfractal/portal/components/keywords/test_models.py
  qcfractal/portal/components/molecules/test_models.py
  qcfractal/portal/components/outputstore/test_models.py
  qcfractal/tests/molecule_data/water_dimer_minima.psimol
  qcfractal/tests/molecule_data/water_dimer_stretch.json
  qcfractal/tests/molecule_data/water_dimer_stretch.psimol
  qcfractal/tests/molecule_data/water_dimer_stretch2.json
  qcfractal/tests/molecule_data/water_dimer_stretch2.psimol
Labels: Interface

Initial stab at new endpoint for molecule
  qcfractal/app/helpers.py
  qcfractal/app/routes.py
  qcfractal/components/molecule/routes.py
  qcfractal/components/molecule/sockets.py
  qcfractal/exceptions.py
  qcfractal/portal/client.py
  qcfractal/portal/rest_models/__init__.py
  qcfractal/portal/rest_models/common.py
Labels: none

Fix fast counting
  qcfractal/db_socket/helpers.py
Labels: none

Move policyuniverse again
  qcfractal/app/policyuniverse/__init__.py
  qcfractal/app/policyuniverse/policy.py
  qcfractal/app/policyuniverse/statement.py
  qcfractal/app/policyuniverse/test_policy.py
  qcfractal/app/policyuniverse/test_statement.py
  qcfractal/app/routes.py
Labels: none

Add DeleteParameters to REST models
  qcfractal/portal/rest_models/__init__.py
  qcfractal/portal/rest_models/common.py
Labels: none

Store validated flask data in g
  qcfractal/app/routes.py
Labels: none

Fix qcelemental compatibility
  qcfractal/components/records/optimization/handlers.py
  qcfractal/components/records/singlepoint/handlers.py
Labels: none

Move policyuniverse to permissions component
  qcfractal/app/routes.py
  qcfractal/components/permissions/__init__.py
  qcfractal/components/permissions/policyuniverse/__init__.py
  qcfractal/components/permissions/policyuniverse/policy.py
  qcfractal/components/permissions/policyuniverse/statement.py
  qcfractal/components/permissions/policyuniverse/test_policy.py
  qcfractal/components/permissions/policyuniverse/test_statement.py
  qcfractal/tests/authorization/__init__.py
Labels: none

Better handling of relationships in get_general
  qcfractal/db_socket/helpers.py
Labels: none

Rename task subsocket to tasks
  qcfractal/components/managers/routes.py
  qcfractal/components/managers/sockets.py
  qcfractal/components/records/base_handlers.py
  qcfractal/components/records/failure.py
  qcfractal/components/records/helpers.py
  qcfractal/components/records/optimization/handlers.py
  qcfractal/components/records/optimization/routes.py
  qcfractal/components/records/singlepoint/handlers.py
  qcfractal/components/records/singlepoint/routes.py
  qcfractal/components/services/sockets.py
  qcfractal/components/tasks/routes.py
  qcfractal/db_socket/socket.py
  qcfractal/tests/storage/test_procedure.py
  qcfractal/tests/storage/test_procedure_optimization.py
  qcfractal/tests/storage/test_procedure_single.py
  qcfractal/tests/storage/test_server_log.py
  qcfractal/tests/storage/test_task_queue.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_storage.py
Labels: none
