Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

Work on compute manager testing
  .github/workflows/core_tests.yml
  qcfractal/conftest.py
  qcfractal/snowflake.py
  qcfractal/testing_fixtures.py
  qcfractal/testing_helpers.py
  qcfractalcompute/conftest.py
  qcfractalcompute/managers.py
  qcfractalcompute/tests/__init__.py
  qcfractalcompute/tests/test_compute_manager.py
  setup.py
Labels: none

Better way of waiting until flask is alive
  qcfractal/app/flask_app.py
  qcfractal/snowflake.py
  qcfractal/testing_helpers.py
Labels: none

Work on mock testing
  qcfractalcompute/adapters.py
  qcfractalcompute/mock_testing_adapter.py
  qcfractalcompute/tests/test_compute_manager.py
Labels: none

Rework CI slightly
  .github/workflows/core_tests.yml
  .github/workflows/full_tests_snowflake.yml
Labels: none

Allow restarting processes in process_runner
  qcfractal/process_runner.py
Labels: none

More compute manager testing
  qcfractal/testing_helpers.py
  qcfractalcompute/managers.py
  qcfractalcompute/mock_testing_adapter.py
  qcfractalcompute/tests/test_compute_manager.py
Labels: none

Bit of cleanup in testing services
  qcfractal/components/services/test_sockets.py
  qcfractal/testing_helpers.py
Labels: none

Testing periodics
  qcfractal/test_periodics.py
Labels: none

Attempting tests with qcengine >=0.21, qcelemental >=0.24
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/openff.yaml
Labels: none

Fix output retrieval in record model
  qcportal/records/models.py
Labels: none

Rework status changes a bit
  qcfractal/components/records/sockets.py
Labels: none

Cleanup client and status changes
  qcfractal/components/records/optimization/test_sockets.py
  qcfractal/components/records/routes.py
  qcfractal/components/records/sockets.py
  qcfractal/components/records/test_client.py
  qcfractal/components/records/test_socket_status.py
  qcfractal/components/records/test_status_changes.py
  qcfractal/components/serverinfo/test_access_client.py
  qcportal/client.py
  qcportal/metadata_models.py
  qcportal/records/__init__.py
  qcportal/records/models.py
Labels: none

Status changes and testing for services
  qcfractal/alembic/versions/1c01369d0bae_cascade_deletes_to_service_queue.py
  qcfractal/app/helpers.py
  qcfractal/components/records/db_models.py
  qcfractal/components/records/gridoptimization/sockets.py
  qcfractal/components/records/gridoptimization/test_sockets.py
  qcfractal/components/records/sockets.py
  qcfractal/components/records/test_status_changes_services.py
  qcfractal/components/records/torsiondrive/sockets.py
  qcfractal/components/records/torsiondrive/test_sockets.py
  qcfractal/components/services/db_models.py
  qcfractal/components/services/sockets.py
  qcfractal/testing_helpers.py
  qcfractaltesting/__init__.py
  qcfractaltesting/helpers.py
Labels: none

Add test for modifying service (and fix bugs)
  qcfractal/alembic/versions/1c01369d0bae_cascade_deletes_to_service_queue.py
  qcfractal/components/records/routes.py
  qcfractal/components/records/sockets.py
  qcfractal/components/records/test_client.py
  qcportal/client.py
  qcportal/records/models.py
Labels: none

Add test for deleting in-use molecule
  qcfractal/components/molecules/test_sockets.py
Labels: none

Clean up version imports & run black
  qcfractalcompute/__init__.py
  qcfractaltesting/helpers.py
  qcportal/__init__.py
  qcportal/client.py
  qcportal/records/models.py
Labels: none

Clean up type hits with mypy
  mypy.ini
  qcfractal/app/flask_app.py
  qcfractal/app/helpers.py
  qcfractal/app/policyuniverse/statement.py
  qcfractal/app/routes.py
  qcfractal/components/keywords/sockets.py
  qcfractal/components/managers/sockets.py
  qcfractal/components/molecules/routes.py
  qcfractal/components/molecules/sockets.py
  qcfractal/components/permissions/role_socket.py
  qcfractal/components/permissions/user_socket.py
  qcfractal/components/records/db_models.py
  qcfractal/components/records/gridoptimization/sockets.py
  qcfractal/components/records/optimization/sockets.py
  qcfractal/components/records/singlepoint/db_models.py
  qcfractal/components/records/singlepoint/routes.py
  qcfractal/components/records/singlepoint/sockets.py
  qcfractal/components/records/sockets.py
  qcfractal/components/records/torsiondrive/sockets.py
  qcfractal/components/serverinfo/sockets.py
  qcfractal/components/tasks/sockets.py
  qcfractal/db_socket/helpers.py
  qcfractal/db_socket/socket.py
  qcfractal/process_runner.py
  qcfractal/snowflake.py
  qcportal/base_models.py
  qcportal/client.py
  qcportal/client_base.py
  qcportal/utils.py
Labels: none

Rename info in server_logs
  qcfractal/alembic/versions/435c1f35227d_rename_tables_in_server_logs.py
Labels: none

Merge wrap_route and check_access decorators
  qcfractal/app/routes.py
  qcfractal/components/datasets/routes.py
  qcfractal/components/keywords/routes.py
  qcfractal/components/managers/routes.py
  qcfractal/components/molecules/routes.py
  qcfractal/components/permissions/routes.py
  qcfractal/components/records/gridoptimization/routes.py
  qcfractal/components/records/optimization/routes.py
  qcfractal/components/records/routes.py
  qcfractal/components/records/singlepoint/routes.py
  qcfractal/components/records/torsiondrive/routes.py
  qcfractal/components/serverinfo/routes.py
  qcfractal/components/tasks/routes.py
Labels: none

Add full tests of optimization, gridopt, and torsiondrive
  qcfractal/snowflake.py
  qcfractaltesting/test_full_gridoptimization.py
  qcfractaltesting/test_full_optimization.py
  qcfractaltesting/test_full_torsiondrive.py
Labels: none

Rename QueueManager
  qcfractal/snowflake.py
  qcfractalcompute/__init__.py
  qcfractalcompute/managers.py
  qcfractalcompute/qcfractal_manager_cli.py
  qcfractalcompute/tests/test_compute_manager.py
Labels: none

Change order of molecule & spec in sockets
  qcfractal/components/molecules/test_sockets.py
  qcfractal/components/outputstore/test_db_models.py
  qcfractal/components/records/gridoptimization/routes.py
  qcfractal/components/records/gridoptimization/sockets.py
  qcfractal/components/records/gridoptimization/test_client.py
  qcfractal/components/records/gridoptimization/test_sockets.py
  qcfractal/components/records/optimization/routes.py
  qcfractal/components/records/optimization/sockets.py
  qcfractal/components/records/optimization/test_client.py
  qcfractal/components/records/optimization/test_sockets.py
  qcfractal/components/records/singlepoint/routes.py
  qcfractal/components/records/singlepoint/sockets.py
  qcfractal/components/records/singlepoint/test_client.py
  qcfractal/components/records/singlepoint/test_sockets.py
  qcfractal/components/records/test_client.py
  qcfractal/components/records/test_status_changes.py
  qcfractal/components/records/test_status_changes_services.py
  qcfractal/components/records/torsiondrive/routes.py
  qcfractal/components/records/torsiondrive/sockets.py
  qcfractal/components/records/torsiondrive/test_client.py
  qcfractal/components/records/torsiondrive/test_sockets.py
  qcfractal/components/services/test_sockets.py
  qcfractal/components/tasks/test_sockets_badmanagers.py
  qcfractal/components/tasks/test_sockets_claim.py
  qcfractal/components/tasks/test_sockets_fullworkflow.py
  qcfractal/components/wavefunctions/test_db_models.py
  qcfractal/test_periodics.py
  qcfractal/testing_helpers.py
  qcfractalcompute/tests/test_compute_manager.py
  qcfractaltesting/helpers.py
Labels: none

Remove unused pytest mark
  qcfractaltesting/test_full_gridoptimization.py
  qcfractaltesting/test_full_optimization.py
  qcfractaltesting/test_full_singlepoint.py
  qcfractaltesting/test_full_torsiondrive.py
Labels: none

modifed line to eliminate duplicate entries in the return dataframe
  qcfractal/interface/collections/dataset.py
Labels: Interface

Make saving optional when calling `Dataset.compute`
  qcfractal/interface/collections/dataset.py
Labels: Interface

Blackified
  qcfractal/interface/collections/dataset.py
Labels: Interface

Cleanup for release v0.15.8
  docs/qcfractal/source/changelog.rst
  docs/qcportal/source/changelog.rst
  qcfractal/interface/collections/dataset.py
Labels: Documentation, Interface

Pin QCEngine 0.22 in setup.py
  setup.py
Labels: none

Update dev_head.yaml
  devtools/conda-envs/dev_head.yaml
Labels: none

Update generate_envs.py
  devtools/conda-envs/generate_envs.py
Labels: none

Update requirements.yml
  docs/requirements.yml
Labels: Documentation

Modify add_user to accept rolename
  qcfractal/server_flask.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Add login endpoint
  qcfractal/server_flask.py
Labels: none

Flask with Authrization JWT working
  qcfractal/app/__init__.py
  qcfractal/app/config.py
  qcfractal/app/exceptions.py
  qcfractal/app/routes.py
  qcfractal/policyuniverse/policy.py
  qcfractal/server.py
  qcfractal/storage_sockets/models/sql_models.py
Labels: Database

Add task_queue routes
  qcfractal/server_flask.py
Labels: none

Always use global logging rather than log queues
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/app/routes.py
  qcfractal/periodics.py
  qcfractal/snowflake.py
Labels: none

policyuniverse tests passing
  qcfractal/policyuniverse/policy.py
  qcfractal/policyuniverse/statement.py
  qcfractal/policyuniverse/tests/test_policy.py
  qcfractal/policyuniverse/tests/test_statement.py
  qcfractal/tests/authorization/__init__.py
  qcfractal/tests/authorization/test_policy.py
  qcfractal/tests/authorization/test_statement.py
Labels: none

Protect some endpoints with JWT accessToken
  qcfractal/server_flask.py
Labels: none

Cleanup
  qcfractal/server_flask.py
Labels: none

First step in manager refactor: move out of server init
  qcfractal/app/config.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/config.py
  qcfractal/qc_queue/managers.py
  qcfractal/server.py
  qcfractal/snowflake.py
  qcfractal/testing.py
  qcfractal/tests/test_adapters.py
  qcfractal/tests/test_compute.py
Labels: none

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*
