Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

make format
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Update qcel depend to 0.13.1
  devtools/conda-envs/adapters.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  qcfractal/storage_sockets/sqlalchemy_socket.py
  setup.py
Labels: Database

Return collected records in query
  qcfractal/interface/collections/collection.py
Labels: Interface

dataset: add list_keywords
  qcfractal/interface/collections/dataset.py
  qcfractal/tests/test_collections.py
Labels: Interface

Changelog for 0.13.0
  docs/qcfractal/source/changelog.rst
Labels: Documentation

Portal changelog for 0.13.1
  docs/qcportal/source/changelog.rst
Labels: Documentation

Added the rmg_db module
  qcfractal/interface/models/rmg_db.py
Labels: Interface

Added rmg and zmats to the environment(s)
  devtools/conda-envs/adapters.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/generate_envs.py
  setup.py
Labels: none

Added TS_adapters factory
  qcfractal/interface/models/ts_adapters/factory.py
Labels: Interface

Added the heuristics TS search adapter
  qcfractal/interface/models/ts_adapters/heuristics.py
Labels: Interface

Added the abstract TSAdapter class
  qcfractal/interface/models/ts_adapters/__init__.py
  qcfractal/interface/models/ts_adapters/ts_adapter.py
Labels: Interface

Added the user guess TS search adapter
  qcfractal/interface/models/ts_adapters/user.py
Labels: Interface

Added the ts_search module
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/ts_search.py
Labels: Interface

new changes to add_results and update_results
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Finalized changes to add_results and update_results
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

result benchmark file added, changes to add_results and update_results function
  benchmarks/bench_result_add.py
Labels: none

changes to sqlalchemy_socket.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Services: Fixes gridoptimization to allow other constraints through
  qcfractal/services/gridoptimization_service.py
Labels: Service

fixed erronous codes in add_results and update_results
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

update_results changed
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

corrections to both add_results and update_results
  benchmarks/bench_result_add.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Pin pint !=0.11
  devtools/conda-envs/adapters.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  devtools/prod-envs/qcarchive_worker_openff.yaml
  devtools/prod-envs/qcfractal.yaml
  devtools/prod-envs/qcfractal_snowflake.yaml
  setup.py
Labels: none

Typo
  devtools/conda-envs/adapters.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
Labels: none

Dataset: fix get_values for reaction-type ReactionDatasets
  qcfractal/interface/collections/reaction_dataset.py
  qcfractal/tests/test_collections.py
Labels: Interface

RDS: remove guard on get_records that prevents querying e.g. monomer records
  qcfractal/interface/collections/reaction_dataset.py
Labels: Interface

RDS: add option to visualize to ignore incomplete data
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/collections/reaction_dataset.py
Labels: Interface

make format
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/collections/reaction_dataset.py
Labels: Interface

.any().any()
  qcfractal/interface/collections/dataset.py
Labels: Interface

Fix dropping of columns with NaN
  qcfractal/interface/collections/dataset.py
Labels: Interface

RDS: update test to reflect new get_records behavior
  qcfractal/tests/test_collections.py
Labels: none

Revert "Pin pint !=0.11"
  devtools/conda-envs/adapters.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  devtools/prod-envs/qcarchive_worker_openff.yaml
  devtools/prod-envs/qcfractal.yaml
  devtools/prod-envs/qcfractal_snowflake.yaml
  setup.py
Labels: none

new changes to add_result function
  benchmarks/bench_result_add.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

reverted update_results back
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

add_results + multiple item query on index
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

fixed a big mistake in add_results
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

replaced tuple_ with or_ and and_ in add_results due to None bug
  benchmarks/bench_result_add.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

reverted the changed benchmark file bench_result_add.py
  benchmarks/bench_result_add.py
Labels: none

Change of indexed keyword to str from int in add_result
  benchmarks/bench_result_add.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

code formatted
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

removed unused variable and change == None to is None
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*
