Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*

Merge branches in alembic
  qcfractal/alembic/versions/ace6189b4a68_update_users_and_roles.py
Labels: none

Add more functions to subsockets
  qcfractal/storage_sockets/subsockets/output_store.py
  qcfractal/storage_sockets/subsockets/wavefunction.py
Labels: Database

Solidify REST models for task submission
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/openff.yaml
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/procedures/single.py
  qcfractal/storage_sockets/subsockets/keywords.py
  qcfractal/tests/test_compute.py
Labels: Database, Interface

Handle malformed login requests
  qcfractal/app/routes.py
Labels: none

Additional changes to client interface, refining distinction between query, get
  qcfractal/interface/models/torsiondrive.py
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/dataset.py
  qcfractal/portal/records/optimization_record.py
  qcfractal/portal/records/record.py
  qcfractal/portal/records/record_utils.py
  qcfractal/portal/records/singleresult_record.py
Labels: Interface

Add percentiles to access log summary
  qcfractal/storage_sockets/subsockets/server_log.py
Labels: Database

Enable querying server stats from client
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
Labels: Interface

Rework subsocket and sqlalchemy a bit more
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/models/sql_base.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_common.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/keywords.py
  qcfractal/storage_sockets/subsockets/manager.py
  qcfractal/storage_sockets/subsockets/molecule.py
  qcfractal/storage_sockets/subsockets/output_store.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/storage_sockets/subsockets/server_log.py
  qcfractal/storage_sockets/subsockets/user.py
  qcfractal/storage_sockets/subsockets/wavefunction.py
  qcfractal/tests/storage/test_keywords.py
  qcfractal/tests/storage/test_manager.py
Labels: Database

Fix server defaults on user table
  qcfractal/storage_sockets/models/sql_models.py
Labels: Database

Fix ordering of base_folder on command line
  qcfractal/cli/qcfractal_server.py
Labels: none

get_ and query_ methods on client
  qcfractal/portal/client.py
Labels: none

Trying out lzma compression for cache
  qcfractal/portal/cache.py
Labels: none

Getters and queryers on client, support in cache for molecules, records
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/records/record.py
Labels: none

Changed ResultGetResponse to *only* give back a full model
  qcfractal/interface/models/rest_models.py
Labels: Interface

Removed old methods from BaseProcedureDataset
  qcfractal/portal/collections/collection.py
Labels: none

Query method additions (e.g. docstrings) to PortalClient
  qcfractal/portal/client.py
Labels: none

SingleResultRecord -> SinglePointRecord
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/model_builder.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/rest_models.py
  qcfractal/portal/collections/dataset.py
  qcfractal/portal/records/__init__.py
  qcfractal/portal/records/singlepoint_record.py
  qcfractal/procedures/optimization.py
  qcfractal/procedures/single.py
  qcfractal/storage_sockets/db_queries.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/result.py
Labels: Database, Interface

Reorganized PortalClient for FractalClient parity
  qcfractal/portal/client.py
Labels: none

Consistency fixes from ad-hoc full client method testing
  qcfractal/interface/models/rest_models.py
  qcfractal/portal/records/__init__.py
  qcfractal/procedures/__init__.py
Labels: Interface

Fixes to cache, getting from cache
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
Labels: none

Fixes to Dataset from ad-hoc testing; add_collection now takes Collection object
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/dataset.py
Labels: none

Added include to get_record
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/records/record.py
  qcfractal/portal/records/singlepoint_record.py
Labels: none

Removed cache use for include requests
  qcfractal/portal/client.py
Labels: none

Added all collections to registration; working on Dataset._query
  qcfractal/portal/client.py
  qcfractal/portal/collections/__init__.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/dataset.py
  qcfractal/portal/collections/gridoptimization_dataset.py
  qcfractal/portal/collections/reaction_dataset.py
  qcfractal/portal/collections/torsiondrive_dataset.py
Labels: none

lower keywords when adding compute
  qcfractal/interface/collections/dataset.py
Labels: Interface

Add more indices to results table
  qcfractal/alembic/versions/9a6345275dba_add_more_indices_to_results_table.py
  qcfractal/storage_sockets/models/results_models.py
Labels: Database

Don't add tasks for completed records (and delete existing)
  qcfractal/alembic/versions/038ffd952a00_remove_tasks_for_completed_calculations.py
  qcfractal/procedures/optimization.py
  qcfractal/procedures/single.py
Labels: none

Allow for larger requests in tornado
  qcfractal/server.py
Labels: none

Pin qcelemental/qcengine versions
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/openff.yaml
  devtools/prod-envs/qcarchive_worker_openff.yaml
  devtools/prod-envs/qcfractal.yaml
  devtools/prod-envs/qcfractal_snowflake.yaml
  setup.py
Labels: none

Add docs build to GHA
  .azure-pipelines.yml
  .github/workflows/build_docs.yml
  .readthedocs.yaml
  docs/qcfractal/source/conf.py
  setup.py
Labels: Documentation

test
  .github/workflows/build_docs.yml
Labels: none

Hack fix for d3 calculations which shouldn't be split in the planner
  qcfractal/interface/collections/collection_utils.py
Labels: Interface

`additional_keywords` to address openforcefield/openff-qcsubmit#167
  qcfractal/interface/collections/torsiondrive_dataset.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/services/torsiondrive_service.py
Labels: Interface, Service

Maintain old hash compatibility
  qcfractal/interface/models/torsiondrive.py
Labels: Interface

blackify
  qcfractal/interface/collections/torsiondrive_dataset.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/services/torsiondrive_service.py
Labels: Interface, Service

I *think* we want to use `...` instead of {}
  qcfractal/interface/models/torsiondrive.py
Labels: Interface

Okay, perhaps not...
  qcfractal/interface/models/torsiondrive.py
Labels: Interface

Set additional_keywords for TDKeywords to Optional
  qcfractal/interface/models/torsiondrive.py
Labels: Interface

Switching back to setting the default to an empty dict
  qcfractal/interface/models/torsiondrive.py
Labels: Interface

Revert back from use of Optional; don't want to allow `None` for `additional_keywords`
  qcfractal/interface/models/torsiondrive.py
Labels: Interface
