Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*

Remove old handler code
  qcfractal/components/records/base_handlers.py
  qcfractal/components/records/failure.py
  qcfractal/components/records/gridoptimization/handlers.py
  qcfractal/components/tasks/sockets.py
Labels: none

Re-enable iterating services in periodics
  qcfractal/periodics.py
Labels: none

Torsiondrive migration
  qcfractal/alembic/versions/bb4804242cea_refactor_torsiondrive.py
  qcfractal/components/records/torsiondrive/sockets.py
Labels: none

First attempt at proper signal handling at QCEngine layer
  qcfractal/queue/executor_adapter.py
Labels: Compute

Better solution is to use `initializer` for process Pool for registering signal handlers
  qcfractal/cli/qcfractal_manager.py
  qcfractal/queue/executor_adapter.py
Labels: Compute

Blackified
  qcfractal/cli/qcfractal_manager.py
Labels: none

defaults should be the fallback channel for conda envs to avoid lib incompatibilities
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/openff.yaml
Labels: none

Tests fix for swapping concurrent.futures with multiprocessing
  qcfractal/testing.py
Labels: none

More removals of `concurrent.futures` for local manager process pool
  qcfractal/cli/qcfractal_manager.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/queue/base_adapter.py
  qcfractal/snowflake.py
  qcfractal/tests/test_managers.py
Labels: Compute

Context already set for snowflake
  qcfractal/snowflake.py
Labels: none

shutdown -> close, join
  qcfractal/snowflake.py
Labels: none

More cases of context already set
  qcfractal/tests/test_managers.py
Labels: none

Move client min/max version strings
  qcfractal/client_versions.py
  qcfractal/components/serverinfo/routes.py
  qcportal/client_base.py
Labels: none

More work on full testing
  .github/workflows/core_tests.yml
  .github/workflows/full_tests.yml
  .github/workflows/package_splitting.yml
  qcfractal/postgres_harness.py
  qcfractal/qcfractal_server_cli.py
  qcfractaltesting/conda-envs/fulltest_portal.yaml
  qcfractaltesting/conda-envs/fulltest_server.yaml
  qcfractaltesting/conda-envs/fulltest_worker_pool.yaml
  qcfractaltesting/config_files/gha_fractal_compute_pool.yaml
  qcfractaltesting/config_files/gha_fractal_server.yaml
  qcfractaltesting/conftest.py
  qcfractaltesting/test_full_singlepoint.py
Labels: none

Fill out portal models
  qcfractal/components/records/routes.py
  qcfractal/components/records/torsiondrive/routes.py
  qcportal/records/gridoptimization/models.py
  qcportal/records/models.py
  qcportal/records/optimization/models.py
  qcportal/records/singlepoint/models.py
  qcportal/records/torsiondrive/models.py
Labels: none

Clean up how some model properties are handled
  qcfractal/app/helpers.py
  qcfractal/components/records/gridoptimization/routes.py
  qcfractal/components/records/gridoptimization/sockets.py
  qcfractal/components/records/optimization/routes.py
  qcfractal/components/records/optimization/sockets.py
  qcfractal/components/records/routes.py
  qcfractal/components/records/sockets.py
  qcfractal/components/records/test_sockets.py
  qcfractal/components/records/torsiondrive/routes.py
  qcfractal/components/records/torsiondrive/sockets.py
  qcfractal/db_socket/helpers.py
  qcportal/records/models.py
  qcportal/records/torsiondrive/models.py
Labels: none

Rename singlepoint_specification -> qc_specification
  qcfractal/alembic/versions/0f6d9e6ef312_refactoring_gridoptimization.py
  qcfractal/alembic/versions/160352419195_rename_and_refactor_singlepoint.py
  qcfractal/alembic/versions/bb4804242cea_refactor_torsiondrive.py
  qcfractal/alembic/versions/cdd9f3dc10e3_rename_and_refactor_optimization.py
  qcfractal/components/records/gridoptimization/sockets.py
  qcfractal/components/records/gridoptimization/test_client.py
  qcfractal/components/records/gridoptimization/test_sockets.py
  qcfractal/components/records/gridoptimization/test_specification_socket.py
  qcfractal/components/records/optimization/db_models.py
  qcfractal/components/records/optimization/sockets.py
  qcfractal/components/records/optimization/test_client.py
  qcfractal/components/records/optimization/test_sockets.py
  qcfractal/components/records/optimization/test_specification_socket.py
  qcfractal/components/records/singlepoint/db_models.py
  qcfractal/components/records/singlepoint/routes.py
  qcfractal/components/records/singlepoint/sockets.py
  qcfractal/components/records/singlepoint/test_client.py
  qcfractal/components/records/singlepoint/test_sockets.py
  qcfractal/components/records/singlepoint/test_specification_socket.py
  qcfractal/components/records/torsiondrive/sockets.py
  qcfractal/components/records/torsiondrive/test_client.py
  qcfractal/components/records/torsiondrive/test_sockets.py
  qcfractal/components/records/torsiondrive/test_specification_socket.py
  qcfractaltesting/helpers.py
  qcportal/client.py
  qcportal/records/optimization/models.py
  qcportal/records/singlepoint/__init__.py
  qcportal/records/singlepoint/models.py
  qcportal/records/singlepoint/test_models.py
Labels: none

Clean up some postgres starting/stopping
  qcfractal/postgres_harness.py
  qcfractal/qcfractal_server_cli.py
Labels: none

Rename flask section in config
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/config.py
  qcfractal/qcfractal_server_cli.py
  qcfractal/snowflake.py
  qcfractal/testing_helpers.py
  qcfractaltesting/config_files/gha_fractal_server.yaml
Labels: none

Add some limit checking to client
  qcportal/client.py
  qcportal/client_base.py
Labels: none

Rename OptimizationSinglepointInputSpecification
  qcfractal/components/records/gridoptimization/test_client.py
  qcfractal/components/records/gridoptimization/test_sockets.py
  qcfractal/components/records/gridoptimization/test_specification_socket.py
  qcfractal/components/records/optimization/test_client.py
  qcfractal/components/records/optimization/test_sockets.py
  qcfractal/components/records/optimization/test_specification_socket.py
  qcfractal/components/records/torsiondrive/test_client.py
  qcfractal/components/records/torsiondrive/test_sockets.py
  qcfractal/components/records/torsiondrive/test_specification_socket.py
  qcportal/client.py
  qcportal/records/optimization/__init__.py
  qcportal/records/optimization/models.py
Labels: none

update default role permissions
  qcfractal/components/permissions/role_socket.py
Labels: none

Change where/how limits are computed
  qcfractal/components/datasets/sockets.py
  qcfractal/components/keywords/routes.py
  qcfractal/components/keywords/sockets.py
  qcfractal/components/managers/routes.py
  qcfractal/components/managers/sockets.py
  qcfractal/components/molecules/routes.py
  qcfractal/components/molecules/sockets.py
  qcfractal/components/records/gridoptimization/routes.py
  qcfractal/components/records/optimization/routes.py
  qcfractal/components/records/singlepoint/routes.py
  qcfractal/components/records/sockets.py
  qcfractal/components/records/torsiondrive/routes.py
  qcfractal/components/serverinfo/routes.py
  qcfractal/components/serverinfo/sockets.py
  qcfractal/components/services/sockets.py
  qcfractal/components/tasks/routes.py
  qcfractal/components/tasks/sockets.py
  qcfractal/config.py
  qcfractal/db_socket/helpers.py
  qcfractalcompute/managers.py
  qcfractaltesting/conda-envs/fulltest_worker_pool.yaml
  qcportal/client_base.py
  qcportal/utils.py
Labels: none

Start server when doing upgrade
  qcfractal/qcfractal_server_cli.py
Labels: none

Put defaults before conda-forge
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/openff.yaml
Labels: none

Removed processing context from testing.py; using codecov v2
  .github/workflows/CI.yml
  qcfractal/testing.py
Labels: none

Decouple Dask adapter from Executor adapter
  qcfractal/queue/executor_adapter.py
Labels: Compute

Added check for name being bytes in dataset_view
  qcfractal/interface/collections/dataset_view.py
Labels: Interface

Fixed order of openff env to match current `master`
  devtools/conda-envs/openff.yaml
Labels: none

Putting back psi4/label/dev for openff env
  devtools/conda-envs/openff.yaml
Labels: none

Remove 'raise' used for debugging
  qcfractal/components/services/sockets.py
Labels: none

Finish renaming some singlepoint_* to qc_*
  qcfractal/components/records/gridoptimization/sockets.py
  qcfractal/components/records/gridoptimization/test_client.py
  qcfractal/components/records/gridoptimization/test_sockets.py
  qcfractal/components/records/optimization/sockets.py
  qcfractal/components/records/optimization/test_client.py
  qcfractal/components/records/optimization/test_sockets.py
  qcfractal/components/records/torsiondrive/sockets.py
  qcfractal/components/records/torsiondrive/test_client.py
  qcfractal/components/records/torsiondrive/test_sockets.py
  qcportal/client.py
  qcportal/records/gridoptimization/models.py
  qcportal/records/optimization/models.py
  qcportal/records/torsiondrive/models.py
Labels: none

Speed up service iteration for torsiondrive
  qcfractal/components/records/torsiondrive/sockets.py
Labels: none

Also pin setup.py
  setup.py
Labels: none

Remove native files from parsers
  qcfractal/procedures/procedures_util.py
Labels: none

Always upload artifacts
  .github/workflows/full_tests.yml
Labels: none

Limits on managers returning tasks
  qcfractal/components/tasks/routes.py
  qcfractal/components/tasks/sockets.py
  qcfractal/config.py
  qcfractalcompute/managers.py
  qcfractaltesting/config_files/gha_fractal_compute_pool.yaml
  qcfractaltesting/test_full_singlepoint.py
  qcportal/manager_client.py
Labels: none

Rename manager arg --config-file to --config
  .github/workflows/full_tests.yml
  qcfractalcompute/qcfractal_manager_cli.py
Labels: none

tmpo
  qcfractalcompute/managers.py
Labels: none

Work on harness and snowflake
  .github/workflows/full_tests.yml
  .github/workflows/full_tests_snowflake.yml
  qcfractal/conftest.py
  qcfractal/postgres_harness.py
  qcfractal/qcfractal_server_cli.py
  qcfractal/snowflake.py
  qcfractaltesting/conda-envs/fulltest_snowflake.yaml
  qcfractaltesting/conftest.py
Labels: none
