Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*

Add gunicorn to dependencies
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/openff.yaml
  setup.py
Labels: none

Change priority for conda channels in test envs
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
Labels: none

Fix yet another race condition
  qcfractal/procedures/failure.py
  qcfractal/procedures/single.py
Labels: none

remove unused code
  qcfractal/qc_queue/__init__.py
  qcfractal/qc_queue/handlers.py
  qcfractal/server.py
  qcfractal/server_old.py
  qcfractal/server_old2.py
  qcfractal/try.py
  qcfractal/web_handlers.py
Labels: none

Better process management and testing for process_runner
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/cli/qcfractal_manager.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/periodics.py
  qcfractal/process_runner.py
  qcfractal/qc_queue/managers.py
  qcfractal/snowflake.py
  qcfractal/tests/test_process_runner.py
Labels: none

Fix typing of format_query
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Update test_managers
  qcfractal/app/flask_app.py
  qcfractal/periodics.py
  qcfractal/snowflake.py
  qcfractal/testing.py
  qcfractal/tests/test_managers.py
Labels: none

Rework server log subsocket
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/periodics.py
  qcfractal/storage_sockets/api_logger.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/storage_sockets/subsockets/server_log.py
  qcfractal/tests/storage/test_server_log.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface

Fix setting error status of services' procedures
  qcfractal/periodics.py
Labels: none

Run apt update in CI
  .github/workflows/CI.yml
Labels: none

Clean up and update conda envs
  devtools/conda-envs/README.md
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  setup.py
Labels: none

Fix sqlalchemy 1.4 migration errors
  qcfractal/procedures/failure.py
  qcfractal/storage_sockets/db_queries.py
  qcfractal/storage_sockets/models/collections_models.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/models/sql_base.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/procedure.py
Labels: Database

Change default for manager tasks
  qcfractal/config.py
Labels: none

Fix most cli tests
  qcfractal/cli/qcfractal_manager.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/cli/tests/qcfractal_config.yaml.template1
  qcfractal/cli/tests/test_cli.py
  qcfractal/port_util.py
  qcfractal/postgres_harness.py
  qcfractal/snowflake.py
  qcfractal/testing.py
  qcfractal/tests/test_managers.py
Labels: none

Slight cleanup of a few files
  .gitignore
  mypy.ini
  qcfractal/config.py
  qcfractal/periodics.py
  qcfractal/port_util.py
  qcfractal/postgres_harness.py
Labels: none

Add ability to reset roles, and add role CLI
  qcfractal/cli/qcfractal_server.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/tests/storage/test_role.py
Labels: Database

Fix urllib import in config
  qcfractal/config.py
Labels: none

Fix other warnings
  qcfractal/config.py
  qcfractal/interface/models/records.py
  qcfractal/storage_sockets/models/results_models.py
Labels: Database, Interface

Only notify of completed tasks after committing results to prevent race conditions
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/result.py
Labels: Database

Restrict version info for a while
  qcfractal/app/routes.py
  qcfractal/interface/client.py
Labels: Interface

Rework subsocket and sqlalchemy a bit more
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/models/sql_base.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_common.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/keywords.py
  qcfractal/storage_sockets/subsockets/manager.py
  qcfractal/storage_sockets/subsockets/molecule.py
  qcfractal/storage_sockets/subsockets/output_store.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/storage_sockets/subsockets/server_log.py
  qcfractal/storage_sockets/subsockets/user.py
  qcfractal/storage_sockets/subsockets/wavefunction.py
  qcfractal/tests/storage/test_keywords.py
  qcfractal/tests/storage/test_manager.py
Labels: Database

Fix a few more remaining tests
  qcfractal/testing.py
  qcfractal/tests/test_server.py
Labels: none

Cleanup of test fixtures
  qcfractal/testing.py
  qcfractal/tests/test_adapters.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_sqlalchemy.py
Labels: none

Rework user and role subsockets
  qcfractal/app/routes.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/cli/tests/test_cli.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/common_models.py
  qcfractal/postgres_harness.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/storage_sockets/subsockets/user.py
  qcfractal/tests/storage/test_role.py
  qcfractal/tests/storage/test_user.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface

Add read-only option to session_scope
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Solidify REST models for task submission
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/openff.yaml
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/procedures/single.py
  qcfractal/storage_sockets/subsockets/keywords.py
  qcfractal/tests/test_compute.py
Labels: Database, Interface

Rework initialization of global flask stuff
  qcfractal/app/__init__.py
  qcfractal/app/flask_app.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/periodics.py
  qcfractal/storage_sockets/api_logger.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/view.py
  qcfractal/testing.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_storage_queries.py
Labels: Database

Change test hashes to use integer molecule IDs
  qcfractal/interface/models/tests/test_hashes.py
Labels: Interface

Enable querying server stats from client
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
Labels: Interface

Clean up snowflake and process_runner
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/config.py
  qcfractal/fractal_proc.py
  qcfractal/periodics.py
  qcfractal/process_runner.py
  qcfractal/snowflake.py
  qcfractal/testing.py
Labels: none

Fix server defaults on user table
  qcfractal/storage_sockets/models/sql_models.py
Labels: Database

Fix logging in policyuniverse
  qcfractal/policyuniverse/policy.py
Labels: none

Fix some more flaky tests
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_services.py
Labels: none

Rework wavefunction store subsocket
  qcfractal/app/routes.py
  qcfractal/procedures/single.py
  qcfractal/storage_sockets/subsockets/wavefunction.py
Labels: Database

remove unused import
  qcfractal/app/routes.py
Labels: none

Fix confusing startup logging level stuff
  qcfractal/cli/qcfractal_server.py
Labels: none

Rework manager deactivation slightly
  qcfractal/periodics.py
  qcfractal/storage_sockets/subsockets/manager.py
  qcfractal/storage_sockets/subsockets/task.py
Labels: Database

Handle malformed login requests
  qcfractal/app/routes.py
Labels: none

Remove erroneous setting of content type
  qcfractal/app/routes.py
Labels: none

Fix ordering of base_folder on command line
  qcfractal/cli/qcfractal_server.py
Labels: none
