Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

Enable migrating old config via cli
  qcfractal/cli/qcfractal_server.py
  qcfractal/config.py
  qcfractal/old_config.py
Labels: none

Add simplified dict() function to base orm
  qcfractal/storage_sockets/models/sql_base.py
Labels: Database

add debug logging to tests
  .github/workflows/CI.yml
Labels: none

Finish moving storage socket stuff to subsocket
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/task.py
  qcfractal/storage_sockets/subsockets/user.py
Labels: Database

Change version of parsl in conda envs
  devtools/conda-envs/adapter_parsl.yaml
Labels: none

Finish updating tests
  devtools/conda-envs/adapter_fireworks.yaml
  qcfractal/testing.py
  qcfractal/tests/authorization/__init__.py
  qcfractal/tests/authorization/test_policy.py
  qcfractal/tests/authorization/test_statement.py
  qcfractal/tests/test_adapters.py
  qcfractal/tests/test_authentication.py
Labels: none

Remove tornado from manager cli
  qcfractal/cli/qcfractal_manager.py
Labels: none

Add typing to api_logger
  qcfractal/storage_sockets/api_logger.py
Labels: Database

Consolidate datasets
  devtools/qcexport/qcexport.py
  devtools/qcexport/qcexport_extra.py
  qcfractal/alembic/versions/129ff3ce9247_add_collection_tables_dataset_reaction_.py
  qcfractal/alembic/versions/159ba85908fd_add_contributed_values_table.py
  qcfractal/app/flask_app.py
  qcfractal/components/datasets/db_models.py
  qcfractal/components/datasets/reaction/__init__.py
  qcfractal/components/datasets/reaction/db_models.py
  qcfractal/components/datasets/routes.py
  qcfractal/components/datasets/singlepoint/__init__.py
  qcfractal/components/datasets/singlepoint/db_models.py
  qcfractal/components/datasets/sockets.py
  qcfractal/components/serverinfo/sockets.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/models/collections_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_collections.py
Labels: Database

Some cleanup & stuff with procedures
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/subsockets/molecule.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/procedures/base.py
  qcfractal/storage_sockets/subsockets/procedures/helpers.py
  qcfractal/storage_sockets/subsockets/procedures/optimization.py
  qcfractal/storage_sockets/subsockets/procedures/single.py
  qcfractal/storage_sockets/subsockets/task.py
  qcfractal/tests/storage/test_procedure.py
Labels: Database

Rework task queue
  qcfractal/app/routes.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/task_models.py
  qcfractal/qc_queue/managers.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/subsockets/manager.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/procedures/optimization.py
  qcfractal/storage_sockets/subsockets/procedures/single.py
  qcfractal/storage_sockets/subsockets/server_log.py
  qcfractal/storage_sockets/subsockets/task_queue.py
  qcfractal/tests/storage/test_procedure.py
  qcfractal/tests/storage/test_procedure_optimization.py
  qcfractal/tests/storage/test_procedure_single.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_sqlalchemy.py
Labels: Database, Interface

Fix error message in procedures
  qcfractal/storage_sockets/subsockets/procedures/optimization.py
  qcfractal/storage_sockets/subsockets/services/torsiondrive.py
Labels: Database

Query method additions (e.g. docstrings) to PortalClient
  qcfractal/portal/client.py
Labels: none

Fix waiting sorts
  qcfractal/components/services/db_models.py
  qcfractal/components/tasks/db_models.py
Labels: none

Consolidate services
  devtools/qcexport/qcexport.py
  qcfractal/alembic/versions/651954cbdec6_migrate_services.py
  qcfractal/app/flask_app.py
  qcfractal/components/records/base_handlers.py
  qcfractal/components/records/gridoptimization/handlers.py
  qcfractal/components/records/torsiondrive/handlers.py
  qcfractal/components/serverinfo/sockets.py
  qcfractal/components/services/__init__.py
  qcfractal/components/services/db_models.py
  qcfractal/components/services/routes.py
  qcfractal/components/services/sockets.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
  qcfractal/tests/test_sqlalchemy.py
Labels: Database

Add session arg to procedure create
  qcfractal/storage_sockets/subsockets/procedure.py
Labels: Database

Fix what is queried in task_queue.claim
  qcfractal/storage_sockets/subsockets/task_queue.py
Labels: Database

Consolidate managers
  devtools/qcexport/qcexport.py
  devtools/qcexport/qcexport_extra.py
  qcfractal/app/flask_app.py
  qcfractal/components/managers/__init__.py
  qcfractal/components/managers/db_models.py
  qcfractal/components/managers/routes.py
  qcfractal/components/managers/sockets.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
Labels: Database

Refactor flask routes into separate files
  qcfractal/app/flask_app.py
  qcfractal/app/new_routes/__init__.py
  qcfractal/app/new_routes/collections.py
  qcfractal/app/new_routes/helpers.py
  qcfractal/app/new_routes/keywords.py
  qcfractal/app/new_routes/main.py
  qcfractal/app/new_routes/manager.py
  qcfractal/app/new_routes/manager_info.py
  qcfractal/app/new_routes/molecule.py
  qcfractal/app/new_routes/optimization.py
  qcfractal/app/new_routes/output_store.py
  qcfractal/app/new_routes/permissions.py
  qcfractal/app/new_routes/records.py
  qcfractal/app/new_routes/server_info.py
  qcfractal/app/new_routes/service.py
  qcfractal/app/new_routes/singlepoint.py
  qcfractal/app/new_routes/tasks.py
  qcfractal/app/new_routes/users.py
  qcfractal/app/new_routes/wavefunction.py
  qcfractal/app/routes.py
  qcfractal/interface/models/rest_models.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_collections.py
Labels: Interface

More consolidation of manager
  qcfractal/app/flask_app.py
  qcfractal/app/routes/manager.py
  qcfractal/components/managers/routes.py
Labels: none

Refactor torsiondrive service
  qcfractal/app/routes.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/periodics.py
  qcfractal/services/service_util.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/models/sql_base.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
  qcfractal/storage_sockets/subsockets/server_log.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/service_queue.py
  qcfractal/storage_sockets/subsockets/services/__init__.py
  qcfractal/storage_sockets/subsockets/services/base.py
  qcfractal/storage_sockets/subsockets/services/torsiondrive.py
  qcfractal/testing.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_sqlalchemy.py
Labels: Database, Interface, Service

Rename wavefunction -> wavefunctions
  devtools/qcexport/qcexport.py
  qcfractal/app/flask_app.py
  qcfractal/components/records/singlepoint/db_models.py
  qcfractal/components/wavefunctions/db_models.py
  qcfractal/components/wavefunctions/routes.py
  qcfractal/components/wavefunctions/sockets.py
  qcfractal/db_socket/socket.py
Labels: none

SingleResultRecord -> SinglePointRecord
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/model_builder.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/rest_models.py
  qcfractal/portal/collections/dataset.py
  qcfractal/portal/records/__init__.py
  qcfractal/portal/records/singlepoint_record.py
Labels: Interface

Remove remnants of old services code
  qcfractal/app/routes.py
  qcfractal/periodics.py
  qcfractal/services/__init__.py
  qcfractal/services/gridoptimization_service.py
  qcfractal/services/service_util.py
  qcfractal/services/services.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/tests/test_sqlalchemy.py
  qcfractal/tests/test_storage.py
Labels: Service

Update/add queue limits in config
  qcfractal/config.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/task_queue.py
Labels: Database

Fix custom query in torsiondrive
  qcfractal/interface/models/torsiondrive.py
Labels: Interface

Redesigned `list_collections` client method
  qcfractal/portal/client.py
Labels: none

Add AllServiceSpecifications model list
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/task_models.py
Labels: Interface

Remove old unused files
  benchmarks/bench_copy.py
  benchmarks/bench_molecule_add.py
  benchmarks/bench_mongoengine.py
  benchmarks/bench_procedure.py
  benchmarks/bench_queue.py
  benchmarks/bench_queue_submit.py
  benchmarks/bench_result_add.py
  benchmarks/bench_task_get_next.py
  devtools/README.md
  devtools/docker/README.md
  devtools/docker/qcarchive_worker_openff/Dockerfile
  devtools/docker/qcarchive_worker_openff/docker-compose.test.yml
  devtools/docker/qcfractal/Dockerfile
  devtools/docker/qcfractal/docker-compose.test.yml
  devtools/docker/qcfractal_snowflake/Dockerfile
  devtools/old_migrations/SQLAlchemy_Setup.md
  devtools/old_migrations/drop_procedures.py
  devtools/old_migrations/mongo_to_SQL_v0.6.0_v0.7.0.py
  devtools/prod-envs/README.md
  devtools/prod-envs/qcarchive_worker_openff.yaml
  devtools/prod-envs/qcfractal.yaml
  devtools/prod-envs/qcfractal_snowflake.yaml
  devtools/scripts/conda_env.py
  devtools/scripts/create_staging.py
  qcfractal/alembic/ERD.png
Labels: none

Building out functionality in Collection, added TorsionDriveDataset
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/dataset.py
  qcfractal/portal/collections/optimization_dataset.py
  qcfractal/portal/collections/torsiondrive_dataset.py
Labels: none

Move access logging into subsocket & routes
  qcfractal/__init__.py
  qcfractal/app/__init__.py
  qcfractal/app/flask_app.py
  qcfractal/app/new_routes/main.py
  qcfractal/storage_sockets/__init__.py
  qcfractal/storage_sockets/api_logger.py
  qcfractal/storage_sockets/storage_socket.py
  qcfractal/storage_sockets/subsockets/server_log.py
Labels: Database

Fixup: restore deleted lines
  qcfractal/interface/models/torsiondrive.py
Labels: Interface

More Collection harmonization work
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/dataset.py
  qcfractal/portal/collections/optimization_dataset.py
  qcfractal/portal/collections/torsiondrive_dataset.py
Labels: none

Additional changes to client interface, refining distinction between query, get
  qcfractal/interface/models/torsiondrive.py
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/dataset.py
  qcfractal/portal/records/optimization_record.py
  qcfractal/portal/records/record.py
  qcfractal/portal/records/record_utils.py
  qcfractal/portal/records/singleresult_record.py
Labels: Interface

Consolidate keywords
  devtools/qcexport/qcexport.py
  qcfractal/app/flask_app.py
  qcfractal/components/keywords/db_models.py
  qcfractal/components/keywords/routes.py
  qcfractal/components/keywords/socket.py
  qcfractal/portal/client.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
Labels: Database

Add migration for tasks and statuses
  qcfractal/alembic/versions/98aea37d208d_migrate_status_and_tasks.py
Labels: none

Add other statuses (cancelled, deleted)
  qcfractal/interface/models/records.py
Labels: Interface

Consolidate server stats/log
  devtools/qcexport/qcexport.py
  qcfractal/app/flask_app.py
  qcfractal/components/serverinfo/__init__.py
  qcfractal/components/serverinfo/db_models.py
  qcfractal/components/serverinfo/routes.py
  qcfractal/components/serverinfo/sockets.py
  qcfractal/postgres_harness.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
Labels: Database

Changed ResultGetResponse to *only* give back a full model
  qcfractal/interface/models/rest_models.py
Labels: Interface

Reorganized PortalClient for FractalClient parity
  qcfractal/portal/client.py
Labels: none

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*
