Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*

Add JWT token to client, test_auth passing
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/tests/test_authentication.py
Labels: Interface

Fix a few more remaining tests
  qcfractal/testing.py
  qcfractal/tests/test_server.py
Labels: none

Clean up and expand query limits
  qcfractal/app/routes.py
  qcfractal/config.py
  qcfractal/interface/client.py
  qcfractal/interface/collections/collection.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/interface/tests/test_visualization.py
  qcfractal/qc_queue/managers.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/collection.py
  qcfractal/storage_sockets/subsockets/keywords.py
  qcfractal/storage_sockets/subsockets/manager.py
  qcfractal/storage_sockets/subsockets/molecule.py
  qcfractal/storage_sockets/subsockets/output_store.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/result.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/storage_sockets/subsockets/server_logs.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/task.py
  qcfractal/storage_sockets/subsockets/user.py
  qcfractal/storage_sockets/subsockets/wavefunction.py
  qcfractal/testing.py
Labels: Database, Interface

Add a better testing server fixture
  qcfractal/testing.py
Labels: none

Fix typing of format_query
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Fix setting error status of services' procedures
  qcfractal/periodics.py
Labels: none

Remove tornado from manager cli
  qcfractal/cli/qcfractal_manager.py
Labels: none

Enable migrating old config via cli
  qcfractal/cli/qcfractal_server.py
  qcfractal/config.py
  qcfractal/old_config.py
Labels: none

Minor fixes and additions for snowflake and postgres stuff
  qcfractal/app/flask_app.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/periodics.py
  qcfractal/postgres_harness.py
  qcfractal/services/service_util.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
  qcfractal/tests/test_storage.py
Labels: Database, Service

Slight cleanup of a few files
  .gitignore
  mypy.ini
  qcfractal/config.py
  qcfractal/periodics.py
  qcfractal/port_util.py
  qcfractal/postgres_harness.py
Labels: none

Fix some more flaky tests
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_services.py
Labels: none

Update test_services
  qcfractal/tests/test_services.py
Labels: none

Code linting
  qcfractal/app/__init__.py
  qcfractal/app/config.py
  qcfractal/app/exceptions.py
  qcfractal/app/routes.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/interface/client.py
  qcfractal/policyuniverse/policy.py
  qcfractal/policyuniverse/statement.py
  qcfractal/server.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
  qcfractal/tests/authorization/test_policy.py
  qcfractal/tests/authorization/test_statement.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_storage.py
  qcfractal/try.py
Labels: Database, Interface

update test_client
  qcfractal/snowflake.py
  qcfractal/tests/test_client.py
Labels: none

Rework user and role subsockets
  qcfractal/app/routes.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/cli/tests/test_cli.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/common_models.py
  qcfractal/postgres_harness.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/storage_sockets/subsockets/user.py
  qcfractal/tests/storage/test_role.py
  qcfractal/tests/storage/test_user.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface

Fix routers merge with master handlers
  qcfractal/app/routes.py
Labels: none

Use custom decorator check_access in JWT to allow security and allow_read
  qcfractal/app/__init__.py
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/server.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface

more work on testing and snowflake
  qcfractal/fractal_proc.py
  qcfractal/periodics.py
  qcfractal/postgres_harness.py
  qcfractal/services/service_util.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
Labels: Database, Service

Cleanup of test fixtures
  qcfractal/testing.py
  qcfractal/tests/test_adapters.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_sqlalchemy.py
Labels: none

Always use global logging rather than log queues
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/app/routes.py
  qcfractal/periodics.py
  qcfractal/snowflake.py
Labels: none

Each subsocket gets its own logger
  qcfractal/storage_sockets/subsockets/collection.py
  qcfractal/storage_sockets/subsockets/keywords.py
  qcfractal/storage_sockets/subsockets/manager.py
  qcfractal/storage_sockets/subsockets/molecule.py
  qcfractal/storage_sockets/subsockets/output_store.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/result.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/storage_sockets/subsockets/server_logs.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/task.py
  qcfractal/storage_sockets/subsockets/user.py
  qcfractal/storage_sockets/subsockets/wavefunction.py
Labels: Database

Update server_upgrade
  qcfractal/cli/qcfractal_server.py
Labels: none

Make JWT tokens optional using JWT_DISABLED env variable (for testing)
  qcfractal/server.py
Labels: none

Enable using NullPool in SQLAlchemy create_engine
  qcfractal/config.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
Labels: Database

Add gunicorn to dependencies
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/openff.yaml
  setup.py
Labels: none

SSL and periodics calls working (except manager)
  qcfractal/interface/client.py
  qcfractal/server.py
  qcfractal/testing.py
Labels: Interface

rename wait_for_results back to await_results
  qcfractal/server.py
  qcfractal/snowflake.py
  qcfractal/testing.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_services.py
Labels: none

Add read-only option to session_scope
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Change type annotations for multiprocessing
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/periodics.py
  qcfractal/snowflake.py
Labels: none

test_server passing, change to responses mock package
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/testing.py
  qcfractal/tests/test_server.py
Labels: Interface

Remove unused import
  qcfractal/app/routes.py
Labels: none

Add migration of user permissions to roles
  qcfractal/alembic/versions/ace6189b4a68_update_users_and_roles.py
Labels: none

Restrict version info for a while
  qcfractal/app/routes.py
  qcfractal/interface/client.py
Labels: Interface

Fix confusing startup logging level stuff
  qcfractal/cli/qcfractal_server.py
Labels: none

Fix logging in policyuniverse
  qcfractal/policyuniverse/policy.py
Labels: none

Commit of existing changes
  qcfractal/interface/models/records.py
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/collection_utils.py
  qcfractal/portal/collections/optimization_dataset.py
Labels: Interface

Adding our own Record objects, with composition of pydantic data model
  qcfractal/portal/records/optimization_record.py
  qcfractal/portal/records/record_utils.py
Labels: none

Changes prior to rebase; mostly to accommodate ResultRecord > SingleResultRecord
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/model_builder.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/rest_models.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection_utils.py
  qcfractal/portal/records/__init__.py
  qcfractal/portal/records/optimization_record.py
  qcfractal/portal/records/record_utils.py
  qcfractal/procedures/optimization.py
  qcfractal/procedures/single.py
  qcfractal/storage_sockets/db_queries.py
Labels: Database, Interface

adds QCFractal's Docs Google Tag Manager container for GA4
  docs/qcfractal/source/_templates/layout.html
Labels: Documentation

adds QCPortal's Docs Google Tag Manager container for GA4
  docs/qcportal/source/_templates/layout.html
Labels: Documentation
