Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*

Clean up services
  qcfractal/storage_sockets/subsockets/services/torsiondrive.py
Labels: Database

More cleanup of REST and client
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/task_models.py
  qcfractal/services/service_util.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/tests/test_managers.py
Labels: Database, Interface, Service

Consolidate tasks
  devtools/qcexport/qcexport.py
  qcfractal/app/flask_app.py
  qcfractal/components/records/base_handlers.py
  qcfractal/components/records/failure.py
  qcfractal/components/records/helpers.py
  qcfractal/components/records/optimization/handlers.py
  qcfractal/components/records/singlepoint/handlers.py
  qcfractal/components/serverinfo/sockets.py
  qcfractal/components/tasks/__init__.py
  qcfractal/components/tasks/db_models.py
  qcfractal/components/tasks/routes.py
  qcfractal/components/tasks/sockets.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_sqlalchemy.py
Labels: Database

More procedure cleanup
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/common_models.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/procedures/base.py
  qcfractal/storage_sockets/subsockets/procedures/failure.py
  qcfractal/storage_sockets/subsockets/procedures/optimization.py
  qcfractal/storage_sockets/subsockets/procedures/single.py
  qcfractal/storage_sockets/subsockets/task_queue.py
  qcfractal/storage_sockets/subsockets/wavefunction.py
Labels: Database, Interface

Fix improper responses in routes
  qcfractal/app/routes.py
Labels: none

More cleanup of client merge issues
  qcfractal/interface/models/rest_models.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/gridoptimization_dataset.py
  qcfractal/portal/collections/torsiondrive_dataset.py
  qcfractal/portal/records/record.py
Labels: Interface

Fixes to cache, getting from cache
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
Labels: none

Adding our own Record objects, with composition of pydantic data model
  qcfractal/portal/records/optimization_record.py
  qcfractal/portal/records/record_utils.py
Labels: none

More functions for output_store
  qcfractal/storage_sockets/subsockets/output_store.py
  qcfractal/storage_sockets/subsockets/procedures/failure.py
  qcfractal/storage_sockets/subsockets/procedures/helpers.py
  qcfractal/tests/storage/test_output_store.py
Labels: Database

Rename new_routes directory
  qcfractal/app/flask_app.py
  qcfractal/app/routes/__init__.py
  qcfractal/app/routes/collections.py
  qcfractal/app/routes/helpers.py
  qcfractal/app/routes/keywords.py
  qcfractal/app/routes/main.py
  qcfractal/app/routes/manager.py
  qcfractal/app/routes/manager_info.py
  qcfractal/app/routes/molecule.py
  qcfractal/app/routes/optimization.py
  qcfractal/app/routes/output_store.py
  qcfractal/app/routes/permissions.py
  qcfractal/app/routes/records.py
  qcfractal/app/routes/server_info.py
  qcfractal/app/routes/service.py
  qcfractal/app/routes/singlepoint.py
  qcfractal/app/routes/tasks.py
  qcfractal/app/routes/users.py
  qcfractal/app/routes/wavefunction.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_collections.py
Labels: none

Consolidate molecule
  devtools/qcexport/qcexport.py
  qcfractal/app/flask_app.py
  qcfractal/components/__init__.py
  qcfractal/components/molecule/db_models.py
  qcfractal/components/molecule/routes.py
  qcfractal/components/molecule/socket.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
  qcfractal/storage_sockets/subsockets/server_log.py
  qcfractal/storage_sockets/subsockets/services/gridoptimization.py
  qcfractal/storage_sockets/subsockets/services/torsiondrive.py
  qcfractal/tests/test_sqlalchemy.py
Labels: Database

Commit of existing changes
  qcfractal/interface/models/records.py
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/collection_utils.py
  qcfractal/portal/collections/optimization_dataset.py
Labels: Interface

Fix small issue with get_records
  qcfractal/interface/models/rest_models.py
Labels: Interface

Consistency fixes from ad-hoc full client method testing
  qcfractal/portal/records/__init__.py
Labels: none

Change handling of relationships in subsockets
  qcfractal/storage_sockets/models/sql_base.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_common.py
  qcfractal/storage_sockets/subsockets/manager.py
  qcfractal/storage_sockets/subsockets/molecule.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/procedures/optimization.py
  qcfractal/storage_sockets/subsockets/procedures/single.py
  qcfractal/storage_sockets/subsockets/server_log.py
  qcfractal/storage_sockets/subsockets/task.py
  qcfractal/storage_sockets/subsockets/wavefunction.py
  qcfractal/tests/storage/test_manager.py
  qcfractal/tests/storage/test_procedure.py
Labels: Database

get_ and query_ methods on client
  qcfractal/portal/client.py
Labels: none

Migrate services
  qcfractal/alembic/versions/651954cbdec6_migrate_services.py
  qcfractal/storage_sockets/models/sql_base.py
Labels: Database

Adjustments on advice from BP
  qcfractal/interface/models/records.py
  qcfractal/portal/cache.py
  qcfractal/portal/collections/collection.py
Labels: Interface

Generalize requirements in task queue
  qcfractal/app/routes.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/task_models.py
  qcfractal/qc_queue/managers.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/procedures/optimization.py
  qcfractal/storage_sockets/subsockets/procedures/single.py
  qcfractal/storage_sockets/subsockets/server_log.py
  qcfractal/storage_sockets/subsockets/task_queue.py
  qcfractal/tests/storage/test_procedure.py
  qcfractal/tests/storage/test_procedure_optimization.py
  qcfractal/tests/storage/test_procedure_single.py
  qcfractal/tests/storage/test_task.py
  qcfractal/tests/storage/test_task_queue.py
  qcfractal/tests/test_compute.py
Labels: Database, Interface

Caching prototype in place, getitem access pattern for ProcedureDatasets
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/dataset.py
  qcfractal/portal/collections/optimization_dataset.py
Labels: none

Rough reconciliation with interface/client.py
  qcfractal/portal/__init__.py
  qcfractal/portal/client.py
Labels: none

Make statuses lowercase and case insensitive in REST models
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/interface/collections/collection.py
  qcfractal/interface/collections/optimization_dataset.py
  qcfractal/interface/collections/torsiondrive_dataset.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/gridoptimization.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/task_models.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/periodics.py
  qcfractal/services/gridoptimization_service.py
  qcfractal/services/service_util.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/task.py
  qcfractal/tests/storage/test_manager.py
  qcfractal/tests/storage/test_procedure.py
  qcfractal/tests/storage/test_procedure_optimization.py
  qcfractal/tests/storage/test_procedure_single.py
  qcfractal/tests/storage/test_task.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_sqlalchemy.py
Labels: Database, Interface, Service

Getters and queryers on client, support in cache for molecules, records
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/records/record.py
Labels: none

Performance notes on cache implementation
  qcfractal/portal/cache.py
Labels: none

Merge queues with their parent record types
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
  qcfractal/storage_sockets/subsockets/manager.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/procedures/optimization.py
  qcfractal/storage_sockets/subsockets/procedures/single.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/service_queue.py
  qcfractal/storage_sockets/subsockets/services/torsiondrive.py
  qcfractal/storage_sockets/subsockets/task_queue.py
  qcfractal/tests/storage/test_procedure.py
  qcfractal/tests/storage/test_procedure_optimization.py
  qcfractal/tests/storage/test_procedure_single.py
  qcfractal/tests/storage/test_task_queue.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface

Rename Base -> BaseORM
  qcfractal/alembic/env.py
  qcfractal/components/datasets/db_models.py
  qcfractal/components/datasets/reaction/db_models.py
  qcfractal/components/datasets/singlepoint/db_models.py
  qcfractal/components/keywords/db_models.py
  qcfractal/components/managers/db_models.py
  qcfractal/components/molecule/db_models.py
  qcfractal/components/outputstore/db_models.py
  qcfractal/components/permissions/db_models.py
  qcfractal/components/records/base_handlers.py
  qcfractal/components/records/db_models.py
  qcfractal/components/records/gridoptimization/db_models.py
  qcfractal/components/records/optimization/db_models.py
  qcfractal/components/records/singlepoint/db_models.py
  qcfractal/components/records/torsiondrive/db_models.py
  qcfractal/components/serverinfo/db_models.py
  qcfractal/components/services/db_models.py
  qcfractal/components/tasks/db_models.py
  qcfractal/components/wavefunction/db_models.py
  qcfractal/db_socket/__init__.py
  qcfractal/db_socket/base_orm.py
  qcfractal/db_socket/helpers.py
  qcfractal/postgres_harness.py
Labels: none

Consolidate outputstore
  devtools/qcexport/qcexport.py
  qcfractal/app/flask_app.py
  qcfractal/components/outputstore/db_models.py
  qcfractal/components/outputstore/routes.py
  qcfractal/components/outputstore/socket.py
  qcfractal/portal/client.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
  qcfractal/storage_sockets/subsockets/server_log.py
  qcfractal/tests/test_sqlalchemy.py
Labels: Database

Removed cache use for include requests
  qcfractal/portal/client.py
Labels: none

Switched caching to dbm, working well so far
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/records/record.py
Labels: none

Rename task -> task_queue
  qcfractal/app/routes.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
  qcfractal/storage_sockets/subsockets/manager.py
  qcfractal/storage_sockets/subsockets/procedures/optimization.py
  qcfractal/storage_sockets/subsockets/procedures/single.py
  qcfractal/storage_sockets/subsockets/task_queue.py
  qcfractal/tests/storage/test_procedure.py
  qcfractal/tests/storage/test_procedure_optimization.py
  qcfractal/tests/storage/test_procedure_single.py
  qcfractal/tests/storage/test_task.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_storage.py
Labels: Database

PortalClient initial work
  qcfractal/__init__.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/rest_models.py
  qcfractal/portal/__init__.py
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/__init__.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/collection_utils.py
  qcfractal/portal/collections/optimization_dataset.py
Labels: Interface

Changes prior to rebase; mostly to accommodate ResultRecord > SingleResultRecord
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/model_builder.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/rest_models.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection_utils.py
  qcfractal/portal/records/__init__.py
  qcfractal/portal/records/optimization_record.py
  qcfractal/portal/records/record_utils.py
Labels: Interface

Fixes to Dataset from ad-hoc testing; add_collection now takes Collection object
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/dataset.py
Labels: none

Rename socket -> sockets.py
  qcfractal/components/keywords/sockets.py
  qcfractal/components/molecule/sockets.py
  qcfractal/components/outputstore/sockets.py
  qcfractal/components/wavefunction/sockets.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Clean up services even more
  qcfractal/interface/collections/gridoptimization_dataset.py
  qcfractal/interface/collections/torsiondrive_dataset.py
  qcfractal/interface/models/gridoptimization.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/storage_sockets/models/sql_base.py
  qcfractal/storage_sockets/subsockets/procedures/base.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/services/base.py
  qcfractal/storage_sockets/subsockets/services/gridoptimization.py
  qcfractal/storage_sockets/subsockets/services/torsiondrive.py
Labels: Database, Interface

Fixes to keep user interface stable
  qcfractal/app/routes.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/subsockets/procedures/single.py
  qcfractal/storage_sockets/subsockets/task.py
  qcfractal/tests/storage/test_procedure.py
  qcfractal/tests/test_compute.py
Labels: Database

`BaseProcedureDataset` now has refactored `status` method
  qcfractal/interface/collections/collection_utils.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/optimization_dataset.py
  setup.py
Labels: Interface

to_json, from_json, to_dict, from_dict methods on Records
  qcfractal/portal/cache.py
  qcfractal/portal/client.py
  qcfractal/portal/collections/collection.py
  qcfractal/portal/collections/collection_utils.py
  qcfractal/portal/records/optimization_record.py
  qcfractal/portal/records/record.py
  qcfractal/portal/records/record_utils.py
Labels: none

A little bit of renaming for consistency
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/procedures/base.py
  qcfractal/storage_sockets/subsockets/procedures/failure.py
  qcfractal/storage_sockets/subsockets/procedures/optimization.py
  qcfractal/storage_sockets/subsockets/procedures/single.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/services/base.py
  qcfractal/storage_sockets/subsockets/services/torsiondrive.py
Labels: Database

Consolidate wavefunction
  devtools/qcexport/qcexport.py
  qcfractal/app/flask_app.py
  qcfractal/components/wavefunction/db_models.py
  qcfractal/components/wavefunction/routes.py
  qcfractal/components/wavefunction/socket.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
Labels: Database
