Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*

add more support for task_throttle_request
  qcfractal/cli/qcfractal_manager.py
Labels: none

fix for throttle Schema -> Field
  qcfractal/cli/qcfractal_manager.py
Labels: none

Client: add tag filtering to list_collections
  qcfractal/interface/client.py
  qcfractal/tests/test_collections.py
Labels: Interface

Models: Fixes repr overloads for ProtoModels
  qcfractal/interface/models/records.py
Labels: Interface

Dataset: add support for gzipped datasets
  qcfractal/interface/collections/dataset.py
  qcfractal/tests/test_collections.py
Labels: Interface

Dataset: checksum view after unzip
  qcfractal/interface/collections/dataset.py
  qcfractal/tests/test_collections.py
Labels: Interface

Black
  qcfractal/cli/qcfractal_manager.py
  qcfractal/interface/client.py
  qcfractal/interface/models/records.py
Labels: Interface

Reaction dataset: fix bug when specifying max_frag to add_ie_rxn
  qcfractal/interface/collections/reaction_dataset.py
Labels: Interface

ReactionDataset: Fix issue with get_molecules subset
  qcfractal/interface/collections/reaction_dataset.py
  qcfractal/testing.py
  qcfractal/tests/test_collections.py
Labels: Interface

Storage: fix bug where limit=0 caused max_limit results to be returned
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_storage.py
Labels: Database

test_collections: update torsiondrive test to avoid 90 degree dihedral
  qcfractal/tests/test_collections.py
Labels: none

torsiondrive: fix get_history when procedure corresponds to more objects than client.query_limit
  qcfractal/interface/models/torsiondrive.py
Labels: Interface

Added support for managers with node-parallel tasks
  qcfractal/cli/qcfractal_manager.py
  qcfractal/queue/base_adapter.py
  qcfractal/queue/managers.py
  qcfractal/tests/test_adapters.py
Labels: Compute

Updated check if nodes per job is applicable
  qcfractal/cli/qcfractal_manager.py
Labels: none

Include check for unused nodes
  qcfractal/cli/qcfractal_manager.py
Labels: none

Bug fix: Pass `nnodes` to qcengine not `nodes_per_task`
  qcfractal/queue/base_adapter.py
Labels: Compute

Reconfigure how workers are built for node-parallel jobs
  docs/qcfractal/source/index.rst
  docs/qcfractal/source/managers_hpc.rst
  qcfractal/cli/qcfractal_manager.py
  qcfractal/cli/tests/test_cli.py
Labels: Documentation

Bug fix: Incorrectly detected node_parallel tasks
  qcfractal/cli/qcfractal_manager.py
Labels: none

Added examples to the docs
  docs/qcfractal/source/managers_hpc.rst
  docs/qcfractal/source/managers_samples.rst
Labels: Documentation

Fixed how we check for node parallel jobs
  qcfractal/cli/qcfractal_manager.py
Labels: none

Skip test when parsl not installed
  qcfractal/cli/tests/test_cli.py
Labels: none

Docker: add gcp to qcarchive_worker_openff and switch to stable psi
  devtools/docker/qcarchive_worker_openff/Dockerfile
Labels: none

Docs: Attempts to fix RTD builds
  docs/requirements.yml
Labels: Documentation

Docs: Updats changelog
  docs/qcfractal/source/changelog.rst
  docs/qcportal/source/changelog.rst
Labels: Documentation

Server: Changes 0.12.1 to be minimum, fixes #478
  qcfractal/server.py
Labels: none

Docs: Removes duplication information that is in the great QCA context
  docs/qcfractal/source/community.rst
  docs/qcfractal/source/index.rst
  docs/qcfractal/source/roadmap.rst
Labels: Documentation

Docs: Cleans up getting started, renames headers
  docs/qcfractal/source/quickstart.ipynb
  docs/qcfractal/source/setup_compute.rst
  docs/qcfractal/source/setup_quickstart.rst
  docs/qcfractal/source/setup_server.rst
Labels: Documentation

GitHub: PR now requests a lint, closes #487
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

Lint: Formats the codebase up to latest black standard
  qcfractal/dashboard/pages/landing.py
Labels: none

Lint: Only runs black on make format
  Makefile
  qcfractal/interface/models/records.py
Labels: Interface

Manager: Small rework to get a better error message from failed shutdowns
  qcfractal/queue/managers.py
  qcfractal/tests/test_managers.py
Labels: Compute

Allow empty body in http requests
  qcfractal/web_handlers.py
Labels: none

Linting with black
  qcfractal/queue/managers.py
  qcfractal/testing.py
Labels: Compute

Default http requests Content-Type to JSON
  qcfractal/web_handlers.py
Labels: none

Docker: pin psi4 >=1.3.0 in qcarchive_worker_openff
  devtools/docker/qcarchive_worker_openff/Dockerfile
Labels: none

Collections: Fixes repeated .visualize calls due to modified metadata
  qcfractal/interface/collections/dataset.py
Labels: Interface

Testing: Xfail on torsiondrive dataset, fixes #427
  qcfractal/tests/test_collections.py
Labels: none

Use retries with Parsl
  qcfractal/cli/qcfractal_manager.py
Labels: none

Collection: add new molecules in chunks
  qcfractal/interface/collections/collection.py
Labels: Interface

make format
  qcfractal/interface/collections/collection.py
  qcfractal/queue/managers.py
Labels: Compute, Interface
