Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*

User and role add methods
  qcfractal/app/routes.py
  qcfractal/policyuniverse/policy.py
  qcfractal/policyuniverse/statement.py
  qcfractal/server.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Use qc_policy for authorization
  qcfractal/requirements.txt
  qcfractal/server_flask.py
Labels: none

remove unused import
  qcfractal/app/routes.py
Labels: none

Clean up and expand query limits
  qcfractal/app/routes.py
  qcfractal/config.py
  qcfractal/interface/client.py
  qcfractal/interface/collections/collection.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/interface/tests/test_visualization.py
  qcfractal/qc_queue/managers.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/collection.py
  qcfractal/storage_sockets/subsockets/keywords.py
  qcfractal/storage_sockets/subsockets/manager.py
  qcfractal/storage_sockets/subsockets/molecule.py
  qcfractal/storage_sockets/subsockets/output_store.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/result.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/storage_sockets/subsockets/server_logs.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/task.py
  qcfractal/storage_sockets/subsockets/user.py
  qcfractal/storage_sockets/subsockets/wavefunction.py
  qcfractal/testing.py
Labels: Database, Interface

Fix verification error message
  qcfractal/app/routes.py
Labels: none

Migrate some functions to subsockets
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/collection.py
  qcfractal/storage_sockets/subsockets/keywords.py
  qcfractal/storage_sockets/subsockets/manager.py
  qcfractal/storage_sockets/subsockets/molecule.py
  qcfractal/storage_sockets/subsockets/output_store.py
  qcfractal/storage_sockets/subsockets/result.py
  qcfractal/storage_sockets/subsockets/server_logs.py
  qcfractal/storage_sockets/subsockets/wavefunction.py
Labels: Database

Fix urllib import in config
  qcfractal/config.py
Labels: none

Fix queue_manager_heartbeat test
  qcfractal/tests/test_managers.py
Labels: none

Re-add authentication/authorization testing
  qcfractal/interface/client.py
  qcfractal/testing.py
  qcfractal/tests/authorization/__init__.py
  qcfractal/tests/authorization/test_policy.py
  qcfractal/tests/authorization/test_statement.py
  qcfractal/tests/test_authentication.py
Labels: Interface

Fix issue with dask/lsf_units setting
  qcfractal/cli/qcfractal_manager.py
Labels: none

Snowflake constructor should block until the rest interface is ready
  qcfractal/snowflake.py
Labels: none

Add a better testing server fixture
  qcfractal/testing.py
Labels: none

force option to basicConfig not available in python 3.7
  qcfractal/cli/qcfractal_server.py
Labels: none

Update test_server
  qcfractal/snowflake.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_server.py
Labels: none

remove qc_policy.py test file
  qcfractal/qc_policy.py
Labels: none

Change test hashes to use integer molecule IDs
  qcfractal/interface/models/tests/test_hashes.py
Labels: Interface

Cleanup
  qcfractal/server_flask.py
Labels: none

Fix anonymous user access
  qcfractal/app/routes.py
Labels: none

Restrict version info for a while
  qcfractal/app/routes.py
  qcfractal/interface/client.py
Labels: Interface

Change type annotations for multiprocessing
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/periodics.py
  qcfractal/snowflake.py
Labels: none

Update server_upgrade
  qcfractal/cli/qcfractal_server.py
Labels: none

Improved handling of failed tasks
  qcfractal/app/routes.py
  qcfractal/procedures/__init__.py
  qcfractal/procedures/failure.py
  qcfractal/procedures/optimization.py
  qcfractal/procedures/procedures_util.py
  qcfractal/procedures/single.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

policyuniverse tests passing
  qcfractal/policyuniverse/policy.py
  qcfractal/policyuniverse/statement.py
  qcfractal/policyuniverse/tests/test_policy.py
  qcfractal/policyuniverse/tests/test_statement.py
  qcfractal/tests/authorization/__init__.py
  qcfractal/tests/authorization/test_policy.py
  qcfractal/tests/authorization/test_statement.py
Labels: none

improve handling of subprocess shutdown and completed task notification
  qcfractal/app/flask_app.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/fractal_proc.py
  qcfractal/periodics.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/result.py
Labels: Database

Make JWT tokens optional using JWT_DISABLED env variable (for testing)
  qcfractal/server.py
Labels: none

rename wait_for_results back to await_results
  qcfractal/server.py
  qcfractal/snowflake.py
  qcfractal/testing.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_services.py
Labels: none

Each subsocket gets its own logger
  qcfractal/storage_sockets/subsockets/collection.py
  qcfractal/storage_sockets/subsockets/keywords.py
  qcfractal/storage_sockets/subsockets/manager.py
  qcfractal/storage_sockets/subsockets/molecule.py
  qcfractal/storage_sockets/subsockets/output_store.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/result.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/storage_sockets/subsockets/server_logs.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/task.py
  qcfractal/storage_sockets/subsockets/user.py
  qcfractal/storage_sockets/subsockets/wavefunction.py
Labels: Database

Remove erroneous setting of content type
  qcfractal/app/routes.py
Labels: none

Add flask SSL, add manager executor
  qcfractal/app/__init__.py
  qcfractal/app/config.py
  qcfractal/app/routes.py
  qcfractal/server.py
  qcfractal/snowflake.py
Labels: none

Update to v4 of flask_jwt_extended
  qcfractal/app/routes.py
Labels: none

Basic snowflake working
  qcfractal/__init__.py
  qcfractal/app/__init__.py
  qcfractal/app/config.py
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/app/routes.py
  qcfractal/config.py
  qcfractal/interface/models/__init__.py
  qcfractal/old_config.py
  qcfractal/periodics.py
  qcfractal/postgres_harness.py
  qcfractal/procedures/__init__.py
  qcfractal/procedures/base.py
  qcfractal/procedures/optimization.py
  qcfractal/qc_queue/handlers.py
  qcfractal/server.py
  qcfractal/server_old2.py
  qcfractal/services/gridoptimization_service.py
  qcfractal/services/service_util.py
  qcfractal/services/services.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/api_logger.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/server_logs.py
  qcfractal/storage_sockets/view.py
Labels: Database, Interface, Service

Rework user and role subsockets
  qcfractal/app/routes.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/cli/tests/test_cli.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/common_models.py
  qcfractal/postgres_harness.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/storage_sockets/subsockets/user.py
  qcfractal/tests/storage/test_role.py
  qcfractal/tests/storage/test_user.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface

Always use global logging rather than log queues
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/app/routes.py
  qcfractal/periodics.py
  qcfractal/snowflake.py
Labels: none

Add flask server
  qcfractal/flask_handlers.py
  qcfractal/policyuniverse/statement.py
  qcfractal/server.py
Labels: none

Update test_managers
  qcfractal/app/flask_app.py
  qcfractal/periodics.py
  qcfractal/snowflake.py
  qcfractal/testing.py
  qcfractal/tests/test_managers.py
Labels: none

Skip collections tests for now
  qcfractal/tests/test_collections.py
Labels: none

Add flask server
  qcfractal/flask_handlers.py
  qcfractal/server.py
Labels: none

Add Roles endpoints
  qcfractal/server_flask.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Implement JWT token refresh with tests
  qcfractal/app/config.py
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_authentication.py
Labels: Database, Interface

Better process management and testing for process_runner
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/cli/qcfractal_manager.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/periodics.py
  qcfractal/process_runner.py
  qcfractal/qc_queue/managers.py
  qcfractal/snowflake.py
  qcfractal/tests/test_process_runner.py
Labels: none
