Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

Fix and clean up add_results
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Add assertion and slightly more cleanup
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Better description in KVStore model
  qcfractal/interface/models/common_models.py
Labels: Interface

Move towards individual queries in add_results
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Small cleanup in KVStore model
  qcfractal/interface/models/common_models.py
  qcfractal/interface/tests/test_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database, Interface

Fix test of kvstore compression
  qcfractal/tests/test_sqlalchemy.py
Labels: none

Fix formatting with black
  qcfractal/alembic/versions/30fd8253d87f_kvstore_compress.py
  qcfractal/cli/cli_utils.py
  qcfractal/extras.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/collections/reaction_dataset.py
  qcfractal/interface/models/common_models.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/tests/test_models.py
  qcfractal/procedures/procedures.py
  qcfractal/queue/base_adapter.py
  qcfractal/queue/executor_adapter.py
  qcfractal/queue/handlers.py
  qcfractal/queue/parsl_adapter.py
  qcfractal/server.py
  qcfractal/services/service_util.py
  qcfractal/services/services.py
  qcfractal/storage_sockets/db_queries.py
  qcfractal/storage_sockets/models/collections_models.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_sqlalchemy.py
  qcfractal/tests/test_storage.py
  qcfractal/web_handlers.py
Labels: Compute, Database, Interface, Service

Add loglevel option to config and command line
  qcfractal/cli/qcfractal_server.py
  qcfractal/config.py
  qcfractal/server.py
Labels: none

Fix printing of base_folder on server startup
  qcfractal/cli/qcfractal_server.py
  qcfractal/server.py
Labels: none

Compress outputs on managers
  qcfractal/procedures/procedures.py
  qcfractal/procedures/procedures_util.py
  qcfractal/queue/compress.py
  qcfractal/queue/managers.py
Labels: Compute

Split out procedures files
  qcfractal/procedures/__init__.py
  qcfractal/procedures/base.py
  qcfractal/procedures/optimization.py
  qcfractal/procedures/procedures.py
  qcfractal/procedures/procedures_util.py
  qcfractal/procedures/single.py
Labels: none

Remove unused return from parse_input
  qcfractal/procedures/procedures.py
Labels: none

Make BaseTasks an abstract base class
  qcfractal/procedures/procedures.py
Labels: none

Move marking completed tasks to procedures
  qcfractal/procedures/optimization.py
  qcfractal/procedures/single.py
  qcfractal/queue/handlers.py
Labels: Compute

More cleanup and refactoring of procedures
  qcfractal/procedures/procedures.py
  qcfractal/procedures/procedures_util.py
  qcfractal/queue/handlers.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Compute, Database

Move some functionality to procedures
  qcfractal/interface/models/common_models.py
  qcfractal/interface/models/records.py
  qcfractal/procedures/procedures.py
  qcfractal/procedures/procedures_util.py
  qcfractal/queue/handlers.py
Labels: Compute, Interface

Add additional checks for completed computations
  qcfractal/queue/handlers.py
Labels: Compute

Add tests for task regeneration and modification
  qcfractal/queue/handlers.py
  qcfractal/tests/test_compute.py
Labels: Compute

Add ability to regenerate and modify tasks
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/procedures/optimization.py
  qcfractal/procedures/single.py
  qcfractal/queue/handlers.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Compute, Database, Interface

Additional logging of manager updates
  qcfractal/queue/handlers.py
  qcfractal/queue/managers.py
Labels: Compute

Fix connection strings in alembic
  qcfractal/postgres_harness.py
Labels: none

Modify changelog for v0.14.0
  docs/qcfractal/source/changelog.rst
  docs/qcportal/source/changelog.rst
  qcfractal/server.py
Labels: Documentation

Test with newer python versions on travis
  .travis.yml
Labels: none

Conda 3.9 not available on conda default channel
  .travis.yml
Labels: none

Added explicit pip install to conda envs that need it
  devtools/conda-envs/adapters.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/generate_envs.py
Labels: none

Trying out bionic (18.04)
  .travis.yml
Labels: none

Looks like parsl and dask conda packages fight
  .travis.yml
  devtools/conda-envs/adapters.yaml
  devtools/conda-envs/openff.yaml
Labels: none

Attempt to split out tests for each adapter
  .travis.yml
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_dask_distributed.yaml
  devtools/conda-envs/adapter_fireworks.py
  devtools/conda-envs/adapter_parsl.yaml
Labels: none

Fix extra quotes in travis yaml
  .travis.yml
Labels: none

Rename adapter_fireworks file
  devtools/conda-envs/adapter_fireworks.yaml
Labels: none

More work on splitting tests out
  .travis.yml
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_dask_distributed.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
Labels: none

Attempt at a build matrix
  .travis.yml
Labels: none

Revert "Attempt at a build matrix"
  .travis.yml
Labels: none

Clean up LGTM alerts and dead code
  qcfractal/interface/__init__.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/collections/dataset_view.py
  qcfractal/interface/models/task_models.py
  qcfractal/procedures/procedures_util.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/testing.py
  qcfractal/util.py
Labels: Database, Interface

Rename generic 'util' file
  qcfractal/port_util.py
  qcfractal/postgres_harness.py
  qcfractal/snowflake.py
Labels: none

Fix printing of client version
  qcfractal/interface/client.py
Labels: Interface

Updated QCEngine, QCElemental versions used; generate_envs.py
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/generate_envs.py
Labels: none

Added full build matrix including py3.8
  .travis.yml
Labels: none

Added GHA-based CI execution
  .github/workflows/CI.yml
Labels: none

Small fix to GHA CI workflow file
  .github/workflows/CI.yml
Labels: none

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*
