Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*

Add FractalServer class methods
  qcfractal/server_flask.py
Labels: none

Fix improper responses in routes
  qcfractal/app/routes.py
Labels: none

Restrict version info for a while
  qcfractal/app/routes.py
  qcfractal/interface/client.py
Labels: Interface

Add refresh method
  qcfractal/server_flask.py
Labels: none

Some cleanup & stuff with procedures
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/subsockets/molecule.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/procedures/base.py
  qcfractal/storage_sockets/subsockets/procedures/helpers.py
  qcfractal/storage_sockets/subsockets/procedures/optimization.py
  qcfractal/storage_sockets/subsockets/procedures/single.py
  qcfractal/storage_sockets/subsockets/task.py
  qcfractal/tests/storage/test_procedure.py
Labels: Database

Fix issue with dask/lsf_units setting
  qcfractal/cli/qcfractal_manager.py
Labels: none

Cache conda environments for faster testing
  .github/workflows/CI.yml
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/openff.yaml
Labels: none

Cleanup of test fixtures
  qcfractal/testing.py
  qcfractal/tests/test_adapters.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_sqlalchemy.py
Labels: none

more work on testing and snowflake
  qcfractal/fractal_proc.py
  qcfractal/periodics.py
  qcfractal/postgres_harness.py
  qcfractal/services/service_util.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
Labels: Database, Service

Add a better testing server fixture
  qcfractal/testing.py
Labels: none

tests_storage pass, add lib responses instead on requets_mock
  devtools/conda-envs/base.yaml
  devtools/old_migrations/drop_procedures.py
  devtools/scripts/create_staging.py
  qcfractal/app/routes.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/storage_socket.py
  qcfractal/testing.py
  qcfractal/tests/test_storage.py
  qcfractal/try.py
  setup.py
Labels: Database

Initial semi-working flask-first version
  qcfractal/app/__init__.py
  qcfractal/app/config.py
  qcfractal/app/routes.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/common_models.py
  qcfractal/periodics.py
  qcfractal/procedures/optimization.py
  qcfractal/qc_queue/managers.py
  qcfractal/storage_sockets/__init__.py
  qcfractal/storage_sockets/api_logger.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/view.py
Labels: Database, Interface

Format code using black
  qcfractal/__init__.py
  qcfractal/app/__init__.py
  qcfractal/app/config.py
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/app/routes.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/cli/tests/test_cli.py
  qcfractal/interface/client.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/common_models.py
  qcfractal/interface/models/model_utils.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/interface/tests/test_visualization.py
  qcfractal/old_config.py
  qcfractal/procedures/base.py
  qcfractal/procedures/failure.py
  qcfractal/procedures/optimization.py
  qcfractal/procedures/single.py
  qcfractal/qc_queue/managers.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/result.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/storage_sockets/subsockets/server_logs.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/task.py
  qcfractal/storage_sockets/subsockets/user.py
  qcfractal/storage_sockets/view.py
  qcfractal/testing.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_process_runner.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_sqlalchemy.py
  qcfractal/tests/test_storage.py
  qcfractal/tests/test_storage_queries.py
Labels: Database, Interface

Change default for manager tasks
  qcfractal/config.py
Labels: none

Update test_server
  qcfractal/snowflake.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_server.py
Labels: none

Finish moving storage socket stuff to subsocket
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/task.py
  qcfractal/storage_sockets/subsockets/user.py
Labels: Database

More functions for output_store
  qcfractal/storage_sockets/subsockets/output_store.py
  qcfractal/storage_sockets/subsockets/procedures/failure.py
  qcfractal/storage_sockets/subsockets/procedures/helpers.py
  qcfractal/tests/storage/test_output_store.py
Labels: Database

Fix sqlalchemy 1.4 migration errors
  qcfractal/procedures/failure.py
  qcfractal/storage_sockets/db_queries.py
  qcfractal/storage_sockets/models/collections_models.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/models/sql_base.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/procedure.py
Labels: Database

More testing + procedure query
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/models/sql_base.py
  qcfractal/storage_sockets/sqlalchemy_common.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/procedures/optimization.py
  qcfractal/storage_sockets/subsockets/procedures/single.py
  qcfractal/storage_sockets/subsockets/result.py
  qcfractal/tests/storage/test_keywords.py
  qcfractal/tests/storage/test_molecules.py
  qcfractal/tests/storage/test_procedure.py
  qcfractal/tests/storage/test_procedure_optimization.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_storage.py
  qcfractal/tests/test_storage_queries.py
Labels: Database, Interface

Better process management and testing for process_runner
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/cli/qcfractal_manager.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/periodics.py
  qcfractal/process_runner.py
  qcfractal/qc_queue/managers.py
  qcfractal/snowflake.py
  qcfractal/tests/test_process_runner.py
Labels: none

Enable migrating old config via cli
  qcfractal/cli/qcfractal_server.py
  qcfractal/config.py
  qcfractal/old_config.py
Labels: none

Rework keywords socket
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/procedures/optimization.py
  qcfractal/procedures/single.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/keywords.py
  qcfractal/tests/storage/test_keywords.py
  qcfractal/tests/storage/test_server_log.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_sqlalchemy.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface

Update GHA
  .github/workflows/CI.yml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/base.yaml
Labels: none

Fix anonymous user access
  qcfractal/app/routes.py
Labels: none

Add role table
  qcfractal/server_flask.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
Labels: Database

improve handling of subprocess shutdown and completed task notification
  qcfractal/app/flask_app.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/fractal_proc.py
  qcfractal/periodics.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/result.py
Labels: Database

Update server_upgrade
  qcfractal/cli/qcfractal_server.py
Labels: none

Remove custom queries
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/storage_sockets/__init__.py
  qcfractal/storage_sockets/db_queries.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_storage_queries.py
Labels: Database, Interface

Change type annotations for multiprocessing
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/periodics.py
  qcfractal/snowflake.py
Labels: none

force option to basicConfig not available in python 3.7
  qcfractal/cli/qcfractal_server.py
Labels: none

Run apt update in CI
  .github/workflows/CI.yml
Labels: none

Slight cleanup of snowflake
  qcfractal/snowflake.py
Labels: none

fix tests where returned data is encoded in non-json
  qcfractal/tests/test_server.py
Labels: none

Rework user and role subsockets
  qcfractal/app/routes.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/cli/tests/test_cli.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/common_models.py
  qcfractal/postgres_harness.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/storage_sockets/subsockets/user.py
  qcfractal/tests/storage/test_role.py
  qcfractal/tests/storage/test_user.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface

Rework server log subsocket
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/periodics.py
  qcfractal/storage_sockets/api_logger.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/__init__.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/storage_sockets/subsockets/server_log.py
  qcfractal/tests/storage/test_server_log.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface

Use flask server instead of tornado
  qcfractal/cli/qcfractal_server.py
  qcfractal/flask_handlers.py
  qcfractal/requirements.txt
  qcfractal/server_flask.py
  qcfractal/server_old.py
  qcfractal/testing.py
Labels: none

remove unused code
  qcfractal/qc_queue/__init__.py
  qcfractal/qc_queue/handlers.py
  qcfractal/server.py
  qcfractal/server_old.py
  qcfractal/server_old2.py
  qcfractal/try.py
  qcfractal/web_handlers.py
Labels: none

Re-enable some commented-out stuff
  qcfractal/app/routes.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Always use global logging rather than log queues
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/app/routes.py
  qcfractal/periodics.py
  qcfractal/snowflake.py
Labels: none

Code linting
  qcfractal/app/__init__.py
  qcfractal/app/config.py
  qcfractal/app/exceptions.py
  qcfractal/app/routes.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/interface/client.py
  qcfractal/policyuniverse/policy.py
  qcfractal/policyuniverse/statement.py
  qcfractal/server.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
  qcfractal/tests/authorization/test_policy.py
  qcfractal/tests/authorization/test_statement.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_storage.py
  qcfractal/try.py
Labels: Database, Interface
