Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

Another small CI fix
  .github/workflows/CI.yml
Labels: none

Forgot to make bash act as login shell to get conda env
  .github/workflows/CI.yml
Labels: none

Added fail-fast: false to CI workflow
  .github/workflows/CI.yml
Labels: none

Added exclusions to GHA CI
  .github/workflows/CI.yml
Labels: none

Changed Lint trigger to avoid duplicate runs on PRs
  .github/workflows/Lint.yml
Labels: none

Removed explicit python from all conda envs
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
Labels: none

Added MongoDB service to CI, conditional on fireworks run
  .github/workflows/CI.yml
Labels: none

Added adapter_parsl run for Python 3.8 to CI exclusion list
  .github/workflows/CI.yml
Labels: none

Remove travis and update badges
  .travis.yml
  README.md
  devtools/travis-ci/before_install.sh
Labels: none

CI via Github Actions (#628)
  .github/workflows/CI.yml
  .github/workflows/Lint.yml
  .travis.yml
  README.md
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  devtools/travis-ci/before_install.sh
Labels: none

Enable gha for PRs from forks
  .github/workflows/CI.yml
Labels: none

Lock task queue rows when requesting tasks
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Capture stdout for torsion drives
  qcfractal/services/gridoptimization_service.py
  qcfractal/services/service_util.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_services.py
Labels: Database, Service

Fix test
  qcfractal/tests/test_services.py
Labels: none

Remove stdout from gridopt (now in base class)
  qcfractal/services/gridoptimization_service.py
Labels: Service

Capture stdout for torsion drives (#629)
  qcfractal/services/service_util.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_services.py
Labels: Database, Service

Allow dictionaries to be passed to KVStore.compress
  qcfractal/interface/models/common_models.py
Labels: Interface

Always pass dicts to queue_mark_error
  qcfractal/queue/handlers.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_storage.py
Labels: Compute, Database

Remove unneeded session.commit and reorder a bit
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Fix ordering of initial/final molecule in torsiondrive service
  qcfractal/services/torsiondrive_service.py
Labels: Service

Remove task_id from base_result table
  qcfractal/alembic/versions/dd35678aae90_remove_baseresult_taskid.py
  qcfractal/interface/models/records.py
  qcfractal/procedures/optimization.py
  qcfractal/storage_sockets/models/results_models.py
Labels: Database, Interface

Remove error from task queue
  qcfractal/alembic/versions/5686f64a46c8_remove_error_field_from_task_queue.py
  qcfractal/interface/models/task_models.py
  qcfractal/storage_sockets/models/sql_models.py
Labels: Database, Interface

Enable ability to profile fractal server
  qcfractal/cli/qcfractal_server.py
  qcfractal/config.py
Labels: none

Fix shutdown of ProcessPoolExecutor workers
  qcfractal/cli/qcfractal_manager.py
Labels: none

Fix tests that used null values
  qcfractal/tests/test_sqlalchemy.py
Labels: none

Make some molecule columns not nullable
  qcfractal/alembic/versions/5be555fe9dc0_molecules_not_nullable.py
  qcfractal/storage_sockets/models/results_models.py
Labels: Database

Make protocols & procedures not nullable as well
  qcfractal/alembic/versions/5be555fe9dc0_some_fields_not_null.py
  qcfractal/storage_sockets/models/results_models.py
Labels: Database

Update tests that used null molecules
  qcfractal/tests/test_sqlalchemy.py
Labels: none

Fix migration script
  qcfractal/alembic/versions/5be555fe9dc0_some_fields_not_null.py
Labels: none

Fix error message in dataset (issue #587)
  qcfractal/interface/collections/dataset.py
Labels: Interface

Remove _qcfractal_tags from optimizations
  qcfractal/procedures/optimization.py
  qcfractal/procedures/procedures_util.py
  qcfractal/tests/test_procedures.py
Labels: none

Re-enable test_torsiondrive_dataset
  qcfractal/tests/test_collections.py
Labels: none

Update test to reflect changes
  qcfractal/tests/test_collections.py
Labels: none

Fix logged exception in web handler
  qcfractal/web_handlers.py
Labels: none

Add QCExport code to devtools
  devtools/qcexport/README
  devtools/qcexport/create_staging.py
  devtools/qcexport/qcexport.py
  devtools/qcexport/qcexport_extra.py
  devtools/qcexport/qcexport_extra_collection.py
Labels: none

[json-591] Conceptual split of *_json into *_json, *_dict methods on Collections
  qcfractal/interface/collections/collection.py
  qcfractal/interface/collections/collection_utils.py
  qcfractal/tests/test_collections.py
Labels: Interface

Update changelog for v0.15.0
  docs/qcfractal/source/changelog.rst
  docs/qcportal/source/changelog.rst
Labels: Documentation

Bump allowed client versions
  qcfractal/server.py
Labels: none

Fix extra task_id in old service records
  qcfractal/services/gridoptimization_service.py
  qcfractal/services/torsiondrive_service.py
Labels: Service

Remove task_id from services (try #2)
  qcfractal/server.py
Labels: none

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*
