Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

Dataset: don't pull records before save if no records were changed.
  qcfractal/interface/collections/dataset.py
Labels: Interface

Queue: Removes active tasks from consideration to prevent bugs
  manager_config.yaml
  qcfractal/queue/managers.py
  qcfractal/queue/parsl_adapter.py
  qcfractal/testing.py
Labels: Compute

dataset: test for lazy updating
  qcfractal/tests/test_collections.py
Labels: none

Dataset: refactor ensure records pattern
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/collections/reaction_dataset.py
Labels: Interface

Dataset: isolate bug in attempt to update collection metadata without round-tripping records
  qcfractal/interface/client.py
  qcfractal/interface/collections/collection.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/models/rest_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_storage.py
  qcfractal/web_handlers.py
Labels: Database, Interface

Manager: allow multiple queue tags
  qcfractal/cli/qcfractal_manager.py
  qcfractal/interface/models/rest_models.py
  qcfractal/queue/managers.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_managers.py
Labels: Compute, Database, Interface

Testing: down bump pint to see if tests will pass
  devtools/conda-envs/adapters.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
Labels: none

Revert "Testing: down bump pint to see if tests will pass"
  devtools/conda-envs/adapters.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
Labels: none

Dataset: Update pint avoidance hack for pint 0.10
  qcfractal/interface/collections/dataset.py
Labels: Interface

Remove mongdb compatibility from base_result in TaskQueue and TaskRecords
  qcfractal/interface/models/task_models.py
  qcfractal/procedures/procedures.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface

lint and changelgo
  docs/qcfractal/source/changelog.rst
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/tests/test_compute.py
Labels: Database, Documentation

Use versions to correctly detect and upgrade db, closes #509
  qcfractal/cli/qcfractal_server.py
  qcfractal/postgres_harness.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

CLI: Backup/restore stubs and standard startup command refactor
  qcfractal/cli/qcfractal_server.py
Labels: none

CLI: Adds a backup command
  .gitignore
  qcfractal/cli/qcfractal_server.py
  qcfractal/postgres_harness.py
Labels: none

CLI: Adds a restore command
  qcfractal/cli/qcfractal_server.py
  qcfractal/postgres_harness.py
Labels: none

Dataset: fix issue that arises in get_records when basis set is not provided
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/collections/reaction_dataset.py
  qcfractal/tests/test_collections.py
Labels: Interface

CLI: Prints database and restore size to give a user some handle on time.
  qcfractal/cli/qcfractal_server.py
  qcfractal/postgres_harness.py
Labels: none

CLI: Backup dumps to a in_progress temporary file until complete
  qcfractal/cli/qcfractal_server.py
  qcfractal/postgres_harness.py
Labels: none

Docs: Adds v0.13.0 Release notes
  docs/qcfractal/source/changelog.rst
  docs/qcportal/source/changelog.rst
Labels: Documentation

Client: Bumps client upper limit
  qcfractal/server.py
Labels: none

Many fixes for the HPC documentation
  docs/qcfractal/source/index.rst
  docs/qcfractal/source/managers_hpc.rst
  docs/qcfractal/source/managers_samples.rst
Labels: Documentation

Scripts: Refactors staging script slightly to work with the current server
  devtools/scripts/create_staging.py
Labels: none

Changes to set default driver for running properites computation
  qcfractal/interface/collections/dataset.py
Labels: Interface

small correction to README.md of production env tools
  devtools/prod-envs/README.md
Labels: none

fix error, comma to :
  qcfractal/interface/collections/dataset.py
Labels: Interface

Test comment
  qcfractal/interface/models/tests/test_hashes.py
Labels: Interface

update snowflake dockerfile
  devtools/docker/qcfractal_snowflake/Dockerfile
  devtools/docker/qcfractal_snowflake/quickstart.ipynb
Labels: none

fix conda paths in dockerfiles
  devtools/docker/qcarchive_worker_openff/Dockerfile
  devtools/docker/qcfractal/Dockerfile
  devtools/docker/qcfractal_snowflake/Dockerfile
Labels: none

Dataset: fix bug revealed by pandas 1.0
  qcfractal/interface/collections/reaction_dataset.py
Labels: Interface

Storage: Allows handling of sparse molecule and msgpack None issues
  qcfractal/storage_sockets/models/sql_base.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Dataset: fix another bug revealed by pandas 1.0
  qcfractal/interface/collections/dataset.py
Labels: Interface

make format
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

CI: Provides short errors for readability
  .travis.yml
Labels: none

Storage: Patches up custom queries after sparse molecule
  qcfractal/storage_sockets/db_queries.py
  qcfractal/tests/test_storage_queries.py
Labels: Database

Testing: Minor patchups after sparse molecule in storage sockets
  qcfractal/interface/models/records.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_sqlalchemy.py
Labels: Interface

Storage: Allows skipping of version checks when resetting the database
  qcfractal/server.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
  qcfractal/tests/test_authentication.py
Labels: Database

CI: Bumps pydantic depends
  devtools/conda-envs/adapters.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  setup.py
Labels: none

Services: ensure protocols from are passed to procedures, fixes #563
  qcfractal/services/gridoptimization_service.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/tests/test_services.py
Labels: Service

CI: QCElemental version bump
  devtools/conda-envs/adapters.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  setup.py
Labels: none

Storage: canonicalize molecular formula before query
  qcfractal/interface/client.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*
