Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

Protect some endpoints with JWT accessToken
  qcfractal/server_flask.py
Labels: none

Add docs
  qcfractal/server_flask.py
Labels: none

more work on testing and snowflake
  qcfractal/fractal_proc.py
  qcfractal/periodics.py
  qcfractal/postgres_harness.py
  qcfractal/services/service_util.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
Labels: Database, Service

Add simplified dict() function to base orm
  qcfractal/storage_sockets/models/sql_base.py
Labels: Database

Changed my mind about some options names choices
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/config.py
  qcfractal/postgres_harness.py
  qcfractal/snowflake.py
  qcfractal/testing.py
Labels: none

Add queue_manager methods
  qcfractal/server_flask.py
Labels: none

Improve postgres tools autodetect
  .github/workflows/CI.yml
  qcfractal/config.py
  qcfractal/postgres_harness.py
Labels: none

Add more dependencies to conda envs
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/openff.yaml
Labels: none

Enable using NullPool in SQLAlchemy create_engine
  qcfractal/config.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
Labels: Database

Add role table
  qcfractal/server_flask.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
Labels: Database

Fix routers merge with master handlers
  qcfractal/app/routes.py
Labels: none

Fix typing of format_query
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Authorization init version
  qcfractal/server_flask.py
Labels: none

Minor fixes and additions for snowflake and postgres stuff
  qcfractal/app/flask_app.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/periodics.py
  qcfractal/postgres_harness.py
  qcfractal/services/service_util.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
  qcfractal/tests/test_storage.py
Labels: Database, Service

Cleanup of test fixtures
  qcfractal/testing.py
  qcfractal/tests/test_adapters.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_sqlalchemy.py
Labels: none

update test_client
  qcfractal/snowflake.py
  qcfractal/tests/test_client.py
Labels: none

Create FractalServer class
  qcfractal/server_flask.py
Labels: none

Add migration of user permissions to roles
  qcfractal/alembic/versions/ace6189b4a68_update_users_and_roles.py
Labels: none

More flask integration with APscheduler and mocks in tests
  devtools/conda-envs/generate_envs.py
  qcfractal/app/config.py
  qcfractal/app/exceptions.py
  qcfractal/app/routes.py
  qcfractal/server.py
  qcfractal/snowflake.py
  qcfractal/testing.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_storage.py
  setup.py
Labels: none

Add refresh method
  qcfractal/server_flask.py
Labels: none

Enable migrating old config via cli
  qcfractal/cli/qcfractal_server.py
  qcfractal/config.py
  qcfractal/old_config.py
Labels: none

Add FractalServer class methods
  qcfractal/server_flask.py
Labels: none

Fix incorrect type in error handling
  qcfractal/app/routes.py
Labels: none

Fix setting error status of services' procedures
  qcfractal/periodics.py
Labels: none

add debug logging to tests
  .github/workflows/CI.yml
Labels: none

Remove tornado from manager cli
  qcfractal/cli/qcfractal_manager.py
Labels: none

Slight cleanup of snowflake
  qcfractal/snowflake.py
Labels: none

Rename max_compute_workers in snowflake
  qcfractal/snowflake.py
  qcfractal/testing.py
Labels: none

Add policyuniverse module
  qcfractal/policyuniverse/__init__.py
  qcfractal/policyuniverse/policy.py
  qcfractal/policyuniverse/statement.py
  qcfractal/policyuniverse/tests/__init__.py
  qcfractal/policyuniverse/tests/test_policy.py
  qcfractal/policyuniverse/tests/test_statement.py
  qcfractal/qc_policy.py
  qcfractal/server_flask.py
Labels: none

Add manager method
  qcfractal/server_flask.py
Labels: none

Re-enable some commented-out stuff
  qcfractal/app/routes.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Add gunicorn to dependencies
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/openff.yaml
  setup.py
Labels: none

Improve graceful exits from subprocesses
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/openff.yaml
  mypy.ini
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/periodics.py
  qcfractal/process_runner.py
  qcfractal/qc_queue/managers.py
  qcfractal/snowflake.py
  setup.py
Labels: none

Fix yet another race condition
  qcfractal/procedures/failure.py
  qcfractal/procedures/single.py
Labels: none

Add read-only option to session_scope
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Add authorization related methods.
  qcfractal/server_flask.py
Labels: none

Add get_procedure
  qcfractal/server_flask.py
Labels: none

Format code using black
  qcfractal/__init__.py
  qcfractal/app/__init__.py
  qcfractal/app/config.py
  qcfractal/app/flask_app.py
  qcfractal/app/gunicorn_app.py
  qcfractal/app/routes.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/cli/tests/test_cli.py
  qcfractal/interface/client.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/common_models.py
  qcfractal/interface/models/model_utils.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/interface/tests/test_visualization.py
  qcfractal/old_config.py
  qcfractal/procedures/base.py
  qcfractal/procedures/failure.py
  qcfractal/procedures/optimization.py
  qcfractal/procedures/single.py
  qcfractal/qc_queue/managers.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/subsockets/procedure.py
  qcfractal/storage_sockets/subsockets/result.py
  qcfractal/storage_sockets/subsockets/role.py
  qcfractal/storage_sockets/subsockets/server_logs.py
  qcfractal/storage_sockets/subsockets/service.py
  qcfractal/storage_sockets/subsockets/task.py
  qcfractal/storage_sockets/subsockets/user.py
  qcfractal/storage_sockets/view.py
  qcfractal/testing.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_process_runner.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_sqlalchemy.py
  qcfractal/tests/test_storage.py
  qcfractal/tests/test_storage_queries.py
Labels: Database, Interface

First step in manager refactor: move out of server init
  qcfractal/app/config.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/config.py
  qcfractal/qc_queue/managers.py
  qcfractal/server.py
  qcfractal/snowflake.py
  qcfractal/testing.py
  qcfractal/tests/test_adapters.py
  qcfractal/tests/test_compute.py
Labels: none

Fix API access logging
  qcfractal/storage_sockets/api_logger.py
Labels: Database

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*
