Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

pr comment
  qcfractal/interface/collections/reaction_dataset.py
Labels: Interface

add show_incomplete to dataset visualize
  qcfractal/interface/collections/dataset.py
Labels: Interface

handled the duplicate objects in the query on add_results
  benchmarks/bench_result_add.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Slight changes setting result.basis to None when equal to
  benchmarks/bench_result_add.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

formatted again with black
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

reduced the query in add_results
  benchmarks/bench_result_add.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

formatted the files
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

small changes to code readability in add_results
  benchmarks/bench_result_add.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

corrected a number of documentations
  .DS_Store
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

RDS: fix issue when stoich has only one molecule
  qcfractal/interface/collections/reaction_dataset.py
Labels: Interface

More changes to the documentation
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Docs: Updates socket.get_wavefunction_store doc strings
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

changes to docs
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

minor change
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

New corrections, adding more optionals to docs.
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

RDS: fix issue when stoich has only one molecule
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  devtools/prod-envs/qcarchive_worker_openff.yaml
Labels: none

new changes to queue_submit + benchmark for queue tasks submission
  benchmarks/bench_queue_submit.py
  devtools/conda-envs/openff.yaml
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

small changes to bench_queue_submit.py
  benchmarks/bench_queue_submit.py
Labels: none

removed redundant and_ in add_results
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

commented the changes
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_storage.py
Labels: Database

handled duplicate input tasks in queue_submit in sqlalchemy_socket.py + test added to test_storage for sanity
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_storage.py
Labels: Database

unused import removed
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Fixes errors in collections status() functionality
  qcfractal/interface/collections/collection.py
  qcfractal/tests/test_collections.py
Labels: Interface

Replace curl with wget in travis
  devtools/travis-ci/before_install.sh
Labels: none

Fix datasets status test
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_collections.py
Labels: Database

commented the sql statement print command, uncommented the update lines in queue_get_next()
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

changes to queue_get_next()
  benchmarks/bench_task_get_next.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_managers.py
Labels: Database

code formatted
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_managers.py
Labels: Database

added index
  qcfractal/storage_sockets/models/sql_models.py
Labels: Database

fixed import and added alembic version
  qcfractal/alembic/versions/fb5bd88ae2f3_.py
  qcfractal/storage_sockets/models/sql_models.py
Labels: Database

run linter
  qcfractal/cli/qcfractal_manager.py
  qcfractal/queue/managers.py
Labels: Compute

code formatted
  qcfractal/alembic/versions/fb5bd88ae2f3_.py
  qcfractal/storage_sockets/models/sql_models.py
Labels: Database

Add utility for setting default program/units
  qcfractal/interface/collections/dataset.py
Labels: Interface

new file added for migration
  qcfractal/storage_sockets/models/qc_spec.py
Labels: Database

Add ability to query managers from portal
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/queue/__init__.py
  qcfractal/queue/handlers.py
  qcfractal/server.py
Labels: Compute, Interface

Modify manager test to use client.query_managers
  qcfractal/tests/test_managers.py
Labels: none

Remove _info from manager_info endpoint
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/queue/handlers.py
  qcfractal/server.py
Labels: Compute, Interface

Alembic Migration Finalized
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/models/qc_spec.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

necessary changes done to procedure functions(add, get and update)
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

changed some tests + added the new alembic file
  qcfractal/alembic/versions/3ae67d9668c0_qcspec_migration.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_sqlalchemy.py
Labels: Database

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*
