Repository MolSSI/QCFractal, changes with the labels that .github/labeler.yml gives for each.
All labels: Collection, Compute, Database, Documentation, Interface, Service

Fix passing None for additional_keywords
  qcfractal/interface/collections/torsiondrive_dataset.py
Labels: Interface

use json encoding when adding and updating results
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

update environment pins and switch to mamba
  .github/workflows/CI.yml
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/openff.yaml
  setup.py
Labels: none

Only apply JSON encoding to AtomicResult properties
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Properties can be None somehow
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Database

Force conda-forge for alembic and restrict qcengine/qcelemental
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/openff.yaml
Labels: none

Test against psi4 dev
  .github/workflows/CI.yml
  devtools/conda-envs/openff.yaml
Labels: none

Release 0.15.7
  docs/qcfractal/source/changelog.rst
  docs/qcportal/source/changelog.rst
Labels: Documentation

Add service_queue methods
  qcfractal/server_flask.py
Labels: none

Add get_procedure
  qcfractal/server_flask.py
Labels: none

Add get_result
  qcfractal/server_flask.py
Labels: none

Add task_queue routes
  qcfractal/server_flask.py
Labels: none

Add manager method
  qcfractal/server_flask.py
Labels: none

Init Flask commit
  qcfractal/__init__.py
  qcfractal/alembic/ERD.png
  qcfractal/qc_queue/__init__.py
  qcfractal/qc_queue/adapters.py
  qcfractal/qc_queue/base_adapter.py
  qcfractal/qc_queue/compress.py
  qcfractal/qc_queue/executor_adapter.py
  qcfractal/qc_queue/fireworks_adapter.py
  qcfractal/qc_queue/handlers.py
  qcfractal/qc_queue/managers.py
  qcfractal/qc_queue/parsl_adapter.py
  qcfractal/requirements.txt
  qcfractal/server.py
  qcfractal/server_flask.py
  qcfractal/testing.py
Labels: none

Add docs
  qcfractal/server_flask.py
Labels: none

change module queue name to qc_queue
  docs/qcfractal/source/api.rst
  qcfractal/cli/qcfractal_manager.py
  qcfractal/testing.py
  qcfractal/tests/test_adapters.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_services.py
Labels: Documentation

Protect some endpoints with JWT accessToken
  qcfractal/server_flask.py
Labels: none

Add get_optimization
  qcfractal/server_flask.py
Labels: none

Add login endpoint
  qcfractal/server_flask.py
Labels: none

Add register endpoint
  qcfractal/server_flask.py
Labels: none

Add handle_collection
  qcfractal/server_flask.py
Labels: none

Add handle_collection
  qcfractal/server_flask.py
Labels: none

Add queue_manager methods
  qcfractal/server_flask.py
Labels: none

Add get_wave_function
  qcfractal/server_flask.py
Labels: none

Skip collections tests for now
  qcfractal/tests/test_collections.py
Labels: none

Migrate collection_type to be not nullable
  qcfractal/alembic/versions/b74cd7a31b69_collection_type_not_nullable.py
Labels: none

Add policyuniverse module
  qcfractal/policyuniverse/__init__.py
  qcfractal/policyuniverse/policy.py
  qcfractal/policyuniverse/statement.py
  qcfractal/policyuniverse/tests/__init__.py
  qcfractal/policyuniverse/tests/test_policy.py
  qcfractal/policyuniverse/tests/test_statement.py
  qcfractal/qc_policy.py
  qcfractal/server_flask.py
Labels: none

Slight cleanup of a few files
  .gitignore
  mypy.ini
  qcfractal/config.py
  qcfractal/periodics.py
  qcfractal/port_util.py
  qcfractal/postgres_harness.py
Labels: none

Clean up and update conda envs
  devtools/conda-envs/README.md
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  setup.py
Labels: none

Fix ordering of base_folder on command line
  qcfractal/cli/qcfractal_server.py
Labels: none

Add percentiles to access log summary
  qcfractal/storage_sockets/subsockets/server_log.py
Labels: Database

Update tests: procedures, sqlalchemy
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_sqlalchemy.py
Labels: none

Some cleanup of imports
  qcfractal/app/routes.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/common_models.py
  qcfractal/interface/models/gridoptimization.py
  qcfractal/interface/models/model_utils.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/task_models.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/procedures/base.py
  qcfractal/procedures/failure.py
  qcfractal/procedures/optimization.py
  qcfractal/procedures/single.py
  qcfractal/services/service_util.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface, Service

Use qc_policy for authorization
  qcfractal/requirements.txt
  qcfractal/server_flask.py
Labels: none

Change test hashes to use integer molecule IDs
  qcfractal/interface/models/tests/test_hashes.py
Labels: Interface

Rework initialization of global flask stuff
  qcfractal/app/__init__.py
  qcfractal/app/flask_app.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/periodics.py
  qcfractal/storage_sockets/api_logger.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/view.py
  qcfractal/testing.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_storage_queries.py
Labels: Database

Migrate to sqlalchemy v1.4
  devtools/conda-envs/adapter_dask.yaml
  devtools/conda-envs/adapter_fireworks.yaml
  devtools/conda-envs/adapter_parsl.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/openff.yaml
  qcfractal/config.py
  qcfractal/postgres_harness.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  setup.py
Labels: Database

Change version of parsl in conda envs
  devtools/conda-envs/adapter_parsl.yaml
Labels: none

Use custom decorator check_access in JWT to allow security and allow_read
  qcfractal/app/__init__.py
  qcfractal/app/routes.py
  qcfractal/interface/client.py
  qcfractal/server.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_storage.py
Labels: Database, Interface

Flask with Authrization JWT working
  qcfractal/app/__init__.py
  qcfractal/app/config.py
  qcfractal/app/exceptions.py
  qcfractal/app/routes.py
  qcfractal/policyuniverse/policy.py
  qcfractal/server.py
  qcfractal/storage_sockets/models/sql_models.py
Labels: Database

.github/labeler.yml:

Collection:
  - example/**/*
Compute:
  - qcfractal/queue/**/*
Database:
  - qcfractal/storage_sockets/**/*
Documentation:
  - docs/**/*
Interface:
  - qcfractal/interface/**/*
Service:
  - qcfractal/services/**/*
