Repository MolSSI/QCFractal, pull requests merged in 2018-10, with the labels that each got.

#65 Dataset docs
  docs/source/collection-dataset.rst
  docs/source/index.rst
  docs/source/portal-collections.rst
  docs/source/portal-molecule.rst
  qcfractal/interface/client.py
  qcfractal/interface/collections/__init__.py
  qcfractal/interface/collections/biofragment.py
  qcfractal/interface/collections/collection.py
  qcfractal/interface/collections/collection_utils.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/collections/openffworkflow.py
  qcfractal/storage_sockets/mongo_socket.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_portal.py
  qcfractal/web_handlers.py
Labels: Documentation, Enhancement

#67 OpenFF Workflow Expansion
  qcfractal/interface/client.py
  qcfractal/interface/collections/biofragment.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/collections/openffworkflow.py
  qcfractal/interface/orm/build_orm.py
  qcfractal/interface/orm/optimization_orm.py
  qcfractal/interface/orm/torsiondrive_orm.py
  qcfractal/server.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_services.py
Labels: Enhancement, Service

#74 Add flowcharts to the docs
  docs/source/fractal-flow.rst
  docs/source/fractal-procedures.rst
  docs/source/fractal-services.rst
  docs/source/index.rst
  docs/source/media/QCAAddCompute.png
  docs/source/media/QCAAddProcedure.png
Labels: Documentation

#72 Separate Queue Manager
  docs/source/changelog.rst
  docs/source/fractal-services.rst
  examples/fireworks_server/build_database.py
  examples/fireworks_server/fw_lpad.yaml
  examples/fireworks_server/query_database.py
  examples/fireworks_server/run_fireworks_example.sh
  examples/test_examples.py
  qcfractal/__init__.py
  qcfractal/cli/dqm_server.py
  qcfractal/interface/__init__.py
  qcfractal/interface/client.py
  qcfractal/interface/collections/__init__.py
  qcfractal/interface/collections/biofragment.py
  qcfractal/interface/collections/collection.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/collections/openffworkflow.py
  qcfractal/interface/molecule.py
  qcfractal/interface/orm/__init__.py
  qcfractal/interface/orm/build_orm.py
  qcfractal/interface/orm/optimization_orm.py
  qcfractal/interface/orm/torsiondrive_orm.py
  qcfractal/interface/tests/test_database.py
  qcfractal/interface/tests/test_molecule.py
  qcfractal/procedures/__init__.py
  qcfractal/procedures/procedures.py
  qcfractal/queue/__init__.py
  qcfractal/queue/adapters.py
  qcfractal/queue/dask_adapter.py
  qcfractal/queue/fireworks_adapter.py
  qcfractal/queue/handlers.py
  qcfractal/queue/managers.py
  qcfractal/queue_handlers/__init__.py
  qcfractal/queue_handlers/dask_handler.py
  qcfractal/queue_handlers/queue_handlers.py
  qcfractal/server.py
  qcfractal/services/services.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/storage_sockets/mongo_socket.py
  qcfractal/testing.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_queue.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_storage_sockets.py
  qcfractal/web_handlers.py
Labels: Feature, Queue

#75 QCFractal CLI
  MANIFEST.in
  conftest.py
  devtools/conda-envs/openff.yaml
  examples/conftest.py
  examples/fireworks_dataset/README.md
  examples/fireworks_dataset/build_database.py
  examples/fireworks_dataset/compute_database.py
  examples/fireworks_dataset/fw_lpad.yaml
  examples/fireworks_dataset/query_database.py
  examples/fireworks_dataset/reset_server.py
  examples/fireworks_server/server.py
  examples/test_examples.py
  qcfractal/__init__.py
  qcfractal/cli/cli_utils.py
  qcfractal/cli/dqm_server.py
  qcfractal/cli/qcfractal_manager.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/cli/tests/__init__.py
  qcfractal/cli/tests/fw_config_boot.yaml
  qcfractal/cli/tests/setup.yaml
  qcfractal/cli/tests/test_cli.py
  qcfractal/interface/collections/dataset.py
  qcfractal/queue/adapters.py
  qcfractal/queue/managers.py
  qcfractal/server.py
  qcfractal/storage_sockets/mongo_socket.py
  qcfractal/storage_sockets/storage_socket.py
  qcfractal/testing.py
  qcfractal/tests/conftest.py
  setup.py
Labels: Enhancement, Feature

#85 CLI Cleanup and ping variable
  qcfractal/cli/qcfractal_manager.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/queue/managers.py
  qcfractal/server.py
  qcfractal/testing.py
Labels: Enhancement, Queue

#73 Start process of converting to Pydantic for validation
  .azure-pipelines.yml
  .travis.yml
  devtools/conda-envs/dask.yaml
  devtools/conda-envs/fireworks.yaml
  devtools/conda-envs/openff.yaml
  qcfractal/interface/collections/biofragment.py
  qcfractal/interface/collections/collection.py
  qcfractal/interface/collections/collection_utils.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/collections/openffworkflow.py
  qcfractal/interface/dict_utils.py
  qcfractal/interface/tests/test_dataset.py
  setup.py
Labels: Collection, Database, Feature

#84 Pins QCEngine version
  devtools/conda-envs/dask.yaml
  devtools/conda-envs/fireworks.yaml
  devtools/conda-envs/openff.yaml
Labels: Testing

#83 Task/Service Error queries
  qcfractal/interface/client.py
  qcfractal/queue/dask_adapter.py
  qcfractal/queue/fireworks_adapter.py
  qcfractal/queue/handlers.py
  qcfractal/server.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/storage_sockets/mongo_socket.py
  qcfractal/testing.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_queue.py
  qcfractal/tests/test_services.py
Labels: Database, Enhancement, Interface

#82 [WIP] add optimization service to openffworkflow
  qcfractal/interface/collections/openffworkflow.py
  qcfractal/tests/test_collections.py
Labels: Collection, Enhancement

#89 CI: Fixes merge error in travis.yaml
  .travis.yml
  devtools/conda-envs/parsl.yaml
Labels: Bug, Testing
