Repository MolSSI/QCFractal, pull requests merged in 2018-08, with the labels that each got.

#29 Roadmap and Community documentation
  docs/source/community.rst
  docs/source/index.rst
  docs/source/media/openff_torsion_workflow.jpg
  docs/source/roadmap.rst
Labels: Documentation

#31 Authorization Setup
  devtools/conda-envs/dask.yaml
  devtools/conda-envs/fireworks.yaml
  devtools/conda-envs/openff.yaml
  examples/fireworks_server/server.py
  qcfractal/_version.py
  qcfractal/cli/dqm_server.py
  qcfractal/db_sockets/db_socket.py
  qcfractal/db_sockets/db_utils.py
  qcfractal/db_sockets/mongo_socket.py
  qcfractal/interface/client.py
  qcfractal/interface/constants.py
  qcfractal/interface/data/__init__.py
  qcfractal/interface/database.py
  qcfractal/interface/molecule.py
  qcfractal/interface/orm/build_orm.py
  qcfractal/interface/orm/crank_orm.py
  qcfractal/interface/schema/options_schema.py
  qcfractal/interface/statistics.py
  qcfractal/interface/tests/test_database.py
  qcfractal/interface/tests/test_helper.py
  qcfractal/interface/tests/test_molecule.py
  qcfractal/interface/tests/test_schema.py
  qcfractal/interface/tests/test_utils.py
  qcfractal/procedures/__init__.py
  qcfractal/procedures/procedures.py
  qcfractal/procedures/procedures_util.py
  qcfractal/queue_handlers/__init__.py
  qcfractal/queue_handlers/fireworks_handler.py
  qcfractal/queue_handlers/queue_handlers.py
  qcfractal/queue_handlers/queue_helpers.py
  qcfractal/server.py
  qcfractal/services/crank_service.py
  qcfractal/testing.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_db_sockets.py
  qcfractal/tests/test_portal.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_services.py
  qcfractal/web_handlers.py
  qcfractal/workflow.py
  setup.py
Labels: Database, Feature, Interface

#32 Crank: Track optimizations
  devtools/conda-envs/openff.yaml
  qcfractal/interface/data/molecules/helium_dimer.json
  qcfractal/interface/data/molecules/hooh.json
  qcfractal/interface/molecule.py
  qcfractal/interface/orm/__init__.py
  qcfractal/interface/orm/build_orm.py
  qcfractal/interface/orm/torsiondrive_orm.py
  qcfractal/interface/schema/molecule_schema.py
  qcfractal/services/services.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/testing.py
  qcfractal/tests/test_services.py
Labels: Database, Enhancement

#36 Ensure Fireworks WF's are cleaned upon completion
  qcfractal/queue_handlers/fireworks_handler.py
  qcfractal/tests/test_queue.py
Labels: Database, Queue

#35 Db update
  qcfractal/db_sockets/mongo_socket.py
  qcfractal/interface/client.py
  qcfractal/interface/database.py
  qcfractal/tests/test_db_sockets.py
  qcfractal/tests/test_procedures.py
  qcfractal/web_handlers.py
Labels: Database, Enhancement

#37 Covert String formatting from % to .format
  qcfractal/cli/dqm_server.py
  qcfractal/db_sockets/mongo_socket.py
  qcfractal/interface/constants.py
  qcfractal/interface/data/data_getters.py
  qcfractal/interface/database.py
  qcfractal/interface/hash_helpers.py
  qcfractal/interface/molecule.py
  qcfractal/interface/schema/definitions_schema.py
  qcfractal/interface/schema/schema_getters.py
  qcfractal/interface/statistics.py
  qcfractal/queue_handlers/queue_handlers.py
  qcfractal/server.py
  qcfractal/testing.py
  qcfractal/web_handlers.py
Labels: Bug, Enhancement
