Repository MolSSI/QCFractal, pull requests merged in 2018-09, with the labels that each got.

#40 Add initial Example test
  examples/fireworks_server/README.md
  examples/fireworks_server/run_fireworks_example.sh
  examples/fireworks_server/test_firework_example.py
  qcfractal/testing.py
Labels: Testing

#38 Docs pass
  docs/source/conf.py
  docs/source/fractal-procedures.rst
  docs/source/fractal-results.rst
  docs/source/fractal-services.rst
  docs/source/glossary.rst
  docs/source/index.rst
  docs/source/portal-client.rst
  docs/source/portal-molecule.rst
  docs/source/service-torsiondrive.rst
  qcfractal/db_sockets/mongo_socket.py
  qcfractal/interface/client.py
  qcfractal/interface/molecule.py
  qcfractal/interface/orm/torsiondrive_orm.py
  qcfractal/interface/tests/test_molecule.py
  qcfractal/tests/test_db_sockets.py
Labels: Database, Documentation

#39 Server now uses SSL
  .gitignore
  qcfractal/interface/client.py
  qcfractal/interface/molecule.py
  qcfractal/server.py
  qcfractal/testing.py
  qcfractal/tests/test_authentication.py
  qcfractal/web_handlers.py
Labels: Database, Enhancement

#41 Molecular formula molecule index
  qcfractal/db_sockets/db_utils.py
  qcfractal/db_sockets/mongo_socket.py
  qcfractal/interface/client.py
  qcfractal/interface/molecule.py
  qcfractal/interface/schema/molecule_schema.py
  qcfractal/interface/schema/schema_getters.py
  qcfractal/interface/tests/test_molecule.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/tests/test_portal.py
  qcfractal/web_handlers.py
Labels: Database, Enhancement

#42 v0.1a Cleanup
  docs/source/changelog.rst
  docs/source/conf.py
  docs/source/index.rst
  qcfractal/interface/client.py
  qcfractal/server.py
Labels: Bug, Documentation

#43 Merges service result with procedures
  qcfractal/db_sockets/mongo_socket.py
  qcfractal/interface/client.py
  qcfractal/interface/orm/__init__.py
  qcfractal/interface/orm/build_orm.py
  qcfractal/interface/orm/optimization_orm.py
  qcfractal/interface/orm/torsiondrive_orm.py
  qcfractal/interface/schema/schema_getters.py
  qcfractal/procedures/__init__.py
  qcfractal/procedures/procedures.py
  qcfractal/queue_handlers/queue_handlers.py
  qcfractal/server.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_services.py
  qcfractal/web_handlers.py
Labels: Database, Queue, Service

#44 Refactor naming structure for MongoDB
  docs/source/glossary.rst
  examples/fireworks_server/server.py
  qcfractal/__init__.py
  qcfractal/db_sockets/__init__.py
  qcfractal/db_sockets/db_socket.py
  qcfractal/interface/client.py
  qcfractal/interface/database.py
  qcfractal/interface/schema/schema_getters.py
  qcfractal/procedures/procedures.py
  qcfractal/procedures/procedures_util.py
  qcfractal/queue_handlers/queue_handlers.py
  qcfractal/server.py
  qcfractal/services/services.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/storage_sockets/__init__.py
  qcfractal/storage_sockets/mongo_socket.py
  qcfractal/storage_sockets/storage_socket.py
  qcfractal/storage_sockets/storage_utils.py
  qcfractal/testing.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_portal.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_queue.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_storage_sockets.py
  qcfractal/web_handlers.py
Labels: Bug, Database, Enhancement

#46 Fixes codecov reporting stats
  .codecov.yml
Labels: Enhancement

#47 Skipif for Mongo
  qcfractal/testing.py
  qcfractal/tests/test_authentication.py
Labels: Enhancement, Testing

#51 Queue deduplication and collection updates
  CODE_OF_CONDUCT.md
  LICENSE
  qcfractal/interface/client.py
  qcfractal/interface/collections/__init__.py
  qcfractal/interface/collections/biofragment.py
  qcfractal/interface/collections/collection.py
  qcfractal/interface/collections/database.py
  qcfractal/interface/data/molecules/butane.json
  qcfractal/interface/schema/schema_getters.py
  qcfractal/procedures/procedures.py
  qcfractal/procedures/procedures_util.py
  qcfractal/queue_handlers/dask_handler.py
  qcfractal/queue_handlers/fireworks_handler.py
  qcfractal/queue_handlers/queue_handlers.py
  qcfractal/server.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/storage_sockets/mongo_socket.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_queue.py
  qcfractal/tests/test_storage_sockets.py
Labels: Database, Queue

#52 Molecular Hashing Fix and Examples update
  .travis.yml
  examples/conftest.py
  examples/fireworks_server/build_database.py
  examples/fireworks_server/compute_database.py
  examples/fireworks_server/query_database.py
  examples/fireworks_server/run_fireworks_example.sh
  examples/fireworks_server/test_firework_example.py
  examples/test_examples.py
  qcfractal/interface/collections/collection.py
  qcfractal/interface/collections/database.py
  qcfractal/interface/molecule.py
  qcfractal/interface/tests/test_database.py
  qcfractal/interface/tests/test_molecule.py
Labels: Database, Testing

#53 Results hash index
  qcfractal/interface/client.py
  qcfractal/interface/data/molecules/helium_dimer.json
  qcfractal/procedures/procedures.py
  qcfractal/queue_handlers/queue_handlers.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/storage_sockets/mongo_socket.py
  qcfractal/storage_sockets/storage_utils.py
  qcfractal/tests/test_queue.py
  qcfractal/tests/test_storage_sockets.py
  qcfractal/web_handlers.py
Labels: Database

#54 Coverage Update
  .travis.yml
  setup.cfg
Labels: Enhancement

#50 Fix more Azure script syntax issues
  .azure-pipelines.yml
Labels: Enhancement, Testing

#57 Queue and store structure overhaul
  qcfractal/interface/client.py
  qcfractal/interface/collections/__init__.py
  qcfractal/interface/collections/biofragment.py
  qcfractal/interface/collections/database.py
  qcfractal/interface/collections/openffworkflow.py
  qcfractal/interface/orm/optimization_orm.py
  qcfractal/interface/orm/torsiondrive_orm.py
  qcfractal/interface/schema/schema_getters.py
  qcfractal/procedures/procedures.py
  qcfractal/procedures/procedures_util.py
  qcfractal/queue_handlers/queue_handlers.py
  qcfractal/server.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/storage_sockets/mongo_socket.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_queue.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_storage_sockets.py
  qcfractal/web_handlers.py
Labels: Database, Queue

#58 QCArchive Overview doc
  docs/source/changelog.rst
  docs/source/fractal-results.rst
  docs/source/glossary.rst
  docs/source/index.rst
  docs/source/install.rst
  docs/source/media/boxology_overview.jpg
  docs/source/portal-client.rst
  docs/source/portal-molecule.rst
  docs/source/qcarchive_overview.rst
Labels: Documentation

#63 Collections: Database -> Dataset
  examples/fireworks_server/build_database.py
  examples/fireworks_server/compute_database.py
  examples/fireworks_server/query_database.py
  qcfractal/interface/client.py
  qcfractal/interface/collections/__init__.py
  qcfractal/interface/collections/collection.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/tests/test_database.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_storage_sockets.py
Labels: Collection

#64 Ensure torsion drive completed tasks pull from their queue id
  examples/test_examples.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/testing.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_services.py
Labels: Bug, Procedure, Service
