Repository MolSSI/QCFractal, pull requests merged in 2019-08, with the labels that each got.

#361 Copy Alembic when creating staging DB
  devtools/scripts/create_staging.py
Labels: Enhancement

#358 qcfractal-server user management CLI
  docs/qcfractal/source/changelog.rst
  docs/qcfractal/source/index.rst
  docs/qcfractal/source/server_user.rst
  qcfractal/cli/qcfractal_server.py
  qcfractal/cli/tests/test_cli.py
  qcfractal/config.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_storage.py
Labels: Feature, Interface

#364 Docs Fixes
  docs/qcfractal/source/_static/custom.css
  docs/qcfractal/source/_static/js/theme.js
  docs/qcfractal/source/_templates/layout.html
  docs/qcfractal/source/conf.py
  docs/qcfractal/source/managers_config_api.rst
Labels: Documentation

#363 Service manipulation
  docs/qcportal/source/rest-api.rst
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/statistics.py
  qcfractal/queue/handlers.py
  qcfractal/storage_sockets/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_services.py
Labels: Feature, Interface

#373 Update change log for 0.9.0
  docs/qcfractal/source/changelog.rst
  docs/qcportal/source/changelog.rst
  qcfractal/server.py
Labels: Documentation

#376 Update install docs
  docs/qcfractal/source/install.rst
  docs/qcportal/source/install.rst
  qcfractal/interface/tests/test_visualization.py
Labels: Documentation

#377 PyTest Inner Workings Overhaul
  conftest.py
  docs/qcfractal/source/install.rst
  examples/test_examples.py
  qcfractal/cli/tests/test_cli.py
  qcfractal/interface/tests/test_visualization.py
  qcfractal/testing.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_services.py
  setup.py
Labels: Bug, Documentation, Testing

#356 Redesign collections in database
  devtools/scripts/create_staging.py
  qcfractal/alembic/env.py
  qcfractal/alembic/versions/129ff3ce9247_add_collection_tables_dataset_reaction_.py
  qcfractal/postgres_harness.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/models/collections_models.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/models/sql_base.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_sqlalchemy.py
Labels: Database, Enhancement, Feature

#387 Replace autodoc tech with Elemental's implementation
  devtools/conda-envs/adapters.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  qcfractal/cli/qcfractal_manager.py
  qcfractal/config.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/common_models.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/tests/test_utils.py
  qcfractal/interface/util.py
  setup.py
Labels: Documentation, Enhancement
