Repository MolSSI/QCFractal, pull requests merged in 2019-02, with the labels that each got.

#130 Pydantic Body/Requests
  qcfractal/interface/client.py
  qcfractal/interface/collections/collection.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/rest_models.py
  qcfractal/storage_sockets/mongoengine_socket.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_portal.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_services.py
  qcfractal/web_handlers.py
Labels: Feature, Interface

#135 TorsionDrive model
  qcfractal/interface/collections/openffworkflow.py
  qcfractal/interface/models/common_models.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/interface/orm/__init__.py
  qcfractal/interface/orm/build_orm.py
  qcfractal/interface/orm/optimization_orm.py
  qcfractal/interface/orm/torsiondrive_orm.py
  qcfractal/procedures/procedures.py
  qcfractal/queue/handlers.py
  qcfractal/queue/managers.py
  qcfractal/server.py
  qcfractal/services/services.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/storage_sockets/mongoengine_socket.py
  qcfractal/tests/test_services.py
Labels: Service

#132 Fix Mongoengine single tests failure (closes #119)
  qcfractal/storage_sockets/models.py
  qcfractal/storage_sockets/mongoengine_socket.py
  qcfractal/testing.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_mongoengine_socket.py
Labels: Bug, Database, Enhancement

#145 Add final REST interface for QueueManager
  qcfractal/interface/models/rest_models.py
  qcfractal/queue/handlers.py
  qcfractal/queue/managers.py
Labels: Enhancement, Interface

#141 GridOptimization Service
  qcfractal/__init__.py
  qcfractal/extras.py
  qcfractal/interface/models/gridoptimization.py
  qcfractal/interface/orm/build_orm.py
  qcfractal/queue/base_adapter.py
  qcfractal/queue/managers.py
  qcfractal/server.py
  qcfractal/services/gridoptimization_service.py
  qcfractal/services/service_util.py
  qcfractal/services/services.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/tests/test_services.py
Labels: Procedure, Service

#146 CI: Reworks and simplifies the testing environments
  .travis.yml
  devtools/conda-envs/adapters.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/fireworks.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  devtools/conda-envs/parsl.yaml
  qcfractal/interface/models/gridoptimization.py
  qcfractal/services/gridoptimization_service.py
Labels: Testing

#147 Services submission overhaul
  examples/parsl_torsiondrive/compute_torsion.py
  qcfractal/interface/client.py
  qcfractal/interface/collections/openffworkflow.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/gridoptimization.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/queue/handlers.py
  qcfractal/queue/managers.py
  qcfractal/server.py
  qcfractal/services/gridoptimization_service.py
  qcfractal/services/services.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/storage_sockets/mongoengine_socket.py
  qcfractal/tests/test_services.py
Labels: Interface, Service

#149 Improve load times
  devtools/conda-envs/adapters.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  qcfractal/__init__.py
  qcfractal/interface/client.py
  qcfractal/interface/schema/schema_getters.py
  qcfractal/interface/tests/test_molecule.py
  qcfractal/interface/tests/test_schema.py
  qcfractal/queue/managers.py
  qcfractal/storage_sockets/mongoengine_socket.py
  setup.py
Labels: Enhancement

#150 Refactors options
  examples/local_dataset/compute_database.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/common_models.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/tests/__init__.py
  qcfractal/interface/models/tests/test_hashes.py
  qcfractal/procedures/procedures_util.py
  qcfractal/storage_sockets/models.py
  qcfractal/storage_sockets/mongoengine_socket.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_storage_sockets_me.py
  qcfractal/web_handlers.py
Labels: Database, Interface

#152 Gridopt: Relative starting grid
  devtools/conda-envs/adapters.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  qcfractal/interface/models/gridoptimization.py
  qcfractal/services/gridoptimization_service.py
  qcfractal/tests/test_services.py
  setup.py
Labels: Service

#153 Dataset options aliases
  examples/local_dataset/compute_database.py
  examples/local_dataset/query_database.py
  qcfractal/interface/collections/dataset.py
  qcfractal/tests/test_collections.py
  setup.cfg
Labels: Collection

#162 Save and get services with ME for validation
  qcfractal/queue/handlers.py
  qcfractal/server.py
  qcfractal/storage_sockets/models.py
  qcfractal/storage_sockets/mongoengine_socket.py
Labels: Database, Service

#165 Dataset Rework
  examples/local_dataset/build_database.py
  examples/local_dataset/compute_database.py
  examples/local_dataset/query_database.py
  qcfractal/interface/collections/__init__.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/collections/reaction_dataset.py
  qcfractal/interface/tests/test_dataset.py
  qcfractal/tests/test_collections.py
Labels: Collection

#169 Allows for the README in PyPI.
  setup.py
Labels: Enhancement

#170 Parsl testing executor switch
  qcfractal/testing.py
  qcfractal/tests/test_adapaters.py
Labels: Bug, Testing

#161 GridOptimization: Pre-optimization and relative scans
  .travis.yml
  devtools/conda-envs/adapters.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  devtools/conda-recipe/bld.bat
  devtools/conda-recipe/build.sh
  devtools/conda-recipe/meta.yaml
  qcfractal/cli/tests/test_cli.py
  qcfractal/interface/models/gridoptimization.py
  qcfractal/queue/handlers.py
  qcfractal/services/gridoptimization_service.py
  qcfractal/services/service_util.py
  qcfractal/tests/test_services.py
  setup.py
Labels: Enhancement, Service

#172 Pydantic bumps
  devtools/conda-envs/adapters.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  qcfractal/interface/data/molecules/butane.json
  qcfractal/interface/models/gridoptimization.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/services/service_util.py
  qcfractal/tests/test_adapaters.py
  setup.py
Labels: Bug, Enhancement

#167 Allow queries with keys that are intentionally empty
  qcfractal/interface/models/rest_models.py
  qcfractal/storage_sockets/mongoengine_socket.py
  qcfractal/tests/test_storage_sockets_me.py
Labels: Database

#171 Molecule add cleanup
  examples/parsl_torsiondrive/compute_torsion.py
  qcfractal/interface/__init__.py
  qcfractal/interface/client.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/collections/reaction_dataset.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/schema/__init__.py
  qcfractal/interface/schema/database_schema.py
  qcfractal/interface/schema/definitions_schema.py
  qcfractal/interface/schema/molecule_schema.py
  qcfractal/interface/schema/options_schema.py
  qcfractal/interface/schema/schema_getters.py
  qcfractal/procedures/procedures.py
  qcfractal/procedures/procedures_util.py
  qcfractal/storage_sockets/models.py
  qcfractal/storage_sockets/mongoengine_socket.py
  qcfractal/tests/test_adapaters.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_mongoengine_socket.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_queue.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_storage_sockets_me.py
Labels: Database

#168 [WIP] Save stub procedure when creating a service
  qcfractal/interface/models/torsiondrive.py
  qcfractal/server.py
  qcfractal/storage_sockets/models.py
  qcfractal/storage_sockets/mongoengine_socket.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_storage_sockets_me.py
Labels: Database

#173 Services: API overhaul for using only ids
  docs/source/changelog.rst
  qcfractal/interface/client.py
  qcfractal/interface/collections/collection.py
  qcfractal/interface/collections/generic.py
  qcfractal/interface/collections/openffworkflow.py
  qcfractal/interface/models/common_models.py
  qcfractal/interface/models/gridoptimization.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/interface/orm/build_orm.py
  qcfractal/interface/orm/optimization_orm.py
  qcfractal/procedures/procedures.py
  qcfractal/procedures/procedures_util.py
  qcfractal/queue/adapters.py
  qcfractal/queue/base_adapter.py
  qcfractal/queue/executor_adapter.py
  qcfractal/queue/fireworks_adapter.py
  qcfractal/queue/handlers.py
  qcfractal/queue/managers.py
  qcfractal/queue/parsl_adapter.py
  qcfractal/server.py
  qcfractal/services/__init__.py
  qcfractal/services/gridoptimization_service.py
  qcfractal/services/service_util.py
  qcfractal/services/services.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/storage_sockets/mongoengine_socket.py
  qcfractal/storage_sockets/storage_utils.py
  qcfractal/testing.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_queue.py
  qcfractal/tests/test_services.py
  setup.cfg
Labels: Database

#177 [WIP] Attempt to implement the Manager Helpers
  qcfractal/cli/qcfractal_template_generator.py
  qcfractal/cli/tests/test_cli.py
  qcfractal/queue/managers.py
  setup.py
Labels: Documentation, Enhancement, Queue

#175 Storage Keyword and Molecule reworks
  qcfractal/interface/client.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/models/common_models.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/tests/test_hashes.py
  qcfractal/interface/orm/optimization_orm.py
  qcfractal/server.py
  qcfractal/services/gridoptimization_service.py
  qcfractal/services/service_util.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/storage_sockets/me_models.py
  qcfractal/storage_sockets/mongoengine_socket.py
  qcfractal/storage_sockets/storage_utils.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_mongoengine_socket.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_storage.py
  qcfractal/web_handlers.py
Labels: Database
