Repository MolSSI/QCFractal, pull requests merged in 2019-04, with the labels that each got.

#206 [WIP] SQLAlchemy implementation of storage
  .travis.yml
  devtools/conda-envs/adapters.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  examples/SQLAlchemy_Setup.md
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/common_models.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/task_models.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/storage_sockets/mongoengine_socket.py
  qcfractal/storage_sockets/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/storage_socket.py
  qcfractal/testing.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_sqlalchemy.py
  qcfractal/tests/test_storage_sql.py
Labels: Database

#241 TD Visualization Refactor
  docs/qcportal/source/client-api.rst
  docs/qcportal/source/collection-torsiondrive.rst
  docs/qcportal/source/collections.rst
  docs/qcportal/source/index.rst
  qcfractal/interface/client.py
  qcfractal/interface/collections/torsiondrive_dataset.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/interface/visualization.py
  qcfractal/tests/test_services.py
Labels: Collection, Documentation, Feature

#244 Make task errors more verbose in the logs
  docs/qcfractal/source/changelog.rst
  qcfractal/queue/managers.py
Labels: Queue, Testing

#247 Optimization Dataset
  qcfractal/extras.py
  qcfractal/interface/client.py
  qcfractal/interface/collections/__init__.py
  qcfractal/interface/collections/collection.py
  qcfractal/interface/collections/collection_utils.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/collections/generic.py
  qcfractal/interface/collections/openffworkflow.py
  qcfractal/interface/collections/optimization_dataset.py
  qcfractal/interface/collections/reaction_dataset.py
  qcfractal/interface/collections/torsiondrive_dataset.py
  qcfractal/interface/models/model_builder.py
  qcfractal/interface/models/model_utils.py
  qcfractal/interface/models/records.py
  qcfractal/interface/statistics.py
  qcfractal/interface/tests/test_visualization.py
  qcfractal/interface/visualization.py
  qcfractal/procedures/procedures.py
  qcfractal/queue/base_adapter.py
  qcfractal/queue/handlers.py
  qcfractal/queue/managers.py
  qcfractal/queue/parsl_adapter.py
  qcfractal/server.py
  qcfractal/services/service_util.py
  qcfractal/services/services.py
  qcfractal/storage_sockets/me_models.py
  qcfractal/storage_sockets/mongoengine_socket.py
  qcfractal/storage_sockets/storage_socket.py
  qcfractal/storage_sockets/storage_utils.py
  qcfractal/testing.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_services.py
  qcfractal/web_handlers.py
Labels: Collection
