Repository MolSSI/QCFractal, pull requests merged in 2019-09, with the labels that each got.

#385 Overhauls Dataset get/query fields
  docs/qcfractal/source/changelog.rst
  qcfractal/interface/collections/collection.py
  qcfractal/interface/collections/collection_utils.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/collections/reaction_dataset.py
  qcfractal/interface/tests/test_visualization.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_server.py
  qcfractal/web_handlers.py
Labels: Collection, Enhancement

#393 Advanced Queries for more complex access to the DB
  docs/qcfractal/source/changelog.rst
  examples/SQLAlchemy_Setup.md
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/server.py
  qcfractal/storage_sockets/__init__.py
  qcfractal/storage_sockets/db_queries.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_storage_queries.py
  qcfractal/web_handlers.py
Labels: Database, Feature

#406 Collections: Alters primary indices
  qcfractal/alembic/versions/cc54842bb6ba_updates_dataset_pk.py
  qcfractal/storage_sockets/models/collections_models.py
Labels: Enhancement
