Repository MolSSI/QCFractal, pull requests merged in 2019-03, with the labels that each got.

#181 Add pagination to queries
  qcfractal/storage_sockets/me_models.py
  qcfractal/storage_sockets/mongoengine_socket.py
  qcfractal/tests/test_mongoengine_socket.py
  qcfractal/tests/test_storage.py
Labels: Database

#182 Models
  devtools/conda-envs/adapters.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  qcfractal/cli/tests/test_cli.py
  qcfractal/interface/__init__.py
  qcfractal/interface/client.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/collections/openffworkflow.py
  qcfractal/interface/collections/reaction_dataset.py
  qcfractal/interface/constants.py
  qcfractal/interface/data/data_getters.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/common_models.py
  qcfractal/interface/models/gridoptimization.py
  qcfractal/interface/models/model_builder.py
  qcfractal/interface/models/proc_models.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/tests/test_common_models.py
  qcfractal/interface/models/tests/test_hashes.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/interface/orm/__init__.py
  qcfractal/interface/orm/optimization_orm.py
  qcfractal/interface/tests/test_dataset.py
  qcfractal/interface/tests/test_molecule.py
  qcfractal/procedures/procedures.py
  qcfractal/procedures/procedures_util.py
  qcfractal/queue/handlers.py
  qcfractal/queue/managers.py
  qcfractal/services/gridoptimization_service.py
  qcfractal/services/service_util.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/storage_sockets/me_models.py
  qcfractal/storage_sockets/mongoengine_socket.py
  qcfractal/testing.py
  qcfractal/tests/test_adapaters.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_services.py
  setup.py
Labels: Collection, Database, Service

#183 Duplicate checking
  devtools/conda-envs/adapters.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  qcfractal/cli/qcfractal_manager.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/interface/client.py
  qcfractal/interface/collections/collection.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/collections/generic.py
  qcfractal/interface/collections/openffworkflow.py
  qcfractal/interface/collections/reaction_dataset.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/common_models.py
  qcfractal/interface/models/gridoptimization.py
  qcfractal/interface/models/model_builder.py
  qcfractal/interface/models/model_utils.py
  qcfractal/interface/models/proc_models.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/tests/test_common_models.py
  qcfractal/interface/models/tests/test_hashes.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/interface/tests/test_dataset.py
  qcfractal/interface/tests/test_molecule.py
  qcfractal/procedures/procedures.py
  qcfractal/queue/base_adapter.py
  qcfractal/queue/handlers.py
  qcfractal/queue/managers.py
  qcfractal/server.py
  qcfractal/services/gridoptimization_service.py
  qcfractal/services/service_util.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/storage_sockets/me_models.py
  qcfractal/storage_sockets/mongoengine_socket.py
  qcfractal/tests/test_adapaters.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_mongoengine_socket.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_queue.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_storage.py
  qcfractal/web_handlers.py
Labels: Database, Interface

#185 Setup docs
  .gitignore
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  docs/requirements.yml
  docs/source/api.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/portal-client.rst
  docs/source/setup_compute.rst
  docs/source/setup_server.rst
  examples/local_dataset/query_database.py
  qcfractal/queue/fireworks_adapter.py
  qcfractal/queue/handlers.py
  setup.cfg
Labels: Documentation

#190 Docs: Switches over to QCArchive theme
  docs/requirements.yml
  docs/source/conf.py
Labels: Documentation

#189 Record objects as base document classes
  docs/source/changelog.rst
  docs/source/install.rst
  examples/parsl_torsiondrive/README.md
  qcfractal/cli/qcfractal_template_generator.py
  qcfractal/extras.py
  qcfractal/interface/client.py
  qcfractal/interface/collections/openffworkflow.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/common_models.py
  qcfractal/interface/models/gridoptimization.py
  qcfractal/interface/models/model_builder.py
  qcfractal/interface/models/proc_models.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/tests/test_hashes.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/procedures/procedures.py
  qcfractal/procedures/procedures_util.py
  qcfractal/queue/base_adapter.py
  qcfractal/queue/executor_adapter.py
  qcfractal/queue/fireworks_adapter.py
  qcfractal/queue/handlers.py
  qcfractal/queue/managers.py
  qcfractal/queue/parsl_adapter.py
  qcfractal/server.py
  qcfractal/services/gridoptimization_service.py
  qcfractal/services/service_util.py
  qcfractal/services/services.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/storage_sockets/me_models.py
  qcfractal/storage_sockets/mongoengine_socket.py
  qcfractal/testing.py
  qcfractal/tests/test_adapaters.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_mongoengine_socket.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_queue.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_storage.py
  qcfractal/web_handlers.py
Labels: Database

#196 update comput_torsion example with new API
  examples/parsl_torsiondrive/compute_torsion.py
Labels: Bug

#195 Tweaks
  qcfractal/cli/qcfractal_server.py
  qcfractal/interface/models/records.py
  qcfractal/procedures/procedures.py
  qcfractal/queue/handlers.py
  qcfractal/queue/managers.py
  qcfractal/server.py
  qcfractal/storage_sockets/mongoengine_socket.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_procedures.py
  qcfractal/web_handlers.py
Labels: Bug, Database, Enhancement

#197 General tweaks from live evaluation
  devtools/conda-envs/adapters.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  qcfractal/cli/cli_utils.py
  qcfractal/cli/qcfractal_manager.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/cli/tests/test_cli.py
  qcfractal/interface/client.py
  qcfractal/interface/collections/collection.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/collections/openffworkflow.py
  qcfractal/interface/collections/reaction_dataset.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/tests/test_hashes.py
  qcfractal/interface/tests/test_molecule.py
  qcfractal/queue/managers.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_collections.py
  setup.py
Labels: Bug, Collection, Database, Enhancement

#203 Client Documentation
  docs/source/api.rst
  docs/source/client-add-query.rst
  docs/source/client-api.rst
  docs/source/client-new-compute.rst
  docs/source/client-record-query.rst
  docs/source/client.rst
  docs/source/collection-dataset.rst
  docs/source/collections.rst
  docs/source/fractal-results.rst
  docs/source/glossary.rst
  docs/source/index.rst
  docs/source/portal-client.rst
  docs/source/portal-molecule.rst
  docs/source/setup_server.rst
  examples/parsl_torsiondrive/query_torsion.py
  qcfractal/interface/client.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/collections/openffworkflow.py
  qcfractal/interface/collections/reaction_dataset.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/tests/test_adapaters.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_storage.py
Labels: Documentation

#207 Tweaks
  LICENSE
  docs/source/conf.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/interface/client.py
  qcfractal/interface/collections/__init__.py
  qcfractal/interface/collections/collection.py
  qcfractal/interface/collections/collection_utils.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/collections/openffworkflow.py
  qcfractal/interface/collections/reaction_dataset.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/rest_models.py
  qcfractal/server.py
  qcfractal/storage_sockets/me_models.py
  qcfractal/storage_sockets/mongoengine_socket.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_storage.py
  qcfractal/web_handlers.py
  setup.py
Labels: Collection

#210 Tweaks from production testing
  qcfractal/interface/client.py
  qcfractal/interface/collections/collection.py
  qcfractal/services/service_util.py
  qcfractal/storage_sockets/mongoengine_socket.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_storage.py
  qcfractal/web_handlers.py
Labels: Bug, Database

#212 QCPortal/QCFractal doc split
  .gitignore
  docs/qcfractal/Makefile
  docs/qcfractal/README.md
  docs/qcfractal/requirements.yml
  docs/qcfractal/source/api.rst
  docs/qcfractal/source/changelog.rst
  docs/qcfractal/source/community.rst
  docs/qcfractal/source/conf.py
  docs/qcfractal/source/database_design.rst
  docs/qcfractal/source/dev_guidelines.rst
  docs/qcfractal/source/flow.rst
  docs/qcfractal/source/glossary.rst
  docs/qcfractal/source/index.rst
  docs/qcfractal/source/install.rst
  docs/qcfractal/source/media/QCAAddCompute.png
  docs/qcfractal/source/media/QCAAddProcedure.png
  docs/qcfractal/source/media/boxology_overview.jpg
  docs/qcfractal/source/media/openff_torsion_workflow.jpg
  docs/qcfractal/source/procedures.rst
  docs/qcfractal/source/qcarchive_overview.rst
  docs/qcfractal/source/results.rst
  docs/qcfractal/source/roadmap.rst
  docs/qcfractal/source/service-torsiondrive.rst
  docs/qcfractal/source/services.rst
  docs/qcfractal/source/setup_compute.rst
  docs/qcfractal/source/setup_server.rst
  docs/qcportal/Makefile
  docs/qcportal/README.md
  docs/qcportal/requirements.yml
  docs/qcportal/source/changelog.rst
  docs/qcportal/source/client-add-query.rst
  docs/qcportal/source/client-api.rst
  docs/qcportal/source/client-new-compute.rst
  docs/qcportal/source/client-record-query.rst
  docs/qcportal/source/client.rst
  docs/qcportal/source/collection-dataset.rst
  docs/qcportal/source/collections.rst
  docs/qcportal/source/conf.py
  docs/qcportal/source/glossary.rst
  docs/qcportal/source/index.rst
  docs/qcportal/source/install.rst
  docs/qcportal/source/procedures.rst
  docs/qcportal/source/record-overview.rst
  docs/qcportal/source/results.rst
  readthedocs.yml
Labels: Interface, Testing

#211 Queue Manager now reads Config File
  docs/qcfractal/source/setup_compute.rst
  qcfractal/cli/cli_utils.py
  qcfractal/cli/qcfractal_manager.py
  qcfractal/cli/qcfractal_template_generator.py
  qcfractal/cli/tests/test_cli.py
  qcfractal/queue/managers.py
  qcfractal/server.py
  setup.py
Labels: Enhancement, Queue

#215 Dask fixes
  docs/qcfractal/source/changelog.rst
  qcfractal/cli/cli_utils.py
  qcfractal/cli/qcfractal_manager.py
  qcfractal/queue/managers.py
Labels: Bug, Queue, Testing

#217 QCPortal: Versioneer after installation fixes
  qcfractal/interface/__init__.py
Labels: Enhancement, Interface

#216 Smart Manager job pulls and priority queue
  benchmarks/bench_queue.py
  examples/test_examples.py
  qcfractal/cli/qcfractal_manager.py
  qcfractal/cli/tests/test_cli.py
  qcfractal/interface/client.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/collections/openffworkflow.py
  qcfractal/interface/collections/reaction_dataset.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/task_models.py
  qcfractal/procedures/__init__.py
  qcfractal/procedures/procedures.py
  qcfractal/queue/base_adapter.py
  qcfractal/queue/handlers.py
  qcfractal/queue/managers.py
  qcfractal/services/gridoptimization_service.py
  qcfractal/services/service_util.py
  qcfractal/services/services.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/storage_sockets/me_models.py
  qcfractal/storage_sockets/mongoengine_socket.py
  qcfractal/tests/test_adapaters.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_mongoengine_socket.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_storage.py
  qcfractal/web_handlers.py
Labels: Interface, Queue

#219 Project Snowflake
  examples/test_examples.py
  qcfractal/__init__.py
  qcfractal/cli/qcfractal_manager.py
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/procedures/procedures.py
  qcfractal/queue/executor_adapter.py
  qcfractal/queue/managers.py
  qcfractal/queue/parsl_adapter.py
  qcfractal/server.py
  qcfractal/snowflake.py
  qcfractal/testing.py
  qcfractal/tests/test_procedures.py
  qcfractal/web_handlers.py
Labels: Feature, Interface

#220 Add scratch directory to Manager settings
  qcfractal/cli/qcfractal_manager.py
  qcfractal/queue/base_adapter.py
  qcfractal/queue/managers.py
  qcfractal/tests/test_adapaters.py
Labels: Bug, Queue

#222 REST Interface Validation
  qcfractal/cli/qcfractal_manager.py
  qcfractal/interface/client.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/collections/openffworkflow.py
  qcfractal/interface/collections/reaction_dataset.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/queue/handlers.py
  qcfractal/queue/managers.py
  qcfractal/server.py
  qcfractal/testing.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_services.py
  qcfractal/web_handlers.py
Labels: Documentation, Enhancement, Interface

#223 TorsionDriveDataset
  docs/qcportal/source/conf.py
  examples/test_examples.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/interface/client.py
  qcfractal/interface/collections/__init__.py
  qcfractal/interface/collections/collection.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/collections/torsiondrive_dataset.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/models/gridoptimization.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/server.py
  qcfractal/snowflake.py
  qcfractal/tests/test_collections.py
Labels: Collection, Interface

#228 Visualization Pass
  devtools/conda-envs/adapters.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  examples/local_dataset/query_database.py
  qcfractal/cli/qcfractal_manager.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/extras.py
  qcfractal/interface/collections/collection_utils.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/collections/openffworkflow.py
  qcfractal/interface/collections/reaction_dataset.py
  qcfractal/interface/collections/torsiondrive_dataset.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/interface/statistics.py
  qcfractal/interface/tests/test_visualization.py
  qcfractal/interface/visualization.py
  qcfractal/server.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/mongoengine_socket.py
  qcfractal/tests/test_collections.py
Labels: Interface

#233 TorsionDrive Dataset Visualization
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/collections/torsiondrive_dataset.py
  qcfractal/interface/tests/test_visualization.py
  qcfractal/interface/visualization.py
  qcfractal/queue/handlers.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_compute.py
Labels: Collection

#234 QoL changes to the queue manager and whats reported
  qcfractal/cli/qcfractal_manager.py
  qcfractal/interface/tests/test_visualization.py
  qcfractal/queue/base_adapter.py
  qcfractal/queue/executor_adapter.py
  qcfractal/queue/fireworks_adapter.py
  qcfractal/queue/managers.py
  qcfractal/queue/parsl_adapter.py
Labels: Enhancement, Queue

#235 Update docs for 0.5.5
  docs/qcfractal/source/changelog.rst
  docs/qcportal/source/changelog.rst
Labels: Documentation

#239 DFTD3 Visualization and other tweaks
  qcfractal/interface/client.py
  qcfractal/interface/collections/collection_utils.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/collections/reaction_dataset.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/tests/test_visualization.py
  qcfractal/interface/visualization.py
  qcfractal/testing.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_compute.py
Labels: Collection
