Repository MolSSI/QCFractal, pull requests merged in 2019-07, with the labels that each got.

#307 CLI Overhaul
  .travis.yml
  conftest.py
  devtools/conda-envs/adapters.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  docs/qcfractal/source/setup_server.rst
  qcfractal/cli/qcfractal_server.py
  qcfractal/cli/tests/test_cli.py
  qcfractal/config.py
  qcfractal/postgres_harness.py
  qcfractal/server.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/storage_socket.py
  qcfractal/testing.py
  qcfractal/tests/test_adapaters.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_managers.py
  qcfractal/util.py
Labels: Enhancement, Feature

#310 Client-based task manipulation
  qcfractal/interface/client.py
  qcfractal/interface/models/rest_models.py
  qcfractal/procedures/procedures.py
  qcfractal/queue/handlers.py
  qcfractal/server.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_storage_sql.py
Labels: Enhancement

#316 Remove dask-jobqueue workarounds
  devtools/conda-envs/adapters.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  qcfractal/cli/qcfractal_manager.py
  setup.py
Labels: Bug, Queue

#312 Add SQL migration script
  devtools/conda-envs/adapters.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  devtools/scripts/create_staging.py
  examples/SQLAlchemy_Setup.md
  qcfractal/alembic.ini
  qcfractal/alembic/README
  qcfractal/alembic/env.py
  qcfractal/alembic/script.py.mako
  qcfractal/alembic/versions/d28e52d86633_add_username_to_manager.py
  qcfractal/storage_sockets/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/storage_sockets/storage_socket.py
  qcfractal/tests/test_services.py
Labels: Database, Enhancement

#314 PostgresHarness update
  qcfractal/cli/tests/test_cli.py
  qcfractal/postgres_harness.py
Labels: Enhancement

#318 Automatic pagination for very large collections
  qcfractal/interface/client.py
  qcfractal/interface/collections/collection.py
  qcfractal/interface/collections/collection_utils.py
  qcfractal/interface/collections/dataset.py
Labels: Enhancement

#296 Services: Now ordered by created data and priority
  examples/test_examples.py
  qcfractal/alembic/versions/6adeb5d3032e_service_ordering.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/config.py
  qcfractal/interface/models/task_models.py
  qcfractal/queue/handlers.py
  qcfractal/server.py
  qcfractal/services/service_util.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_sqlalchemy.py
  qcfractal/tests/test_storage_sql.py
Labels: Enhancement

#313 Manager Quality of Life statistics
  .lgtm.yml
  qcfractal/cli/qcfractal_manager.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/queue/adapters.py
  qcfractal/queue/base_adapter.py
  qcfractal/queue/executor_adapter.py
  qcfractal/queue/managers.py
  qcfractal/queue/parsl_adapter.py
  qcfractal/snowflake.py
Labels: Enhancement, Queue

#321 Add Server CLI Documentation
  docs/qcfractal/source/conf.py
  docs/qcfractal/source/database_design.rst
  docs/qcfractal/source/glossary.rst
  docs/qcfractal/source/index.rst
  docs/qcfractal/source/server_config.rst
  docs/qcfractal/source/server_init.rst
  docs/qcfractal/source/server_start.rst
  docs/qcfractal/source/server_upgrade.rst
  docs/qcfractal/source/setup_server.rst
  qcfractal/cli/cli_utils.py
  qcfractal/cli/qcfractal_manager.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/config.py
  qcfractal/postgres_harness.py
  qcfractal/queue/managers.py
  qcfractal/queue/parsl_adapter.py
  qcfractal/util.py
Labels: Documentation

#324 Optimization molecular trajectory pulling
  qcfractal/interface/models/records.py
  qcfractal/tests/test_procedures.py
Labels: Enhancement

#323 GridOptimization Datasets
  qcfractal/interface/client.py
  qcfractal/interface/collections/__init__.py
  qcfractal/interface/collections/collection.py
  qcfractal/interface/collections/gridoptimization_dataset.py
  qcfractal/interface/collections/optimization_dataset.py
  qcfractal/interface/collections/torsiondrive_dataset.py
  qcfractal/tests/test_collections.py
Labels: Feature, Interface

#322 Client Pagination
  qcfractal/interface/client.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/tests/test_visualization.py
  qcfractal/queue/handlers.py
  qcfractal/tests/test_compute.py
  qcfractal/web_handlers.py
Labels: Enhancement, Interface

#325 Optimizes collections
  qcfractal/interface/client.py
  qcfractal/interface/collections/collection.py
  qcfractal/interface/collections/gridoptimization_dataset.py
  qcfractal/interface/collections/optimization_dataset.py
  qcfractal/interface/collections/torsiondrive_dataset.py
  qcfractal/tests/test_collections.py
Labels: Enhancement

#319 Add upgrade DB to CLI
  MANIFEST.in
  devtools/scripts/create_staging.py
  qcfractal/alembic.ini
  qcfractal/alembic/env.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/cli/tests/test_cli.py
  qcfractal/config.py
  qcfractal/postgres_harness.py
  qcfractal/snowflake.py
Labels: Database, Feature

#327 Fix notebook syntax highlighting
  docs/requirements.yml
Labels: Bug, Documentation

#326 Molecule: Explicitly sets fragment options
  devtools/conda-envs/adapters.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  qcfractal/interface/collections/reaction_dataset.py
  qcfractal/interface/tests/test_dataset.py
  qcfractal/interface/tests/test_molecule.py
  qcfractal/tests/test_adapaters.py
  setup.py
Labels: Enhancement, Interface

#331 Allow Retries as Engine Option, Error trap doc formatter
  devtools/conda-envs/adapters.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  qcfractal/cli/qcfractal_manager.py
  qcfractal/cli/tests/manager_boot_template.yaml
  qcfractal/queue/base_adapter.py
  qcfractal/queue/managers.py
  qcfractal/util.py
  setup.py
Labels: Documentation, Enhancement, Queue

#328 Start Changelog for 0.8.0
  devtools/conda-envs/adapters.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  docs/qcfractal/source/changelog.rst
  docs/qcportal/source/changelog.rst
  qcfractal/interface/client.py
  setup.py
Labels: Documentation

#335 Dataset: Fixes get_history with force
  qcfractal/cli/qcfractal_server.py
  qcfractal/config.py
  qcfractal/interface/collections/dataset.py
  qcfractal/tests/test_collections.py
Labels: Bug, Interface, Patch Candidate

#340 On-Demand BaseModel Doc Generation
  qcfractal/cli/qcfractal_manager.py
  qcfractal/config.py
  qcfractal/interface/models/__init__.py
  qcfractal/interface/tests/test_utils.py
  qcfractal/interface/util.py
Labels: Documentation, Enhancement

#341 More Queue Manger QoL additions and testing
  qcfractal/cli/qcfractal_manager.py
  qcfractal/cli/tests/test_cli.py
  qcfractal/queue/managers.py
  qcfractal/tests/test_managers.py
Labels: Enhancement, Queue

#342 Update Changelog for Portal 0.8.1
  docs/qcportal/source/changelog.rst
Labels: Documentation

#345 Fix Portal Version when not found
  qcfractal/interface/client.py
Labels: Bug
