Repository MolSSI/QCFractal, pull requests merged in 2019-10, with the labels that each got.

#420 Protocols
  docs/qcfractal/source/conf.py
  docs/qcportal/source/_static/custom.css
  docs/qcportal/source/_static/js/theme.js
  docs/qcportal/source/_templates/layout.html
  docs/qcportal/source/conf.py
  docs/qcportal/source/index.rst
  docs/qcportal/source/procedures.rst
  docs/qcportal/source/record-api.rst
  docs/qcportal/source/record-optimization-example.ipynb
  docs/qcportal/source/record-optimization.rst
  docs/qcportal/source/record-overview.rst
  docs/qcportal/source/record-result-example.ipynb
  docs/qcportal/source/record-result.rst
  docs/qcportal/source/results.rst
  qcfractal/alembic/versions/c194a8ef6acf_protocols.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/models/common_models.py
  qcfractal/interface/models/records.py
  qcfractal/procedures/procedures.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/tests/test_procedures.py
Labels: Compute, Database

#421 0.11.0 Changelog and Pins
  devtools/conda-envs/adapters.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  docs/qcfractal/source/changelog.rst
  docs/qcportal/source/changelog.rst
  qcfractal/server.py
  setup.py
Labels: Documentation

#429 OptimizationDataset Protocols
  qcfractal/interface/collections/optimization_dataset.py
  qcfractal/tests/test_collections.py
Labels: Enhancement

#430 Portal type hints
  qcfractal/interface/client.py
  qcfractal/interface/collections/__init__.py
  qcfractal/interface/collections/collection.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/collections/dataset_view.py
  qcfractal/interface/collections/gridoptimization_dataset.py
  qcfractal/interface/collections/optimization_dataset.py
  qcfractal/interface/collections/reaction_dataset.py
  qcfractal/interface/collections/torsiondrive_dataset.py
  qcfractal/interface/models/gridoptimization.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/tests/test_collections.py
Labels: Interface

#431 Collections: Updates collections with new viewable fields
  qcfractal/alembic/versions/a2f76bb7be65_updates_collections_table_with_owner_.py
  qcfractal/interface/collections/collection.py
  qcfractal/storage_sockets/models/collections_models.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_storage.py
Labels: Database, Enhancement

#440 Wavefunction Computation & Storage
  qcfractal/alembic/versions/1bd2f7711e68_wavefunction_table.py
  qcfractal/interface/client.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/rest_models.py
  qcfractal/procedures/procedures.py
  qcfractal/server.py
  qcfractal/storage_sockets/models/__init__.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_procedures.py
  qcfractal/web_handlers.py
Labels: Compute, Database

#446 Pydantic 1.0 Changes
  devtools/conda-envs/adapters.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  qcfractal/cli/qcfractal_manager.py
  qcfractal/config.py
  qcfractal/interface/collections/collection.py
  qcfractal/interface/collections/dataset_view.py
  qcfractal/interface/models/common_models.py
  qcfractal/interface/models/gridoptimization.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/task_models.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/interface/util.py
  qcfractal/services/service_util.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_adapaters.py
  qcfractal/tests/test_collections.py
  qcfractal/web_handlers.py
  setup.py
Labels: Enhancement

#445 Staging: copy specific datasets and results with datasets
  devtools/scripts/create_staging.py
Labels: Enhancement

#452 Use inlcude/exclude in queries with hybrid prop
  qcfractal/storage_sockets/models/collections_models.py
  qcfractal/storage_sockets/models/results_models.py
  qcfractal/storage_sockets/models/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Enhancement
