Repository MolSSI/QCFractal, pull requests merged in 2019-01, with the labels that each got.

#106 Heartbeat Manager
  .travis.yml
  qcfractal/cli/cli_utils.py
  qcfractal/cli/qcfractal_manager.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/interface/client.py
  qcfractal/queue/handlers.py
  qcfractal/queue/managers.py
  qcfractal/server.py
  qcfractal/storage_sockets/models.py
  qcfractal/storage_sockets/mongoengine_socket.py
  qcfractal/testing.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_portal.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_queue.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_storage_sockets_me.py
  qcfractal/web_handlers.py
Labels: Feature

#107 Minor bug fixes
  qcfractal/interface/client.py
  qcfractal/testing.py
  qcfractal/tests/test_collections.py
  setup.py
Labels: Bug

#109 Changelog: Bumps for version v0.4
  docs/source/changelog.rst
Labels: Documentation

#100 Optimize DB indexes
  qcfractal/storage_sockets/models.py
  qcfractal/storage_sockets/mongoengine_socket.py
  qcfractal/storage_sockets/storage_utils.py
  qcfractal/tests/test_storage_sockets_me.py
Labels: Database, Enhancement

#114 Generic Collection
  qcfractal/interface/collections/__init__.py
  qcfractal/interface/collections/collection.py
  qcfractal/interface/collections/generic.py
  qcfractal/tests/test_collections.py
Labels: Collection, Feature

#120 Refactors Adapter Testing and Server + Manager arrangement
  examples/fireworks_dataset/fw_lpad.yaml
  examples/fireworks_dataset/reset_server.py
  examples/local_dataset/README.md
  examples/local_dataset/build_database.py
  examples/local_dataset/compute_database.py
  examples/local_dataset/query_database.py
  examples/local_dataset/reset_server.py
  examples/test_examples.py
  qcfractal/__init__.py
  qcfractal/cli/qcfractal_manager.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/cli/tests/test_cli.py
  qcfractal/queue/adapters.py
  qcfractal/queue/base_adapter.py
  qcfractal/queue/dask_adapter.py
  qcfractal/queue/executor_adapter.py
  qcfractal/queue/fireworks_adapter.py
  qcfractal/queue/managers.py
  qcfractal/queue/parsl_adapter.py
  qcfractal/server.py
  qcfractal/testing.py
  qcfractal/tests/test_adapaters.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_services.py
Labels: Queue, Testing

#125 Start QCEngine 0.5 conversion in qcfractal [WIP]
  benchmarks/bench_mongoengine.py
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dask.yaml
  devtools/conda-envs/fireworks.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  devtools/conda-envs/parsl.yaml
  docs/source/portal-molecule.rst
  examples/local_dataset/build_database.py
  examples/local_dataset/query_database.py
  examples/local_dataset/reset_server.py
  qcfractal/interface/__init__.py
  qcfractal/interface/client.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/collections/openffworkflow.py
  qcfractal/interface/data/data_getters.py
  qcfractal/interface/data/molecules/butane.json
  qcfractal/interface/models/__init__.py
  qcfractal/interface/molecule.py
  qcfractal/interface/schema/molecule_schema.py
  qcfractal/interface/tests/test_molecule.py
  qcfractal/procedures/procedures.py
  qcfractal/procedures/procedures_util.py
  qcfractal/queue/handlers.py
  qcfractal/queue/managers.py
  qcfractal/storage_sockets/mongoengine_socket.py
  qcfractal/tests/test_adapaters.py
  qcfractal/tests/test_collections.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_mongoengine_socket.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_queue.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_storage_sockets_me.py
  setup.py
Labels: Collection, Feature, Interface

#118 Simplified task submission refactor
  qcfractal/interface/collections/openffworkflow.py
  qcfractal/procedures/__init__.py
  qcfractal/procedures/procedures.py
  qcfractal/procedures/procedures_util.py
  qcfractal/queue/handlers.py
  qcfractal/server.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/storage_sockets/models.py
  qcfractal/storage_sockets/mongoengine_socket.py
  qcfractal/storage_sockets/storage_utils.py
  qcfractal/tests/test_adapaters.py
  qcfractal/tests/test_managers.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_queue.py
  qcfractal/tests/test_storage_sockets_me.py
  qcfractal/web_handlers.py
Labels: Database, Enhancement, Procedure, Queue

#133 Molecule orientation fix
  examples/local_dataset/build_database.py
  examples/local_dataset/query_database.py
  qcfractal/interface/client.py
  qcfractal/queue/managers.py
  qcfractal/server.py
  qcfractal/storage_sockets/mongoengine_socket.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_procedures.py
Labels: Bug, Database
