Repository MolSSI/QCFractal, pull requests merged in 2019-06, with the labels that each got.

#280 Optimize torsion joins
  qcfractal/storage_sockets/sql_models.py
Labels: Database

#281 Migration tweaks
  .travis.yml
  devtools/old_migrations/drop_procedures.py
  devtools/old_migrations/mongo_to_SQL_v0.6.0_v0.7.0.py
  examples/SQLAlchemy_Setup.md
  qcfractal/interface/models/records.py
  qcfractal/queue/managers.py
  qcfractal/storage_sockets/migrations/__init__.py
  qcfractal/storage_sockets/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
  qcfractal/tests/test_authentication.py
  qcfractal/tests/test_procedures.py
Labels: Bug, Enhancement

#283 Dask lsf manger error
  qcfractal/cli/qcfractal_manager.py
Labels: Bug, Queue

#285 Update changelog for 0.7.2
  docs/qcfractal/source/changelog.rst
  docs/qcportal/source/changelog.rst
Labels: Documentation

#284 Manager and Portal Docs pass
  docs/qcportal/source/client.rst
  docs/qcportal/source/index.rst
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/models/common_models.py
  qcfractal/interface/models/gridoptimization.py
  qcfractal/interface/models/model_builder.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/tests/test_procedures.py
Labels: Documentation

#291 Add real tests for Queue Managers and fix a number of issues
  devtools/conda-envs/adapters.yaml
  docs/qcfractal/source/changelog.rst
  docs/qcfractal/source/managers_samples.rst
  qcfractal/cli/cli_utils.py
  qcfractal/cli/qcfractal_manager.py
  qcfractal/cli/qcfractal_template_generator.py
  qcfractal/cli/tests/manager_boot_template.yaml
  qcfractal/cli/tests/test_cli.py
  qcfractal/testing.py
Labels: Bug, Enhancement, Queue, Testing

#292 Remove entry point for template generator
  setup.py
Labels: Enhancement, Queue

#295 Small tweaks
  qcfractal/cli/qcfractal_manager.py
  qcfractal/cli/qcfractal_server.py
  qcfractal/queue/handlers.py
  qcfractal/queue/managers.py
  qcfractal/server.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_managers.py
Labels: Enhancement

#301 Storage: Protects against salt issues
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Bug, Enhancement

#300 get_future error's return FailedOperation instead of dict
  qcfractal/cli/qcfractal_manager.py
  qcfractal/cli/tests/test_cli.py
  qcfractal/queue/executor_adapter.py
  qcfractal/queue/parsl_adapter.py
Labels: Bug, Queue

#306 Tasks Per Worker CLI fix
  qcfractal/cli/qcfractal_manager.py
  qcfractal/cli/tests/test_cli.py
Labels: Bug

#303 TorsionDS Status
  qcfractal/interface/collections/collection.py
  qcfractal/interface/collections/torsiondrive_dataset.py
  qcfractal/tests/test_collections.py
Labels: Enhancement
