Repository MolSSI/QCFractal, pull requests merged in 2019-05, with the labels that each got.

#248 Stale Job Tracking
  qcfractal/cli/qcfractal_manager.py
  qcfractal/interface/client.py
  qcfractal/queue/managers.py
  qcfractal/tests/test_managers.py
Labels: Bug, Queue

#250 Tweaks
  qcfractal/interface/collections/collection.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/models/records.py
Labels: Bug

#253 GridOpt: Fixes qc_spec hashing
  qcfractal/interface/models/gridoptimization.py
  qcfractal/interface/models/tests/test_hashes.py
Labels: Bug

#256 QCEl: Bumps depends to v0.4
  devtools/conda-envs/adapters.yaml
  devtools/conda-envs/base.yaml
  devtools/conda-envs/dev_head.yaml
  devtools/conda-envs/generate_envs.py
  devtools/conda-envs/openff.yaml
  qcfractal/interface/models/tests/test_hashes.py
  qcfractal/interface/tests/test_dataset.py
  qcfractal/interface/tests/test_molecule.py
  setup.py
Labels: Enhancement, Interface

#254 Begins Dashboard
  .lgtm.yml
  qcfractal/cli/qcfractal_dashboard.py
  qcfractal/dashboard/__init__.py
  qcfractal/dashboard/app.py
  qcfractal/dashboard/connection.py
  qcfractal/dashboard/dash_managers.py
  qcfractal/dashboard/dash_queue.py
  qcfractal/dashboard/dash_service.py
  qcfractal/dashboard/index.py
  qcfractal/dashboard/navbar.py
  qcfractal/dashboard/start_dashboard.py
  setup.cfg
  setup.py
Labels: Enhancement, Feature

#260 Envs: Adds production environments to the devtools folder
  devtools/prod-envs/README.md
  devtools/prod-envs/qcf-manager-openff.yaml
  devtools/prod-envs/qcf-snowflake.yaml
Labels: Enhancement

#258 Fractal Managers: The Documentation Cometh
  docs/qcfractal/source/changelog.rst
  docs/qcfractal/source/community.rst
  docs/qcfractal/source/conf.py
  docs/qcfractal/source/glossary.rst
  docs/qcfractal/source/index.rst
  docs/qcfractal/source/managers.rst
  docs/qcfractal/source/managers_config_api.rst
  docs/qcfractal/source/managers_detailed.rst
  docs/qcfractal/source/managers_faq.rst
  docs/qcfractal/source/managers_samples.rst
  docs/qcfractal/source/media/QCFractalQueueManager.png
  docs/qcfractal/source/media/QCFractalQueueManager.xml
  docs/qcfractal/source/media/QCQuManagerBasic.png
  docs/qcfractal/source/media/QCQuManagerBasic.xml
  docs/qcfractal/source/media/QCQuManagerNetwork.png
  docs/qcfractal/source/media/QCQuManagerNetwork.xml
  docs/qcfractal/source/setup_compute.rst
  docs/qcfractal/source/setup_server.rst
  qcfractal/cli/cli_utils.py
  qcfractal/cli/qcfractal_manager.py
Labels: Documentation, Queue

#249 Add many to many relations and Model services in SQL
  .travis.yml
  devtools/conda-envs/generate_envs.py
  examples/SQLAlchemy_Setup.md
  qcfractal/interface/client.py
  qcfractal/interface/collections/dataset.py
  qcfractal/interface/collections/reaction_dataset.py
  qcfractal/interface/models/common_models.py
  qcfractal/interface/models/records.py
  qcfractal/interface/models/rest_models.py
  qcfractal/interface/models/task_models.py
  qcfractal/interface/models/tests/test_common_models.py
  qcfractal/procedures/procedures.py
  qcfractal/procedures/procedures_util.py
  qcfractal/services/service_util.py
  qcfractal/services/torsiondrive_service.py
  qcfractal/snowflake.py
  qcfractal/storage_sockets/mongoengine_socket.py
  qcfractal/storage_sockets/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/testing.py
  qcfractal/tests/test_adapaters.py
  qcfractal/tests/test_client.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_procedures.py
  qcfractal/tests/test_server.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_sqlalchemy.py
  qcfractal/tests/test_storage.py
  qcfractal/tests/test_storage_sql.py
  qcfractal/web_handlers.py
  setup.py
Labels: Database, Feature, Procedure, Service

#251 Add sanity server/client version check
  qcfractal/interface/__init__.py
  qcfractal/interface/client.py
  qcfractal/server.py
Labels: Database, Enhancement, Interface

#263 Add SQL DB indexes
  qcfractal/storage_sockets/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_procedures.py
Labels: Database

#266 Changelog for 0.7.0 and Doc fixes
  devtools/README.md
  docs/qcfractal/source/changelog.rst
  docs/qcfractal/source/index.rst
  docs/qcfractal/source/install.rst
  docs/qcfractal/source/setup_compute.rst
  docs/qcportal/source/changelog.rst
  qcfractal/interface/client.py
  qcfractal/server.py
Labels: Documentation

#264 Store QC libs version in DB
  qcfractal/storage_sockets/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
Labels: Compute, Database

#267 Implement pagination in sql with testing
  qcfractal/storage_sockets/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_storage_sql.py
Labels: Database

#270 LSF Dask Workarounds now tested and working properly
  docs/qcfractal/source/changelog.rst
  qcfractal/cli/qcfractal_manager.py
Labels: Bug, Queue

#268 Manager settings QOL Update: Names
  docs/qcfractal/source/managers.rst
  docs/qcfractal/source/managers_faq.rst
  docs/qcfractal/source/managers_samples.rst
  docs/qcfractal/source/setup_compute.rst
  qcfractal/cli/qcfractal_manager.py
  qcfractal/cli/tests/test_cli.py
Labels: Documentation, Queue

#272 0.7.0 Final Changelog
  docs/qcfractal/source/changelog.rst
  docs/qcfractal/source/managers.rst
  docs/qcfractal/source/managers_config_api.rst
  docs/qcfractal/source/managers_faq.rst
  docs/qcfractal/source/managers_samples.rst
  docs/qcportal/source/changelog.rst
  qcfractal/cli/qcfractal_manager.py
Labels: Documentation

#275 Make a Doc continuity pass for 0.7
  devtools/README.md
  docs/qcfractal/source/changelog.rst
  docs/qcfractal/source/database_design.rst
  docs/qcfractal/source/dev_guidelines.rst
  docs/qcfractal/source/flow.rst
  docs/qcfractal/source/glossary.rst
  docs/qcfractal/source/install.rst
  docs/qcfractal/source/managers.rst
  docs/qcfractal/source/managers_samples.rst
  docs/qcfractal/source/qcarchive_overview.rst
  docs/qcfractal/source/results.rst
  docs/qcfractal/source/services.rst
  docs/qcfractal/source/setup_compute.rst
  docs/qcfractal/source/setup_server.rst
Labels: Documentation

#276 Database updates
  .codecov.yml
  qcfractal/interface/collections/reaction_dataset.py
  qcfractal/interface/models/common_models.py
  qcfractal/interface/models/task_models.py
  qcfractal/interface/models/torsiondrive.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_procedures.py
Labels: Enhancement

#277 Client: Removes ids when printing
  qcf_0_6_to_0_7_migration.py
  qcfractal/interface/client.py
  qcfractal/snowflake.py
Labels: Bug

#278 Version reported by Server to Portal Client is always 3 groups
  docs/qcfractal/source/changelog.rst
  qcfractal/server.py
Labels: Bug

#271 Migrate existing mongo DB into SQL DB
  qcfractal/cli/tests/test_cli.py
  qcfractal/storage_sockets/migrations/__init__.py
  qcfractal/storage_sockets/migrations/drop_procedures.py
  qcfractal/storage_sockets/migrations/mongo_to_SQL_v0.6.0_v0.7.0.py
  qcfractal/storage_sockets/mongoengine_socket.py
  qcfractal/storage_sockets/sql_models.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_compute.py
  qcfractal/tests/test_storage_sql.py
Labels: Database, Feature

#279 Tasks deleted from task_queue when done successfully
  docs/qcfractal/source/changelog.rst
  qcfractal/storage_sockets/migrations/mongo_to_SQL_v0.6.0_v0.7.0.py
  qcfractal/storage_sockets/sqlalchemy_socket.py
  qcfractal/tests/test_services.py
  qcfractal/tests/test_storage_sql.py
Labels: Database, Feature
